popover {
    .item-md {
        padding-left: 0px;
        border-radius: 12px;
        height: 20px;
     }
     .item-md.item-block .item-inner {
        padding-right: 0px;
        border: 1px solid #21b4f3;
        height:20px;
        border-radius: 12px;
     }
     .mtpHeader{
         text-align: center;
         padding: 10px;
     }
     .select {
        max-width: -webkit-fit-content !important;
     }
     .lblStatus{
        text-align: end;
     }
     .btnStyle {
        margin-bottom: 10px;
     }
     .btnCenter {
      display: flex; 
      justify-content: center;
     }
}
