<ion-header class="page-header">
  <ion-navbar #navbar>
    <div class="row text-center">
      <div class="col-md-8">
        <div class="title">{{ 'card.GeneralInfoFields.1to1Calls' | translate }}</div>
      </div>
      <div class="col-md-2">
        <button class="ctrl-btn" (click)="openPresentations()">{{ 'common.buttons.Presentations' | translate }}</button>
      </div>
      <div class="col-md-2">
        <button class="ctrl-btn" (click)="validateCallReport()">{{ 'common.buttons.SaveBtn' | translate }}</button>
      </div>
    </div>
  </ion-navbar>
</ion-header>


<ion-content class="content-page-detail">
  <div class="wrapper">
    <div class="page-row">
      <div class="page-col">
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.Customer' | translate}}</div>
          <div class="info-cell value hyperlink">
           {{Reference?.contactFirstName}} {{Reference?.contactLastName}}
          </div>
        </div>

        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.Organization' | translate}}</div>
          <div class="info-cell value hyperlink" [innerHtml]="Reference?.organizationName"></div>

        </div>

        <div class="info-row">
          <div class="info-cell label">{{'common.names.CoachingVisit' | translate}}</div>
          <div class="info-cell value">
              <ion-item>
                  <ion-select [(ngModel)]='coachingVisit' interface="popover" class="selector" placeholder="Select One">
                    <ion-option *ngFor="let coachingVisit of coachingVisitPickListDataSource" [value]="coachingVisit.id">{{coachingVisit?.description}}
                    </ion-option>
                  </ion-select>
                </ion-item>
            <!-- <ion-item>
              <ion-select [(ngModel)]='callReport.coachingVisit' class="select select-picklist-button" [(ngModel)]="callReport.coachingVisit" [selectOptions]="filterOptions" multiple="false" (ionChange)="onChangeCoachingVisitHandler(callReport.coachingVisit)">
                <ion-option *ngFor="let coachingVisit of coachingVisitPickListDataSource" value="coachingVisit.id">{{ coachingVisit.description }}</ion-option>
              </ion-select>
            </ion-item> -->
          </div>
        </div>

        <div class="info-row">
          <div class="info-cell label">{{'common.names.CoachingVisitUser' | translate}}</div>
          <div class="info-cell value">
            <button class="picklist-button psevdo-text-area" (click)="onTapUserHandler()">
                    <span [innerHtml]="selectedUserSingleStringList"></span>
                    <span *ngIf="!selectedUserSingleStringList?.length">{{ 'card.GeneralInfoFields.CoachingVisitUserPlaceholder' | translate }}</span>
              <!-- <span class="placeholder">{{'card.GeneralInfoFields.CoachingVisitUserPlaceholder' | translate}}</span> -->
              <!-- <span *ngIf="order.getAccountColumnData('').length" [innerHtml]="order.getAccountColumnData('')"></span> -->
            </button>
          </div>
        </div>

        <div class="info-row">
          <div class="info-cell label">{{'common.names.JointVisitParticipants' | translate}}</div>
          <div class="info-cell value">
            <button class="picklist-button" (click)="onTapMultiUserHandler()">
                <span [innerHtml]="selectedUserMultiStringList"></span>
                <span *ngIf="!selectedUserMultiStringList?.length">{{ 'card.GeneralInfoFields.JointVisitParticipantsPlaceholder' | translate }}</span>
              <!-- <span class="placeholder">{{'card.GeneralInfoFields.JointVisitParticipantsPlaceholder' | translate}}</span> -->
              <!-- <span *ngIf="order.getAccountColumnData('').length" [innerHtml]="order.getAccountColumnData('')"></span> -->
            </button>
          </div>
        </div>

        <!-- <div class="info-row remarks-wrapper">
          <div class="info-cell label">{{'card.GeneralInfoFields.CallObjective' | translate}}</div>
          <div class="info-cell value">
            <ion-textarea class="text-area"
            placeholder="{{ 'commentView.AnyComments' | translate }}"></ion-textarea>
          </div>
        </div> -->

      </div>
      <div class="page-col">

        <div class="info-row">
          <div class="info-cell label">{{'common.names.TypeOfVisit' | translate}}</div>
          <div class="info-cell value">
              <ion-item>
                  <ion-select [(ngModel)]='callReport.typeOfVisit'  interface="popover" class="selector"  (ionChange)="onTapTypeOfVisitBtnHandler(callReport.typeOfVisit)" placeholder="Select One" id="coachingVisit">
                    <ion-option *ngFor="let typeOfVisit of typeOfVisitPicklistOptions" [value]="typeOfVisit.id">{{typeOfVisit?.description}}
                    </ion-option>
                  </ion-select>
                </ion-item>
                
            <!-- <button class="picklist-button" (click)="onTapTypeOfVisitBtnHandler()">
              <span [innerHtml]="" class="placeholder">{{'common.defaultSelectValue' | translate}}</span>
            </button> -->
          </div>
        </div>

        <div class="info-row">
          <div class="info-cell label">{{'common.names.BUSpecialty' | translate}}</div>
          <div class="info-cell value" [innerHtml]="Reference?.contactSpecialty"></div>
        </div>

        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.User' | translate}}</div>
          <div class="info-cell value" [innerHtml]="activeUser?.name"></div>
        </div>

        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.DateTimePlanned' | translate}}</div>
          <div class="info-cell value calendar">
            <ion-datetime [pickerOptions]="{ cssClass: 'datetime-picker'}"
            [(ngModel)]='callReport.dateTimePlanned'
            [max]="maxDate()"
            [min]="minDate()"
            cancelText="{{'common.buttons.CancelBtn' | translate}}"
            doneText="{{'common.buttons.SaveBtn' | translate}}"
            pickerFormat="DDD MMM DD YYYY HH mm"
            displayFormat="DD.MM.YYYY \n HH:mm">
          </ion-datetime>
        </div>
      </div>

      <div class="info-row">
        <div class="info-cell label">{{'common.names.DateTimeVisitStart' | translate}}</div>
        <div class="info-cell value calendar">
          <ion-datetime [pickerOptions]="{ cssClass: 'datetime-picker'}"
          [(ngModel)]='callReport.dateTimeVisitStart'
          [max]="maxDate()"
          [min]="minDate()"
          cancelText="{{'common.buttons.CancelBtn' | translate}}"
          doneText="{{'common.buttons.SaveBtn' | translate}}"
          pickerFormat="DDD MMM DD YYYY HH mm"
          displayFormat="DD.MM.YYYY \n HH:mm">
        </ion-datetime>
      </div>
    </div>

    <div class="info-row">
      <div class="info-cell label">{{'card.GeneralInfoFields.Duration' | translate}}</div>
      <div class="info-cell value calendar">
          <ion-item>
              <ion-select [(ngModel)]='callReport.duration' interface="popover" class="selector" placeholder="Select Duration">
                <ion-option *ngFor="let duration of durationPickListOptions" [value]="duration">{{duration}}
                </ion-option>
              </ion-select>
            </ion-item>

      </div>
    </div>

    <!-- <div class="info-row remarks-wrapper">
      <div class="info-cell label">{{'card.GeneralInfoFields.CallComments' | translate}}</div>
      <div class="info-cell value">
        <ion-textarea class="text-area"
        placeholder="{{ 'commentView.Placeholder' | translate }}"></ion-textarea>
      </div>
    </div> -->
  </div>
</div>
</div>
<ion-row>
  <ion-col>
    <ion-row class="questionBackground">
      <ion-col class="margin-0 marginLeft">{{'card.GeneralInfoFields.CallObjective' | translate}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input class="textAreaDesign marginLeft" [(ngModel)]='callReport.callObjective' type="text" placeholder="{{'commentView.AnyComments' | translate}}"></ion-input>
      </ion-col>
    </ion-row>
  </ion-col>
  <ion-col>
    <ion-row class="questionBackground">
      <ion-col class="margin-0">{{'card.GeneralInfoFields.CallComments' | translate}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input class="textAreaDesign" [(ngModel)]='callComments' type="text" placeholder="{{'commentView.Placeholder' | translate}}"></ion-input>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
<ion-row class="questionBackground">
  <ion-col class="margin-0 marginLeft">{{'card.GeneralInfoFields.NextCallObjectives' | translate}}</ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-input class="textAreaDesign marginLeft" [(ngModel)]='callReport.nextCallObjective' type="text" placeholder="{{'commentView.Placeholder' | translate}}"></ion-input>
  </ion-col>
</ion-row>
<ion-list>
    <ion-item *ngFor="let d of numberOfPromotedProducts; let i=index" text-wrap  [ngClass]="{active: isGroupShown(i)}" no-lines>
      <div class="setPickList">
      
        <ion-icon color="success" [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'" (click)="toggleGroup(i)" item-start></ion-icon>
        <ion-item class="expandCells" no-lines>
            <!-- <ion-input class="textAreaDesign" type="text" placeholder="Comment here"></ion-input> -->
            <!-- <ion-label>Toppings</ion-label> -->
            <ion-select id="product{{i}}" [(ngModel)]="d.productKey" interface="popover" multiple="false" placeholder="Select Product" (ionChange)="onChangeProduct(d)">
                <ion-option selected="true">Select Promotional Item</ion-option>
                <ion-option *ngFor="let product of productlist" [value]="product?.id">{{product?.name}}</ion-option>
            </ion-select>

            <!-- <ion-select [(ngModel)]="toppings" class="selectDesighn">
                <ion-option value="product" selected="true">Select Product</ion-option>
              <ion-option value="bacon">Bacon</ion-option>
              <ion-option value="olives">Black Olives</ion-option>
          </ion-select>&nbsp;&nbsp;&nbsp; -->
         
          </ion-item>
       
      </div>
      <div>
          <ion-item class="expCellDesign marginTop" >
              <ion-input [(ngModel)]="d.producttextInput" type="text" placeholder="Type something here"></ion-input>
            </ion-item>
      <div *ngIf="isGroupShown(i)">
        <!-- {{d.description}} -->
        <ion-list no-lines>
            <!-- <ion-item class="expCellDesign marginTop">
              <ion-label>Toppings</ion-label>
              <ion-select [(ngModel)]="d.marketingMessage1Key">
                  <ion-option value="select" selected="true">Select Marketing Message 1</ion-option>
                  <ion-option *ngFor="let message of d.marketingMessageSource" [value]="message?.id">{{message?.name}}</ion-option>
              </ion-select>
            </ion-item><br> -->
           
            <ion-item class="expCellDesign ">
                <ion-select [(ngModel)]="d.marketingMessage1Key" interface="popover" placeholder="Select Marketing Message 1">
                    <ion-option value="select" selected="true">Select Marketing Message 1</ion-option>
                  <ion-option *ngFor="let message of d.marketingMessageSource" [value]="message?.id">{{message?.name}}</ion-option>
                </ion-select>
              </ion-item>
            <ion-item class="expCellDesign picklistTop">
                <ion-select [(ngModel)]="d.marketingMessage2Key" interface="popover" placeholder="Select Marketing Message 2">
                    <ion-option value="select" selected="true">Select Marketing Message 2</ion-option>
                  <ion-option *ngFor="let message of d.marketingMessageSource" [value]="message?.id">{{message?.name}}</ion-option>
                </ion-select>
              </ion-item><br>
              <ion-item class="expCellDesign">
                <ion-select [(ngModel)]="d.marketingMessage3Key" interface="popover" placeholder="Select Marketing Message 3">
                    <ion-option value="select" selected="true">Select Marketing Message 3</ion-option>
                  <ion-option *ngFor="let message of d.marketingMessageSource" [value]="message?.id">{{message?.name}}</ion-option>
                </ion-select>
              </ion-item>
              <ion-item class="expCellDesign">
                <ion-select [(ngModel)]="d.marketingMessage4Key" interface="popover" placeholder="Select Marketing Message 4">
                    <ion-option value="select" selected="true">Select Marketing Message 4</ion-option>
                  <ion-option *ngFor="let message of d.marketingMessageSource" [value]="message?.id">{{message?.name}}</ion-option>
                </ion-select>
              </ion-item>
              <ion-item class="expCellDesign">
                <ion-select [(ngModel)]="d.marketingMessage5Key" interface="popover" placeholder="Select Marketing Message 5">
                  <ion-option value="select" selected="true">Select Marketing Message 5</ion-option>
                  <ion-option *ngFor="let message of d.marketingMessageSource" [value]="message?.id">{{message?.name}}</ion-option>
                </ion-select>
              </ion-item>
              <ion-item class="expCellDesign" >
                  <ion-label>Promotional Item</ion-label>
                  <ion-checkbox [(ngModel)]="d.promotionalItem" slot="end"></ion-checkbox>
              </ion-item>
          </ion-list>
      </div>
    </div>
    </ion-item>
  </ion-list>

  <trade-module [organizationId]="Reference?.organizationSfId" [cantactId]="Reference?.contactSfId" [date]="dateTimePlanned" (change)="tradeModuleChange($event)"></trade-module>
</ion-content>