page-helpdesk {
  .helpdesk {
    position: relative;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    width: 100%;
    height: 100%;

    .main-area .tab-container{
      display: none;
    }

    &.last-log .wrapper .main-area .last-log-tab-container,
    &.faq .wrapper .main-area .faq-tab-container{
      display: block;
    }

    .wrapper {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      .helpdesk-container {
        background: #f7f7f7;
        border-top: 1px solid #c1c1c1;
        display: -webkit-box;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;

        .actions-panel {
          padding: 2% 5%;
          border-right: 1px solid #c1c1c1;
          height: 100%;
          width: 34%;
          background: #f1f1f1;
          display: block;
          box-sizing: border-box;

          .action {
            height: 21%;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            text-align: center;
            color: #fff;

            &:not(:last-of-type){
              margin-bottom: 14%;
            }

            .title {
              height: 40%;
              font-size: 1.15em;
              line-height: 1.2;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-box-align: center;
              -webkit-box-pack: center;
            }
            .icon {
              height: 60%;
              width: 100%;
              background-repeat: no-repeat;
              background-position: center bottom;
              opacity: 0.8;
            }
            &.faq {
              background: rgba(216, 185, 0, 0.8);

              &.active {
                background: #d8b900;
              }
              .icon {
                background-image: url("../assets/imgs/helpdesk/faq.png");
                background-size: auto 80%;
              }
            }

            &.call-center {
              height: 27%;
              background: #30c230;

              &.active {
                background: #34df34;
              }
              .icon {
                background-image: url("../assets/imgs/helpdesk/call-icon.png");
                background-size: auto 85%;
              }
            }

            &.view-log {
              background: rgba(52, 170, 220, 0.8);

              &.active {
                background: #3493dc;
              }

              .icon {
                background-image: url("../assets/imgs/helpdesk/view-log-icon.png");
                background-size: auto 65%;
              }
            }

            &.send-log {
              background: rgba(54, 183, 172, 0.8);

              &:active {
                background: #0ce3d1;
              }

              .icon {
                background-image: url("../assets/imgs/helpdesk/send-log-icon.png");
                background-size: auto 55%;
              }
            }

            &.clear-data {
              background: rgba(253, 145, 145, 0.8);

              &:active {
                background: #fb7676;
              }

              .icon {
                background-image: url("../assets/imgs/helpdesk/clear-db-icon.png");
                background-size: auto 75%;
              }
            }

            &:active .icon {
              opacity: 1;
            }
          }
        }

        .main-area {
          height: 100%;
          width: 66%;
          padding: 2% 3%;
          box-sizing: border-box;

          .data-container {
            position: relative;
            height: 100%;
            overflow: hidden;
            display: block;

            > div {
              background: #fff;
              -webkit-border-radius: 5px;
              border-radius: 5px;
              padding-left: 3%;
              box-sizing: border-box;
            }
          }
        }
        &.view-faq-active .actions-panel .faq .icon ,
        &.view-log-active .actions-panel .view-log .icon {
          opacity: 1;
        }
        &.view-log-active .data-container .view-log,
        &.view-faq-active .data-container .faq-container {
          display: block;
        }

      }
    }
  }
}
