<!--
  Generated template for the HelpdeskPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{'Helpdesk' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="helpdesk" [ngClass]='activeTab' scrollX="false" scrollY="false">
  <div class="wrapper flex-element fixed-content" ion-fixed>
    <div class="helpdesk-container view-log-active">
      <div class="actions-panel">

        <div class="action faq" [ngClass]="(activeTab == ACTIVE_TABS.FAQ) ? 'active':''" (click)="activeTab = ACTIVE_TABS.FAQ">
          <div class="icon"></div>
          <div class="title">
            <b>{{ 'helpdesk.FAQ' | translate}}</b>
          </div>
        </div>
        <div class="action view-log" [ngClass]="(activeTab == ACTIVE_TABS.LAST_LOG) ? 'active':''" (click)="activeTab = ACTIVE_TABS.LAST_LOG">
          <div class="icon"></div>
          <div class="title">
            <b>{{'helpdesk.ViewLastLog' | translate }}</b>
          </div>
        </div>
        <div class="action send-log" (click)="onTapSendLogHandler()">
          <div class="icon"></div>
          <div class="title">
            <b>{{ 'helpdesk.SendLogToSupport' | translate }}</b>
          </div>
        </div>
        <div class="action clear-data" (click)="onTapClearDatabaseHandler()">
          <div class="icon"></div>
          <div class="title">
            <b>{{ 'helpdesk.ClearDatabase' | translate }}</b>
          </div>
        </div>
      </div>
      <div class="main-area">
        <div class="data-container">
          <app-last-log class="tab-container last-log-tab-container"></app-last-log>
          <app-faq class="tab-container faq-tab-container"></app-faq>
        </div>
      </div>
    </div>
  </div>
</ion-content>
