<div class="product-list-panel">
  <header class="header">
    <div class="col-md-6"></div>
    <div class="col-md-6">
      <ion-searchbar showCancelButton="false" [(ngModel)]="search" (ionBlur)="onSearchHandler($event)"
                     (ionClear)="onClearHandler($event)" (ionCancel)="onClearHandler($event)"></ion-searchbar>
    </div>
  </header>
  <lazy-table class="product-table"></lazy-table>
  <span>{{ onCheckActiveLineHandler() }}</span>
</div>

<form [formGroup]="formGroup" class="form-panel" (ngSubmit)="onSubmitFormHandler()">
  <ion-input type="text" hidden formControlName="skuName"></ion-input>

  <ion-item class="sales-one-month-ago">
    <ion-label>{{ 'common.names.M1Sales' | translate }}</ion-label>
    <ion-input readonly type="text" formControlName="sales1MonthAgo"></ion-input>
  </ion-item>
  <ion-item class="sales-two-month-ago">
    <ion-label>{{ 'common.names.M2Sales' | translate }}</ion-label>
    <ion-input readonly type="text" formControlName="sales2MonthAgo"></ion-input>
  </ion-item>
  <ion-item class="sales-three-month-ago">
    <ion-label>{{ 'common.names.M3Sales' | translate }}</ion-label>
    <ion-input readonly type="text" formControlName="sales3MonthAgo"></ion-input>
  </ion-item>
  <ion-item class="sales-four-month-ago">
    <ion-label>{{ 'common.names.M4Sales' | translate }}</ion-label>
    <ion-input readonly type="text" formControlName="sales4MonthAgo"></ion-input>
  </ion-item>
  <ion-item class="ytd-sales">
    <ion-label>{{ 'common.names.YTDSales' | translate }}</ion-label>
    <ion-input type="text" formControlName="salesYTDC"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{ 'common.names.Quantity' | translate }}</ion-label>
    <ion-input type="number" formControlName="quantity" (ionBlur)="onBlurInputHandler($event)"></ion-input>
  </ion-item>
  <ion-item class="sales-price">
    <ion-label>{{ 'common.names.SalesPrice' | translate }}</ion-label>
    <ion-input type="number" formControlName="salesPrice" (ionBlur)="onBlurInputHandler($event)"></ion-input>
  </ion-item>
  <ion-item class="sales-amount">
    <ion-label>{{ 'common.names.SalesAmount' | translate }}</ion-label>
    <ion-input readonly type="number" formControlName="salesAmount"></ion-input>
  </ion-item>

  <div class="buttons">
    <button ion-button class="ctrl-btn" *ngIf="isEditMode" (click)="onTapCancelBtnHandler()" type="button" block>{{ 'common.buttons.CancelBtn' | translate}}</button>
    <button ion-button class="ctrl-btn" *ngIf="isEditMode" type="submit" block>{{ 'common.buttons.SaveBtn' | translate}}</button>
    <button ion-button class="ctrl-btn add-button" *ngIf="!isEditMode" type="submit" block>{{ 'common.buttons.Add' | translate}}</button>
  </div>
</form>
