create-order-line-popup {
  min-height: 440px;
  background: white;

  &.ion-page {
    display: flex;
  }

  &.sample-type {
    .sales-one-month-ago,
    .sales-two-month-ago,
    .sales-three-month-ago,
    .sales-four-month-ago,
    .ytd-sales,
    .sales-price,
    .sales-amount {
      display: none;
    }
  }

  .product-list-panel{
    position: relative;
    width: 60%;
    height: 100%;

    .header {
      display: -webkit-box;
      -webkit-box-align: center;
      -webkit-box-pack: end;
      -webkit-box-sizing: border-box;
      background: #efeff4;
      color: #21b4f3;
      font: 80% 'Roboto';
      font-weight: 500;
      padding: 0 17px;
      width: 100%;
      border-bottom: 1px solid #ababae;
      height: auto;
      min-height: 2.7em;
      line-height: 1.2em;
      word-break: break-all;
    }

    .searchbar {
      padding: 0;
      width: 95%;
      background: transparent;

      .searchbar-clear-icon {
        right: auto;
        top: 0;
        left: 100%;
        margin-left: 3%;
        width: 2em;
        height: 2em;
        display: block;
        background: none;

        &:after ,
        &:before {
          content: '';
          position: absolute;
          top: 0.2em;
          bottom: 0.2em;
          left: 50%;
          width: 3px;
          background-color: #21b4f3;
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }

        .button-inner,
        .button-effect{
          display: none;
        }
      }

      input.searchbar-input {
        width: 100%;
        box-sizing: border-box;
        padding: 0 0.5em 0 2em;
        font-size: 100%;
        -webkit-border-radius: 0.53333333333em;
        border-radius: 0.53333333333em;
        background-color: #fff;
        border: 1px solid #b7b7bb;
      }
    }
  }
  .product-table{
    table-row {
      &.active-line{
        background-color: #6cf;

        .cell {
          color: #fff;
        }
      }

      .cell{
        width: 100%;

        &:first-of-type {
          display: none;
        }

        span {
          padding: 0 1em;
        }
      }
    }
    table-header {
      display: none;
    }
  }

  .form-panel{
    width: 40%;

    .item {
      min-height: 4rem;
      padding: 0 1em;

      .item-inner {
        border-bottom: none;
      }
    }
    .label{
      margin: 0.5em;
      width: 40%;
      flex: none;
    }

    .input{
      width: 60%;
      flex: 1;

      input{
        margin: 0.5em 0;
        width: 100%;
        padding: 3px 10px;
        min-height: 30px;
        display: -webkit-box;
        -webkit-box-align: center;
        border: 1px solid #b7b7bb;
        -webkit-border-radius: 5px;
        font: 95% 'Roboto';
        font-weight: 400;
        color: #87878c;
        background: #fff;
      }
    }
  }

  .buttons{
    padding: 1em 2em 1em 1em;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

    .ctrl-btn{
      padding: 10px;

      .add-button{
        text-transform: uppercase;
      }
    }
  }

  .sales-one-month-ago,
  .sales-two-month-ago,
  .sales-three-month-ago,
  .sales-four-month-ago,
  .ytd-sales {
    pointer-events: none;
  }
}

ion-modal.order-line-modal-popup{
  .modal-wrapper{
    width: 90%;
    height: 60% !important;
    min-height: 340px;
    background: white;
  }

  ion-backdrop {
    opacity: 0.4;
  }
}
