<ion-header>
    <ion-navbar>
      <ion-title>{{'luncheonmeetings.HeaderTitle' | translate}}</ion-title>
      <ion-buttons end class="buttonDesign">
          <button ion-button class="saveButton" (click)="validateInputData()">Save</button>
      </ion-buttons>
    </ion-navbar>
    
  </ion-header>
  
  <ion-content padding>
   <ion-grid>
      <ion-row>
        <ion-col>
          <ion-row class="colBsackground borders-0">
            <ion-col>
              {{'luncheonmeetings.luncheonmeetingdetails.owner' | translate}}
            </ion-col>
            <ion-col>
            Name of the Owner
            </ion-col>
          </ion-row>
          <ion-row class="borders-0">
            <ion-col>
                {{'luncheonmeetings.luncheonmeetingdetails.meetingType' | translate}}
            </ion-col>
            <ion-col>
             <ion-input [(ngModel)]="noncustomer" class="inpoutDesign" type="text" placeholder="Non Customer Name"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row class="colBsackground borders-0">
            <ion-col>
                {{'luncheonmeetings.luncheonmeetingdetails.meetingStartDate' | translate}}
            </ion-col>
            <ion-col>
                <ion-datetime [(ngModel)]="createdDate" displayFormat="DD.MM.YYYY HH:mm" placeholder="Select Date"></ion-datetime>
               </ion-col>
           </ion-row>
          <ion-row class="borders-0">
              <ion-col>
                  {{'luncheonmeetings.luncheonmeetingdetails.status' | translate}}
              </ion-col>
              <ion-col>
                asasasasasa
              </ion-col>
            </ion-row>
            <ion-row class="borders-0">
                <ion-col>
                    {{'luncheonmeetings.luncheonmeetingdetails.anyotherExpenses' | translate}}
                </ion-col>
                <ion-col>
                  aasasas
                </ion-col>
              </ion-row>
        </ion-col>
        <ion-col>
       
          <ion-row class="borders-0">
            <ion-col>
                {{'luncheonmeetings.luncheonmeetingdetails.bussinessUnit' | translate}}
            </ion-col>
            <ion-col>
                asasasasa
            </ion-col>
          </ion-row>
          <ion-row class="colBsackground borders-0">
            <ion-col>
                {{'luncheonmeetings.luncheonmeetingdetails.discussionType' | translate}}
            </ion-col>
            <ion-col>
                <ion-datetime [(ngModel)]="createdDate" displayFormat="DD.MM.YYYY HH:mm" placeholder="Select Date"></ion-datetime>
              </ion-col>
          </ion-row>
          <ion-row class="borders-0">
            <ion-col>
                {{'luncheonmeetings.luncheonmeetingdetails.meetingEndDate' | translate}}
            </ion-col>
            <ion-col>
             asasasasasas
            </ion-col>
          </ion-row>
          <ion-row class="borders-0">
              <ion-col>
                  {{'luncheonmeetings.luncheonmeetingdetails. hcpType' | translate}}
              </ion-col>
              <ion-col>
                sdsdsdsds
              </ion-col>
            </ion-row>
          </ion-col>
      </ion-row>
      </ion-grid>
    
  </ion-content>
  