page-luncheondetails {
    .colBsackground{
        background: aliceblue;
    }
    .textAreaDesign{
        border: 1px solid antiquewhite;
        height: 80px;
    }
    .textAreaDesign1{
        border: 1px solid antiquewhite;
    }
    .buttonDesing{
        font-size: .9em;
    }
    .questionBackground{
        background: #01B9EA;
        height: 40px;
    }
    .itemDesign{
        border: 1px solid #488aff;
    }
    .buttonDesign{
    background: #01B9EA;
    color: white;
    border-radius: 5px;
    }
    .saveButton{
        width: 100px;
        color: white;
    }
    .margin-0{
        margin-top: 7px;
        color: white;
    }
    .borders-0{
        border: 1px solid gainsboro;
    }
    .inpoutDesign{
        border: 1px solid #488aff;
    }
    .itemDesign{
        border: 1px solid #488aff;
    }
    .ionicSelectDesign{
        max-width: 100%;;
    }
}
