app-faq {
  position: relative;
  height: 100%;
  overflow: hidden;
  display: block;

  p, h2{
    margin: 0;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .scroll-element{
    width: 100%;
    height: 100%;
  }
  .faq-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 4em;
    padding: 1em;
    background-color: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    h2 {
      font-size: 1.2em;
    }

    .qa-item {
      padding-bottom: 0.5em;
    }
  }
  .submit-issue-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3em;
    display: -webkit-box;
    -webkit-box-pack: center;

    .btn-submit {
      background-color: #059de2;
      padding: 0 2em;
      text-align: center;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      display: -webkit-box;
      -webkit-box-align: center;
      height: 3em;
      color: #fff;
    }
    .btn-submit:active {
      opacity: 0.8;
    }
    .btn-submit .icon {
      display: block;
      width: 3em;
      height: 3em;
      background-image: url("../assets/imgs/helpdesk/issue.png");
      background-size: auto 80%;
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 0.3rem;
    }
  }
  .faq-attachments {
    padding: 1em;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;

    p {
      padding-left: 3.5em;
      background: url("../assets/imgs/helpdesk/file.png") left center no-repeat;
      background-size: 3em 3em;
      margin-right: 0.5em;
      width: 12em;
      min-height: 3em;
      display: -webkit-inline-box;
      -webkit-box-align: center;
      word-break: break-all;
    }
  }

}
