<div class="faq-container">
  <div class="faq-wrapper">
    <ion-scroll scrollX="false" scrollY="true" class="scroll-element">
      <ul class="wrapper qa-list">
        <li class="qa-item" *ngFor="let item of list">
          <h2>{{item.question}}</h2>
          <p>{{item.answer}}</p>
          <div *ngIf="item.hasAttachments()">
            <div class="faq-attachments">
              <p *ngFor="let attachment of getAttachments(item)" (click)="onTapAttachmentIconHandler(attachment)">
                <span>{{attachment.title}}</span>
              </p>
            </div>
          </div>
        </li>
      </ul>
    </ion-scroll>
  </div>
  <div class="submit-issue-wrapper">
    <div class="btn-submit">
      <div class="icon"></div>
      <span data-i18n="helpdesk.SubmitAnIssue" (click)="onTapSubmitIssueBtnHandler()">{{ 'helpdesk.SubmitAnIssue' | translate }}</span>
    </div>
  </div>
</div>

