<ion-tabs>
  <ion-tab [root]="tab1Root"  tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root"  [show]="!isIndiamodule" tabIcon="megaphone" tabTitle="Activities"></ion-tab>
  <ion-tab [root]="tab17Root"  [show]="isIndiamodule" tabIcon="megaphone" tabTitle="Activities"></ion-tab>
  <ion-tab [root]="tab3Root"  [show]="!isIndiamodule" tabTitle="Contact" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab4Root"  tabTitle="Organization" tabIcon="paper"></ion-tab>
  <ion-tab [root]="tab5Root"  [show]="isMtpEnabled" tabTitle="MTP" tabIcon="bookmarks"></ion-tab>
  <ion-tab [root]="tab6Root" [show]="!isIndiamodule" tabTitle="Calendar" tabIcon="calendar"></ion-tab>
  <ion-tab [root]="tab16Root" [show]="isIndiamodule" tabTitle="Tour-plan" tabIcon="calendar"></ion-tab>
  <ion-tab [root]="tab8Root"  tabTitle="TOT" tabIcon="time"></ion-tab>
  <ion-tab [root]="tabMediaRoot"  tabTitle="Media" tabIcon="film"></ion-tab>
  <ion-tab [root]="tab13Root"[show]="isIndiamodule" tabTitle="Sales Plan" tabIcon="planet"></ion-tab>
  <ion-tab [root]="tabLOMRoot"[show]="isNewPEModuleEnabled" tabTitle="Luncheon Meetings" tabIcon="people"></ion-tab>
  <ion-tab [root]="tab10Root" [show]="isMedicalModuleEnabled" tabTitle="Medical Query" tabIcon="medkit"></ion-tab>
  <ion-tab [root]="tab11Root" [show]="isSurveyModuleEnabled" tabTitle="Survey" tabIcon="clipboard"></ion-tab>
  <ion-tab [root]="tabDCRRoot" [show]="isDCREnabled" tabTitle="DCR" tabIcon="create"></ion-tab>
  <ion-tab [root]="tabOrderRoot"  [show]="isOrderManagementEnabled" tabTitle="Order Management" tabIcon="ios-cart"></ion-tab>
  <ion-tab [root]="tab12Root" [show]="isIndiamodule" tabTitle="Customer" tabIcon="link"></ion-tab>
  <ion-tab [root]="tab14Root" [show]="isIndiamodule"  tabTitle="Power ScoreCard" tabIcon="ios-card"></ion-tab>
  <ion-tab [root]="tab15Root" [show]="isConsentsEnable"  tabTitle="Doctor Consents" tabIcon="ios-document"></ion-tab>
</ion-tabs>
