order-item-list {
  display: block;
  width: 100%;

  .order-line-items-table-header{
    &.no-edit {
      .ctrl-btn{
        display: none;
      }
    }
  }



  .table {
    .td, .th {
      &:nth-child(1) {
        width: 30%;
        text-align: center;
      }
      &:nth-child(2) {
        width: 12%;
      }
      &:nth-child(3) {
        width: 12%;
      }
      &:nth-child(4) {
        width: 12%;
      }
      &:nth-child(5) {
        width: 12%;
      }
      &:nth-child(6) {
        width: 11%;
      }
      &:nth-child(7) {
        width: 11%;
      }

      .ctrl-btn {
        width: 6em;
      }
    }

    .td {
      &:nth-child(1) {
        text-align: left;
        -webkit-box-pack: start;
      }
    }

    &.no-edit {
      .td, .th {
        &:nth-child(1) {
          width: 40%;
        }
        &:nth-child(2) {
          width: 15%;
        }
        &:nth-child(3) {
          width: 15%;
        }
        &:nth-child(4) {
          width: 15%;
        }
        &:nth-child(5) {
          width: 15%;
        }

        &:nth-child(6),
        &:nth-child(7) {
          display: none;
        }
      }
    }

    .ctrl-btn{
      padding: 10px;
      height: auto;
    }
  }
}
