<div class="order-line-items-table-header table-header" [ngClass]="{'no-edit': !isEditable}">
  <span>{{ 'card.OrderLineItems' | translate }}</span>
  <button class="ctrl-btn plus" (click)="onTapAddButtonHandler()"></button>
</div>
<div class="table" [ngClass]="{'no-edit': !isEditable}">
  <div class="thead">
    <div class="tr">
      <div class="th">{{'common.names.SKUName' | translate}}</div>
      <div class="th">{{'common.names.BatchCode' | translate}}</div>
      <div class="th">{{'common.names.Quantity' | translate}}</div>
      <div class="th">{{'common.names.SalesPrice' | translate}}</div>
      <div class="th">{{'common.names.SalesAmount' | translate}}</div>
      <div class="th">&nbsp;</div>
      <div class="th">&nbsp;</div>
    </div>
  </div>

  <div class="tbody">
    <div class="tr" *ngFor="let line of orderLines; let i = index;">
      <div class="td">{{ !line.productLot ? line.SKUName : line.productLot}}</div>
      <div class="td">&nbsp;</div>
      <div class="td" [innerHtml]="line.quantity"></div>
      <div class="td" [innerHtml]="line.salesPrice"></div>
      <div class="td" [innerHtml]="line.salesAmount"></div>
      <div class="td">
        <div class="ctrl-btn delete-btn" (click)="onTapDeleteButtonHandler(line, i)" innerHtml="{{ 'common.buttons.DeleteBtn' | translate }}"></div>
      </div>
      <div class="td">
        <div class="ctrl-btn edit-btn" (click)="onTapEditButtonHandler(line, i)" innerHtml="{{ 'common.buttons.EditBtn' | translate }}"></div>
      </div>
    </div>
  </div>
</div>

