table-row {
  position: relative;
  display: flex;
  width: 100%;

  &:last-of-type {
    border-bottom: 1px solid #c1c1c1;
  }

  &:nth-of-type(even) {
    background-color: rgb(239, 239, 244);
  }

  .cell {
    position: relative;
    transform: translate3d(1px, 0, 0);
    height: 50px;
    align-items: center;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    overflow: hidden;
    word-break: break-word;
    color: #87878c;
    text-align: left;
    background: url('../assets/imgs/line.png') no-repeat;
    background-position: right center;
    flex-grow: 1;
    width: 1%;

    &.hyperlink {
      font: 95% 'Roboto';
      font-weight: 400;
      color: #21b4f3;
    }

    span {
      display: block;
      width: 100%;
      padding: 0 0.5em;
      overflow: hidden;
    }
  }
}
