order-sample-item-list {
  display: block;
  width: 100%;

  .order-line-items-table-header{
    &.no-edit {
      .ctrl-btn{
        display: none;
      }
    }
  }

  .table {
    .td, .th{
      &:nth-child(1) {
        width: 40%;
        text-align: center;
      }
      &:nth-child(2) {
        width: 15%;
      }
      &:nth-child(3) {
        width: 15%;
      }
      &:nth-child(4) {
        width: 15%;
      }
      &:nth-child(5) {
        width: 15%;
      }
    }

    &.no-edit {
      .td, .th {
        &:nth-child(1) {
          width: 50%;
        }
        &:nth-child(2) {
          width: 25%;
        }
        &:nth-child(3) {
          width: 25%;
        }
        &:nth-child(4) ,
        &:nth-child(5) {
          display: none;
        }
      }
    }

    .ctrl-btn{
      padding: 10px;
      height: auto;
    }
  }
}
