page-india-callreport-details {
.ctrl-btn {
        &.plus {
          position: absolute;
          top: 2px;
          right: 6px;
        }
      }
      .select-text {
        white-space : normal !important;
      }
      .select-ios .select-placeholder {
          color:#000 !important;
      }
      .setPickList{
          height:50px;
          width:43%;
      }
      .setBgColor{
        background: white !important;
      }
      .btnAlign{
        float:right;
      }
      .setButton{
        display: block;
        padding-right: 10px;
      }
      .borderItem .label-ios {
        margin:0;
      }
      .borderItem{
        border: 1px solid #488aff;
      }
      .productItem{
       // width: 43%;
        border: 1px solid #488aff;
      }
      .text-area {
        background: white;
      }
      .marginLeft{
        margin-left:10px;
      }
    
      .info-cell .picklist-button {
        width: 90%;
        padding: 6px 20px 6px 2px;
        border-color: #4c4c4c;
        font-size: 100%;
        text-align: left;
        color: #87878c;
    
        &:after {
          border-color: #4c4c4c;
        }
      }
    
      .datetime {
        position: relative;
        padding: 7px 35px 7px 0;
        overflow: visible;
      }
    
      .content-page-detail .page-row .page-col .info-row .info-cell.value {
        &.calendar {
          width: auto;
    
          .datetime {
            &:after {
              position: absolute;
              top: 0;
              right: 0;
              display: block;
              content: '';
              width: 30px;
              height: 30px;
              -webkit-border-radius: 5px;
              background: url("../assets/imgs/bit-buttons/calendar.png");
              background-position: center center;
              background-repeat: no-repeat;
              background-color: #21b4f3;
              background-size: 73.333333333333% 73.333333333333%;
            }
          }
        }
      }
      .hyperlink {
      color: #21b4f3;
      font: 95% 'Roboto';
      }
    
    
    
      ion-icon{
            font-size: 2em;
        }
    .colBsackground{
       background: aliceblue;
        
        
    }
    .textAreaDesign{
        border: 1px solid #488aff;
        height: 80px;
        padding-left:10px;
    }
    .textAreaDesign1{
        border: 1px solid #488aff;
    }
    .buttonDesing{
        font-size: .9em;
    }
    .questionBackground{
        background:#01B9EA;
        height: 40px;
    }
    .itemDesign{
        border: 1px solid #488aff;
    }
    .buttonDesignCall{
        background: #01B9EA;
        color: white;
        border-radius: 5px;
        }
        .saveButton{
            width: 100px;
            color: white;
        }
        .presentButton{
            width: 150px;
            color: white;
        }
        .margin-0{
            margin-top: 7px;
            color: white;
        }
        //accordian list
        accordion-list {
            .nomargin {
                margin: 0 !important;
            }
        
            .accordion-header {
                color: white;
        
                .item-inner {
                    margin-left: 0 !important;
                }
        
                ion-icon {
                    transition: all .25s ease-in;
                    transform: rotate(0);
                }
            }
        
            .active ion-icon {
                transform: rotate(90deg);
            }
        
            .accordion-content {
                transition: 0.3s ease-in-out;
                &.active {
                    padding: .75rem;
                }
            }
        
            .label {
                margin: 0px;
            }
        }
        .expandCells{
            // width: 50%;
            // background: antiquewhite;
            // position: relative;
            left: 43px;
            bottom: 47px;
            background: transparent;
            border:1px solid #01B9EA !important;
        }
        .expCellDesign{
            background: transparent;
            width: 51%;
            height:50px;
            float: right;
            margin-top: 10px;
            border:1px solid #01B9EA !important;
        }
        .marginTop{
            margin-top: -43px;
        }
        .picklistTop{
            margin-top: 10px;
        }
        .selectDesighn{
            width: 100%;
            background: aliceblue;
        }
        .inputDesign{
            background: transparent;
            position: relative;
            left: 10px; 
        }
        .rowDesign{
            border: 1px solid orange;
            // margin: 5px;
        }
        .colDesign{
            border: 1px solid orange;
            margin: 5px;
        }
        .datetimeDesign{
            border: 1px solid orange;
        }
}

.toastClass{
  .toast-wrapper { border-radius: 5px !important; text-align: center;}
  text-align:center;
};
