<ion-header mode='ios'>
  <ion-navbar>
    <ion-grid>
      <ion-row class="setButton">
          <ion-title text-center>1:1 View</ion-title>
        <button item-right class="pull-right btnAlign" ion-button *ngIf="CallReport?.status == 'Saved'" (click) = "editCallReport()">Edit</button>
        <button item-right class="pull-right btnAlign" color="danger" ion-button *ngIf="CallReport?.status == 'Saved'" (click) = "deleteCallReport()">Delete</button>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>


<ion-content class="content-page-detail">
    <div class="wrapper">
        <div class="page-row">
          <div class="page-col">
            <div class="info-row">
              <div class="info-cell label">{{'card.GeneralInfoFields.Customer' | translate}}</div>
              <div class="info-cell value" [innerHtml]="CallReport?.userFirstName"></div>
            </div>
    
            <div class="info-row">
              <div class="info-cell label">{{'card.GeneralInfoFields.Organization' | translate}}</div>
              <div class="info-cell value" [innerHtml]="CallReport?.organizationName"></div>
            </div>

            <div class="info-row">
              <div class="info-cell label">{{'common.names.CoachingVisit' | translate}}</div>
              <div class="info-cell value" [innerHtml]="CallReport?.coachingVisit"></div>
            </div>

            <div class="info-row">
              <div class="info-cell label">{{'common.names.CoachingVisitUser' | translate}}</div>
              <div class="info-cell value" [innerHtml]="CoachingVisitUser"></div>
            </div>
          
            <div class="info-row">
              <div class="info-cell label">{{'common.names.JointVisitParticipants' | translate}}</div>
              <div class="info-cell value" [innerHtml]="CallReport?.jointVisitParticipants"></div>
            </div>
  
          </div>
          <div class="page-col">
            <div class="info-row">
              <div class="info-cell label">{{'common.names.TypeOfVisit' | translate}}</div>
              <div class="info-cell value" [innerHtml]="CallReport?.typeOfVisit"></div>
            </div>

            <div class="info-row">
              <div class="info-cell label">{{'common.names.BUSpecialty' | translate}}</div>
              <div class="info-cell value" [innerHtml]="CallReport?.specialty"></div>
            </div>
          
            <div class="info-row">
              <div class="info-cell label">{{'card.GeneralInfoFields.User' | translate}}</div>
              <div class="info-cell value" [innerHtml]="activeUser?.name"></div>
            </div>

            <div class="info-row">
                <div class="info-cell label">{{'card.GeneralInfoFields.DateTimePlanned' | translate}}</div>
                <div class="info-cell value" [innerHtml]="CallReport?.dateTimePlanned | date : 'y-MM-d HH:mm'"></div>
            </div>
            
            <div class="info-row">
                <div class="info-cell label">{{'common.names.DateTimeVisitStart' | translate}}</div>
                <div class="info-cell value" [innerHtml]="CallReport?.dateTimeVisitStart | date : 'y-MM-d HH:mm'"></div>
            </div>

            <div class="info-row">
              <div class="info-cell label">{{'card.GeneralInfoFields.Duration' | translate}}</div>
              <div class="info-cell value" [innerHtml]="CallReport?.duration"></div>                    
            </div>
          </div>
      </div>
  </div>
    <ion-row>
      <ion-col class="col-example">
        <h5>Call Objectives:</h5>
      </ion-col>
      <ion-col class="col-example">
        <h5>Call Comments:</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <!-- <ion-textarea  placeholder="Any Comments"></ion-textarea> -->
          <textarea [(ngModel)]="callObjectives" placeholder="Any Comments" disabled="true" class="form-control" rows="5" id="comment"></textarea>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <textarea [(ngModel)]="callComments" placeholder="Type Comment" class="form-control" rows="5"></textarea>
          <!-- <ion-textarea [(ngModel)]="callComments" placeholder="Type Comment"></ion-textarea> -->
        </ion-item>
      </ion-col>

    </ion-row>

<ion-row>
  <ion-col class="col-example">
    <h5>Next Call Objectives:</h5>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-item>
      <!-- <ion-textarea [(ngModel)]="nextCallObjective" placeholder="Type Comment"></ion-textarea> -->
      <textarea [(ngModel)]="nextCallObjective" placeholder="Type Comment" class="form-control" rows="5" id="comment"></textarea>
    </ion-item>
  </ion-col>
</ion-row>

<ion-grid>
  <ion-row  *ngIf="displayHeader">
    <ion-col class="col-example">
      <h5>Product discussed</h5>
    </ion-col>
    <ion-col class="col-example">
      <h5>Notes for products</h5>
    </ion-col>
  </ion-row>

  <ion-row class="col-example setBgColor"  *ngIf="productName1">
    <ion-col>
      <ion-list-header>

        <!-- <button item-left  (click)="toggleAccordion()">
          <ion-icon name="arrow-dropright-circle" *ngIf="!accordionExpandable1"></ion-icon>
          <ion-icon name="arrow-dropdown-circle"  *ngIf="accordionExpandable1"></ion-icon>
        </button> -->
        <ion-icon color="success" [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'" (click)="toggleGroup(i)" item-start></ion-icon>
        <ion-item class="select1 productItem">
          <div class="info-cell value" [innerHtml]="productName1"></div>    
        </ion-item>
      </ion-list-header>



    </ion-col>
    <ion-col class="typecomment">
      
      <ion-card  *ngIf="displayCard1 == 'true'">
        <ion-item style="height: 20px" *ngIf="noteForPrio1">
            <div class="info-cell value" [innerHtml]="noteForPrio1"></div>    
        </ion-item>

        <ion-card-content #card1 >
          <ion-item class="select1 borderItem" *ngIf="productMessage1">
            <div class="info-cell value " [innerHtml]="productMessage1"></div>
          </ion-item>
          <ion-item class="select1 borderItem" *ngIf="productMessage2">
            <div class="info-cell value " [innerHtml]="productMessage2"></div>
          </ion-item>
          <ion-item class="select1 borderItem" *ngIf="productMessage3">
            <div class="info-cell value " [innerHtml]="productMessage3"></div>
          </ion-item>
          <ion-item class="select1 borderItem" *ngIf="productMessage4">
            <div class="info-cell value " [innerHtml]="productMessage4"></div>
          </ion-item>
          <ion-item class="select1 borderItem" *ngIf="productMessage5">
            <div class="info-cell value " [innerHtml]="productMessage5"></div>
          </ion-item>
        </ion-card-content>

      </ion-card>


    </ion-col>
  </ion-row>

  <ion-row class="col-example setBgColor"  *ngIf="productName2">
    <ion-col>
      <ion-list-header>
        <ion-icon color="success" [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'" (click)="toggleGroup(i)" item-start></ion-icon>
        <ion-item class="select1 productItem">
          <div class="info-cell value" [innerHtml]="productName2"></div>    
        </ion-item>
      </ion-list-header>
    </ion-col>
    <ion-col class="typecomment">
        
        <ion-card *ngIf="displayCard2 == 'true'">
          <ion-item style="height: 20px" *ngIf="noteForPrio2">
            <div class="info-cell value" [innerHtml]="noteForPrio2"></div>    
          </ion-item>
          <ion-card-content #card1>
            <ion-item class="select1 borderItem" *ngIf="productMessage6">
              <div class="info-cell value" [innerHtml]="productMessage6"></div>
            </ion-item>
            <ion-item class="select1 borderItem" *ngIf="productMessage7">
              <div class="info-cell value" [innerHtml]="productMessage7"></div>
            </ion-item>
            <ion-item class="select1 borderItem" *ngIf="productMessage8">
              <div class="info-cell value" [innerHtml]="productMessage8"></div>
            </ion-item>
            <ion-item class="select1 borderItem" *ngIf="productMessage9">
              <div class="info-cell value" [innerHtml]="productMessage9"></div>
            </ion-item>
            <ion-item class="select1 borderItem" *ngIf="productMessage10">
              <div class="info-cell value" [innerHtml]="productMessage10"></div>
            </ion-item>
          </ion-card-content>
        </ion-card>
    </ion-col>
  </ion-row>

  <ion-row class="col-example setBgColor" *ngIf="productName3" >
      <ion-col>
          <ion-list-header>
            <ion-icon color="success" [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'" (click)="toggleGroup(i)" item-start></ion-icon>
            <ion-item class="select1 productItem">
              <div class="info-cell value" [innerHtml]="productName3"></div>    
            </ion-item>
          </ion-list-header>
        </ion-col>
        <ion-col class="typecomment">
            
            <ion-card *ngIf="displayCard3 == 'true'">
              <ion-item style="height: 20px" *ngIf="noteForPrio3">
                <div class="info-cell value" [innerHtml]="noteForPrio3"></div>    
              </ion-item>
              <ion-card-content #card1>
                <ion-item class="select1 borderItem" *ngIf="productMessage11">
                  <div class="info-cell value " [innerHtml]="productMessage11"></div>
                </ion-item>
                <ion-item class="select1 borderItem" *ngIf="productMessage12">
                  <div class="info-cell value " [innerHtml]="productMessage12"></div>
                </ion-item>
                <ion-item class="select1 borderItem" *ngIf="productMessage13">
                  <div class="info-cell value " [innerHtml]="productMessage13"></div>
                </ion-item>
                <ion-item class="select1 borderItem" *ngIf="productMessage14">
                  <div class="info-cell value " [innerHtml]="productMessage14"></div>
                </ion-item>
                <ion-item class="select1 borderItem" *ngIf="productMessage15">
                  <div class="info-cell value " [innerHtml]="productMessage15"></div>
                </ion-item>
              </ion-card-content>
            </ion-card>
        </ion-col>
</ion-row>


<ion-row class="col-example setBgColor" *ngIf="productName4">
    <ion-col>
        <ion-list-header>
          <ion-icon color="success" [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'" (click)="toggleGroup(i)" item-start></ion-icon>
          <ion-item class="select1 productItem">
            <div class="info-cell value" [innerHtml]="productName4"></div>    
          </ion-item>
        </ion-list-header>
      </ion-col>
      <ion-col class="typecomment">        
          <ion-card  *ngIf="displayCard4 == 'true'">
            <ion-item style="height: 20px" *ngIf="noteForPrio4">
              <div class="info-cell value" [innerHtml]="noteForPrio4"></div>    
            </ion-item>
            <ion-card-content #card1>
              <ion-item class="select1 borderItem" *ngIf="productMessage16">
                <div class="info-cell value " [innerHtml]="productMessage16"></div>
              </ion-item>
              <ion-item class="select1 borderItem" *ngIf="productMessage17">
                <div class="info-cell value " [innerHtml]="productMessage17"></div>
              </ion-item>
              <ion-item class="select1 borderItem" *ngIf="productMessage18">
                <div class="info-cell value " [innerHtml]="productMessage18"></div>
              </ion-item>
              <ion-item class="select1 borderItem" *ngIf="productMessage19">
                <div class="info-cell value " [innerHtml]="productMessage19"></div>
              </ion-item>
              <ion-item class="select1 borderItem" *ngIf="productMessage20">
                <div class="info-cell value " [innerHtml]="productMessage20"></div>
              </ion-item>
            </ion-card-content>
          </ion-card>
      </ion-col>

</ion-row>


<ion-row class="col-example setBgColor"  *ngIf="productName5">
    <ion-col>
        <ion-list-header>
          <ion-icon color="success" [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'" (click)="toggleGroup(i)" item-start></ion-icon>
          <ion-item class="select1 productItem">
            <div class="info-cell value" [innerHtml]="productName5"></div>    
          </ion-item>
        </ion-list-header>
      </ion-col>
      <ion-col class="typecomment">
          
          <ion-card *ngIf="displayCard5 == 'true'">
              <ion-item style="height: 20px" *ngIf="noteForPrio5">
                  <div class="info-cell value" [innerHtml]="noteForPrio5"></div>    
              </ion-item>
            <ion-card-content #card>
              <ion-item class="select1 borderItem" *ngIf="productMessage21">
                <div class="info-cell value " [innerHtml]="productMessage21"></div>
              </ion-item>
              <ion-item class="select1 borderItem" *ngIf="productMessage22">
                <div class="info-cell value " [innerHtml]="productMessage22"></div>
              </ion-item>
              <ion-item class="select1 borderItem" *ngIf="productMessage23">
                <div class="info-cell value " [innerHtml]="productMessage23"></div>
              </ion-item>
              <ion-item class="select1 borderItem" *ngIf="productMessage24">
                <div class="info-cell value " [innerHtml]="productMessage24"></div>
              </ion-item>
              <ion-item class="select1 borderItem" *ngIf="productMessage25">
                <div class="info-cell value " [innerHtml]="productMessage25"></div>
              </ion-item>
            </ion-card-content>
          </ion-card>
      </ion-col>
</ion-row>

<ion-row class="col-example setBgColor"  *ngIf="productName6">
    <ion-col>
        <ion-list-header>
          <ion-icon color="success" [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'" (click)="toggleGroup(i)" item-start></ion-icon>
          <ion-item class="select1 productItem">
            <div class="info-cell value" [innerHtml]="productName6"></div>    
          </ion-item>
        </ion-list-header>
      </ion-col>
      <ion-col class="typecomment">
          
          <ion-card *ngIf="displayCard5 == 'true'">
            <ion-item style="height: 20px"  *ngIf="noteForPrio6">
              <div class="info-cell value" [innerHtml]="noteForPrio6"></div>    
            </ion-item>
            <ion-card-content #card1>
              <ion-item class="select1 borderItem" *ngIf="productMessage26">
                <div class="info-cell value " [innerHtml]="productMessage26"></div>
              </ion-item>
              <ion-item class="select1 borderItem" *ngIf="productMessage27">
                <div class="info-cell value " [innerHtml]="productMessage27"></div>
              </ion-item>
              <ion-item class="select1 borderItem" *ngIf="productMessage28">
                <div class="info-cell value " [innerHtml]="productMessage28"></div>
              </ion-item>
              <ion-item class="select1 borderItem" *ngIf="productMessage29">
                <div class="info-cell value " [innerHtml]="productMessage29"></div>
              </ion-item>
              <ion-item class="select1 borderItem" *ngIf="productMessage30">
                <div class="info-cell value " [innerHtml]="productMessage30"></div>
              </ion-item>
            </ion-card-content>
          </ion-card>
      </ion-col>
</ion-row>

</ion-grid>

</ion-content>


