<ion-header class="page-header">
  <ion-navbar #navbar>
    <div class="row text-center">
      <div class="col-md-10">
        <div class="title">{{ 'card.DCR.Title' | translate }}</div>
      </div>
      <div class="col-md-2">
        <button class="ctrl-btn" *ngIf="isDeleteBtnEnable" (click)="onTapDeleteBtnHandler()">{{ 'common.buttons.DeleteBtn' | translate }}</button>
      </div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content class="content-page-detail">
  <div class="wrapper">

    <div class="page-row">
      <div class="page-col">
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrStatus' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrStatus"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrType' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrType"></div>
        </div>
      </div>
      <div class="page-col">
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrDateOfRequest' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dateOfRequestStr()"></div>
        </div>
      </div>
    </div>


    <h2 class="blue-header">{{'card.ReferencesTableTitle' | translate}}</h2>


    <div class="page-row">
      <div class="page-col">
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrReferenceAccount' | translate}}</div>
          <div class="info-cell value hyperlink" (tap)="onTapOrganizationLinkHandler()" [innerHtml]="organization.nameAndAddress()"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrAccountType' | translate}}</div>
          <div class="info-cell value" [innerHtml]="organization.recordType"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrWorkPlaceAddress' | translate}}</div>
          <div class="info-cell value" [innerHtml]="organization.fullAddress()"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrReferenceCStatus' | translate}}</div>
          <div class="info-cell value" [innerHtml]="statusPicklistValue"></div>
        </div>
      </div>
      <div class="page-col">
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrReferenceCustomer' | translate}}</div>
          <div class="info-cell value hyperlink" (tap)="onTapContactLinkHandler()" [innerHtml]="contact.fullName()"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrCustomerType' | translate}}</div>
          <div class="info-cell value" [innerHtml]="contact.recordType"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrContactSpecialty' | translate}}</div>
          <div class="info-cell value" [innerHtml]="contact.specialty"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.IsPrimary' | translate}}</div>
          <div class="info-cell value">
            <input type="checkbox" class="check-box" [checked]="dcr.dcrReferencePrimary">
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
