page-surveydetails {
.buttonDesign{
background: #01B9EA;
color: white;
border-radius: 5px;
}
.saveButton{
width: 100px;
color: white;
}
.reqAstric{
font-size: 20px;
color: red;
}
}
.toastClass {
white-space: pre;
}
