<ion-header>
  <ion-navbar>
    <ion-title>{{'home.Survey' | translate}}</ion-title>
    <ion-buttons end class="buttonDesign">
      <button ion-button class="saveButton" (click)="validateInput()">{{'common.buttons.SaveBtn' | translate}}</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col>
            <ion-item>{{'common.names.QuestionnaireName' | translate}} </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>{{surveyDetails.surveyname}}</ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="surveyDetails.surveytype == 'External'">
          <ion-col>
            <ion-item>{{'card.GeneralInfoFields.Customer' | translate}}</ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-select [(ngModel)]="customerName"
                placeholder="{{'card.GeneralInfoFields.SelectCustomer' | translate}}">
                <ion-option *ngFor="let customer of customerList" [value]="customer.contactSfId" (ionSelect)="onChangeContactTypeHandler(customer)">{{customer?.name}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-col>
            <ion-item>{{'card.GeneralInfoFields.Type' | translate}} </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>{{surveyDetails?.surveytype}}</ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="surveyDetails.surveytype == 'External'">
          <ion-col>
            <ion-item>{{'common.names.NonContactName' | translate}}:</ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-input type="text" [(ngModel)]="nonCustomer" placeholder="{{'card.GeneralInfoFields.NonCustomerPlaceholder' | translate}}"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- //text  -->
  <ion-list *ngFor="let surveyQuestion of dynamicSurveyBinder; let i=index;">
    <ion-list-header style="background: cornflowerblue">
      
      <ion-label style="color: white;"><span *ngIf="surveyQuestion.isthisquestionrequire" class="reqAstric">*</span> {{i+1}}.{{surveyQuestion?.question}}</ion-label>
    </ion-list-header>
    
    <ion-item *ngIf="surveyQuestion.type == 'Text'" no-lines>
      <ion-textarea  name="surveyQuestion.id" ngDefaultControl placeholder="Enter Text" [(ngModel)]="surveyQuestion.surveyDetail.stringrealvalue"></ion-textarea>
    </ion-item>
  
    <ion-item *ngIf="surveyQuestion.type == 'Numeric'" no-lines>
      <ion-input name="surveyQuestion.id" ngDefaultControl type="text" placeholder="Enter Numeric Value" [(ngModel)]="surveyQuestion.surveyDetail.numberrealvalue"></ion-input>
    </ion-item>

    
    <ion-list radio-group *ngIf="surveyQuestion.type == 'Radio'" no-lines>
      <ion-item *ngFor="let radioGrp of reformat(surveyQuestion.picklistvalue)">
        <ion-label>{{radioGrp}}</ion-label>
        <ion-radio [value]="radioGrp" [(ngModel)]="surveyQuestion.surveyDetail.realvalue" ngDefaultControl></ion-radio>
      </ion-item>
       </ion-list>


    <ion-list radio-group *ngIf="surveyQuestion.type == 'Picklist'" no-lines>
      <ion-item *ngFor="let checkboxgrp of reformat(surveyQuestion.picklistvalue)">
        <ion-label>{{checkboxgrp}}</ion-label>
        <ion-radio [value]="checkboxgrp" [(ngModel)]="surveyQuestion.surveyDetail.realvalue" ngDefaultControl></ion-radio>
      </ion-item>

     </ion-list>
     


    <ion-list name="surveyQuestion.id" ngDefaultControl *ngIf="surveyQuestion.type == 'Multipicklist'" no-lines [(ngModel)]="surveyQuestion.surveyDetail.realvalue">
      <ion-item *ngFor="let multicheckBoxGrp of reformat(surveyQuestion.picklistvalue)">
        <ion-label>{{multicheckBoxGrp}}</ion-label>
        <ion-checkbox ngDefaultControl [(ngModel)]="surveyQuestion.surveyDetail.realvalue"></ion-checkbox>
      </ion-item>

    </ion-list>

  </ion-list>

  <div class="card" style="background-color:#00B5E6">
    <div class="card-body"  style="font-size:17px">{{'common.names.FeedbackDetails' | translate}}</div>
  </div>
 <table class="table">
    <thead>
      <tr>
        <th scope="col">{{'common.names.CustomerName' | translate}}</th>
        <th scope="col">{{'common.names.NonContactName' | translate}}</th>
        <th scope="col">{{'common.names.Question' | translate}}</th>
        <th scope="col">{{'common.names.Answer' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let surveyResponse of surveyResponseData">
        <td>{{surveyResponse?.remoteCustomerName}}</td>
        <td>{{surveyResponse.noncustomervalue}}</td>
        <td>{{surveyResponse?.question}}</td>
        <td>{{surveyResponse?.stringrealvalue || ''}} {{surveyResponse?.numberrealvalue || ''}} {{surveyResponse?.realvalue || ''}}</td>
      </tr>
    </tbody>
  </table>

</ion-content>