<ion-header>
	<ion-navbar>
		<ion-title>{{ 'common.SalesPlanning.title' | translate }}</ion-title>
		<ion-buttons end (click)="saveData()" class="saveButton" style="text-align: center;">
			<button ion-button icon-only>
				<span>Save</span>
			</button>
		</ion-buttons>
		<ion-buttons start (click)="cancelAction()" class="saveButton" style="text-align: center;">
			<button ion-button icon-only>
				<span>Cancel</span>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col>
				<ion-row>
					<ion-col>
						<ion-item no-lines class="padding-0">
                                {{ 'common.SalesPlanning.doctorName' | translate }}
						</ion-item>

					</ion-col>
					<ion-col>
						<ion-item no-lines class="itemDesign">
							<!-- <ion-input type="text" placeholder="Doctor First Name" class="inputDesign"></ion-input> -->
							<ion-label>{{slectedSalesPlanRecords?.contactName}}</ion-label>
						</ion-item>

					</ion-col>
				</ion-row>
			</ion-col>

		</ion-row>
	</ion-grid>
	<ion-grid>
        <!-- <ion-row>
            <ion-col>
                    {{ 'common.SalesPlanning.product' | translate }}
            </ion-col>
            <ion-col>
                    {{ 'common.SalesPlanning.quantity' | translate }}
            </ion-col>
            <ion-row>
                    {{ 'common.SalesPlanning.total' | translate }}
            </ion-row>
        </ion-row> -->
		<ion-row *ngFor="let salesPlanProduct of salesPlanProductWrapper;">
			<ion-col>

				<ion-list no-lines>
					<ion-item no-lines style="background: lightgray;overflow: hidden;width: 200px;">
						<!-- <ion-label>Select Product</ion-label> -->
						<!-- (ionChange)="dynamicPriceCalculation(salesPlanProduct);" -->
						<ion-select [(ngModel)]="salesPlanProduct.product" placeholder="Select Product">
							<ion-option value="">Select Product</ion-option>
							<ion-option *ngFor="let product of productList" (ionSelect)="dynamicPriceCalculation(product,salesPlanProduct);" [value] = "product.id">{{product.name}}</ion-option>
						</ion-select>
					</ion-item>
				</ion-list>
			</ion-col>
			<ion-col>
				<ion-item no-lines style="padding: 0;"> 
					<ion-input type="text" placeholder="Quantity" [(ngModel)]="salesPlanProduct.plannedQuantity" class="inputDesign"></ion-input>
				</ion-item>
			</ion-col>
			<ion-col>
				<ion-item no-lines style="padding: 0;" class="inputDesign">
					<ion-label *ngIf="salesPlanProduct.plannedQuantity && salesPlanProduct.price">{{salesPlanProduct.plannedQuantity * salesPlanProduct.price}}</ion-label>
					<!-- <ion-input type="text" placeholder="Total Price" [(ngModel)]="totalprice1" class="inputDesign"></ion-input> -->
				</ion-item>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>

