//  .popuporderBackground ion-backdrop{
//         opacity: 0.5 !important;
//         background-color: black;   
//       }
      
      .popover-md.popuporderBackground .popover-content{
        border-radius: 10px;
    width: 80%;
    min-width: 0;
    min-height: 0;
    max-height: 90%;
    color: #000;
    background: #fff;
    position: absolute;
    top: 100px !important;
        //display: contents;
      }

    .popover-ios.popuporderBackground .popover-content {
    border-radius: 10px;
    width: 80%;
    min-width: 0;
    min-height: 0;
    max-height: 90%;
    color: #000;
    background: #fff;
    position: absolute;
    top: 100px !important;
    /* right: 100px; */
    /* position: relative; */
    /* left: 100px; */
}
      .saveButton{
        background: #21b4f3;;
        width: 100px;
        text-align: center;
    }
    .padding-0{
        padding-left: 0;
    }
    .itemDesign{
        // position: absolute;  
        right: 0px;width: 180px;
    }
    .inputDesign{
        // border: 1px solid gray;
        // border-radius: 10px;
        background: lightgray !important;
    }
    // span{
    //     color: white;
    // }
    // .popover-ios .popover-content {
    //     border-radius: 10px;
    //     /* width: 350px; */
    //     min-width: 0;
    //     min-height: 0;
    //     max-height: 90%;
    //     color: #000;
    //     background: #fff;
    //     position: absolute;
    //     right: 100px;
    // }
    
      

