<ion-header class="page-header">
  <ion-navbar #navbar>
    <div class="row text-center">
      <div class="col-md-10">
        <div class="title">
          <span *ngIf="!this.contactStartBackup.id">{{ 'card.Contact.CreateHeaderTitle' | translate }}</span>
          <span *ngIf="this.contactStartBackup.id">{{ 'card.Contact.HeaderTitle' | translate }} {{ contact.fullName() }}</span>
        </div>
      </div>
      <div class="col-md-2">
        <button class="ctrl-btn" (click)="onTapSaveBtnHandler()">{{ 'common.buttons.SaveBtn' | translate }}</button>
      </div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content class="content-page-detail">
  <div class="wrapper">
    <div class="page-row">
      <div class="page-col">
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.FirstName' | translate}}</div>
          <div class="info-cell value">
            <ion-input class="input-page-field" type="text" [(ngModel)]="contact.firstName"
                       placeholder="{{ 'common.names.PhysicianFirstName' | translate }}"></ion-input>
          </div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.LastName' | translate}}</div>
          <div class="info-cell value">
            <ion-input class="input-page-field" type="text" [(ngModel)]="contact.lastName"
                       placeholder="{{ 'common.names.PhysicianLastName' | translate }}"></ion-input>
          </div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.MiddleName' | translate}}</div>
          <div class="info-cell value">
            <ion-input class="input-page-field" type="text" [(ngModel)]="contact.middleName"
                       placeholder="{{ 'common.names.PhysicianMiddleName' | translate }}"></ion-input>
          </div>
        </div>
      </div>
      <div class="page-col">
        <div class="info-row">
          <div class="info-cell label">{{'card.Contact.GeneralInfoFields.MobilePhone' | translate}}</div>
          <div class="info-cell value">
            <ion-input class="input-page-field" type="text" [(ngModel)]="contact.mobilePhone"
                       placeholder="{{ 'common.names.MobilePhone' | translate }}"></ion-input>
          </div>
        </div>

        <div class="info-row">
          <div class="info-cell label">{{'card.Contact.GeneralInfoFields.Email' | translate}}</div>
          <div class="info-cell value">
            <ion-input class="input-page-field" type="text" [(ngModel)]="contact.email"
                       placeholder="{{ 'common.names.Email' | translate }}"></ion-input>
          </div>
        </div>

        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.KOL' | translate}}</div>
          <div class="info-cell value">
            <ion-select #kolSelect placeholder="{{ 'common.defaultSelectValue' | translate }}" class="select select-picklist-button" [(ngModel)]="contact.kol" [selectOptions]="filterOptions">
              <ion-option *ngFor="let kol of kols" [value]="kol.id" (ionSelect)="onChangeKolHandler(kol)" multiple="false">{{ kol.description }}</ion-option>
            </ion-select>
          </div>
        </div>
      </div>
    </div>
    <div class="page-row description-page-row">
      <div class="info-row description-row" *ngIf="isShowContactDescriptionEnable()">
        <div class="info-cell label">{{'card.GeneralInfoFields.Description' | translate}}</div>
        <div class="info-cell value">
          <ion-textarea autoresize class="text-area" #description [(ngModel)]="contact.description" placeholder="{{ 'common.names.Description' | translate }}">
          </ion-textarea>
        </div>
      </div>
    </div>

    <h2 class="blue-header">{{'card.GeneralInfoFields.Workplace' | translate}}</h2>

    <div class="page-row">
      <div class="page-col">
        <div class="info-row organization-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.Organization' | translate}}</div>
          <div class="info-cell value" (tap)="onTapAccountBtnHandler()">
            <div class="psevdo-text-area" >
              <span [innerHtml]="organization.name"></span>
              <span *ngIf="!organization.name">{{ 'common.names.Organization' | translate }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="page-col">
        <div class="info-row read-only address-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.Address' | translate}}</div>
          <div class="info-cell value">
            <div class="psevdo-text-area" >
              <span [innerHtml]="organization.fullAddress()"></span>
              <span *ngIf="!organization.fullAddress()">{{ 'common.names.Address' | translate }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
