<ion-header #contentHeader class="page-header">
  <ion-navbar>
    <div class="row text-center">
      <div class="col-md-1">
        <button class="ctrl-add-button" *ngIf="isAddBtnActive()" (click)="onTapCreateOrderHandler()"></button>
      </div>
      <div class="col-md-7">
        <div class="title">{{ 'common.names.Orders' | translate}} <span *ngIf="count > 0">{{'(' + count + ')'}}</span></div>
      </div>
      <div class="col-md-4">
        <ion-searchbar showCancelButton="false" [(ngModel)]="search" (ionBlur)="onSearchHandler($event)"
                       (ionClear)="onClearHandler($event)" (ionCancel)="onClearHandler($event)"></ion-searchbar>
      </div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content #mainContent class="main-content">
  <div class="fixed-content" ion-fixed>
    <lazy-table (queryChange)="onChangeQueryHandler($event)" (swipe)="onSwipeHandler($event)"></lazy-table>
  </div>
</ion-content>
