page-order-list {
  background: white;

  .main-content {
    .fixed-content{
      width: 100%;
    }

    table-header table-header-item,
    table-row .cell {
      &:first-of-type {
        width: 10%;
      }
      &:nth-of-type(2) {
        width: 30%;
        text-align: center;
      }
      &:nth-of-type(3) {
        width: 20%;
        text-align: center;
      }
      &:nth-of-type(4) {
        width: 15%;
        text-align: center;
      }
      &:nth-of-type(5) {
        width: 10%;
        text-align: center;
      }
      &:last-of-type {
        width: 15%;
        text-align: center;
      }
    }
  }
}

