<filter-panel [content]="[mainContent, contentHeader]" (filtersChangeEvent)="onFilterChangeHandler($event)">
<filter-panel-picklist label="{{'common.names.PatchCustomer' | translate}}"
[field]="collection.scheme.fields.patchId" [picklistDatasource]="patchPicklistDatasource">
</filter-panel-picklist>

<filter-panel-picklist label="{{'common.names.TypeOfCustomer' | translate}}"
[field]="collection.scheme.fields.recordTypeId" [picklistDatasource]="patchRecordTypePicklistDatasource">
</filter-panel-picklist>
</filter-panel>

<ion-header #contentHeader class="page-header" >
  <ion-navbar>
      <div class="row text-center">
          <div class="col-md-3">
          </div>
          <div class="col-md-5">
            <div class="title">{{'common.names.PatchCustomer' | translate}} <span *ngIf="patchCount > 0">{{'(' + patchCount + ')'}}</span></div>
          </div>
          <div class="col-md-4">
            <ion-searchbar showCancelButton="false" [(ngModel)]="search" (ionBlur)="onSearchHandler($event)" (ionClear)="onClearHandler($event)" (ionCancel)="onClearHandler($event)"></ion-searchbar>
          </div>
        </div>
  </ion-navbar>
</ion-header>

  <ion-content #mainContent class="main-content">
    <div class="fixed-content" ion-fixed>
      <lazy-table (queryChange)="onChangeQueryHandler($event)" (swipe)="onSwipeHandler($event)"></lazy-table>
    </div>
  </ion-content>
