page-patch {
background: white;

  .main-content {
    .fixed-content{
      width: 100%;
    }

    table-header-item .header-cell{
      line-height: 0.9;
    }

    table-header table-header-item,
    table-row .cell {
      &:first-of-type {
        width: 25%;
      }
      &:nth-of-type(2) {
        width: 20%;
        padding-left: 0.1em;
        text-align: center;
      }
      &:nth-of-type(3) {
        width: 15%;
      }
      &:nth-of-type(4) {
        width: 15%;
        text-align: center;
      }
      &:nth-of-type(5) {
        width: 15%;
        text-align: center;
      }
      &:nth-of-type(6) {
        width: 10%;
      }


      &.appt span{
        width: 30px;
        height: 30px;
        border-radius: 5px;
        background-position: center center;
        background-repeat: no-repeat;
        display: block;
      }
      &.appt span {
        background-color: #808080;
        background-image: url('../assets/imgs/bit-buttons/clock.png');
        background-size: 17px 22px;
      }
    }

  }
  .ion-row {
    background: #f8f8f8;
  }
}
