table-header-item {
  position: relative;
  height: 100%;
  padding-right: 1em;
  padding-left: 1em;
  display: flex;
  align-items: center;
  background: #949498;
  justify-content: center;
  flex-grow: 1;
  width: 1%;

  .header-cell {
    position: relative;
    display: inline-block;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    word-break: break-word;
    font-family: Roboto, sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    text-align: center;
  }
  &.sort-filter .header-cell:after {
    position: absolute;
    right: -0.6em;
    top: 50%;
    margin-top: -0.3em;
    content: '';
    display: block;
    width: 0.6em;
    height: 0.6em;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    -webkit-transform: translate(70%, 20%) rotate(45deg);
    -webkit-transform-origin: 25% 25%;
    opacity: 0.4;
  }
  &.sort-filter.desc .header-cell:after {
    -webkit-transform: translate(70%, 20%) rotate(-135deg);
  }
  &.sort-filter.active {
    background-color: #828282;
  }
}
