<ion-content class="item-wrapper" clickOutsideEmitter (clickOutsideCustomEvent)="onTapOutsideHandler()">
  <ion-list class="item-list">

    <ion-item class="menu-item" (click)="onTapGotoBtnHandler(PAGES.HELPDESK)">
      <div item-content class="icon helpdesk"></div>
      <ion-label>{{'homeMenu.Helpdesk' | translate}}</ion-label>
    </ion-item>

    <ion-item class="menu-item" (click)="onTapOpenLanguagePopupHandler()">
      <div item-content class="icon language"></div>
      <ion-label>{{'homeMenu.Language' | translate}}</ion-label>
    </ion-item>

    <ion-item class="menu-item">
      <div item-content class="icon dyn-agenda" (click)="onTapGotoBtnHandler(PAGES.DYNAMIC_AGENDA)"></div>
      <ion-label>{{'homeMenu.DynamicAgenda' | translate}}</ion-label>
    </ion-item>

    <ion-item class="menu-item" (click)="onTapLockBtnPopupHandler()">
      <div item-content class="icon lock"></div>
      <ion-label>{{'homeMenu.Lock' | translate}}</ion-label>
    </ion-item>

    <ion-item class="menu-item" (click)="onTapLogoutBtnHandler()">
      <div item-content class="icon logout"></div>
      <ion-label>{{'homeMenu.Logout' | translate}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
