bottom-menu {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 18.5%;
  -webkit-transform: translate3d(0, 100%, 0);
  background-color: #a2d4f5;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  overflow: hidden;
  opacity: 0;

  &.open {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
  .item-wrapper{
    &,
    .item-list{
      width: 100%;
      height: 100%;
      background: transparent;
    }
    .scroll-content{
      margin: 0 !important;
    }

    .item-list{
      display: -webkit-box;

      .item{
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-box-pack: center;
        height: 100%;
        box-sizing: border-box;
        -webkit-box-flex: 1;
        background-color: #a2d4f5;
        text-align: center;
        font-size: 85%;
        line-height: 1.4em;
        color: #333;
        position: relative;

        .icon{
          position: absolute;
          top: 20%;
          left: 50%;
          width: 20%;
          padding-top: 11%;
          padding-bottom: 11%;
          background-image: url("../assets/imgs/bottom-menu/menu-icons.png");
          background-repeat: no-repeat;
          background-size: cover;
          -webkit-transform: translate(-50%, 0);

          &.helpdesk{
            background-position-x: 20%;
          }
          &.language{
            background-position-x: 40%;
          }
          &.dyn-agenda{
            background-position-x: 60%;
          }
          &.lock{
            background-position-x: 80%;
          }
          &.logout{
            background-position-x: 100%;
          }
        }
        .label {
          position: absolute;
          bottom: 15%;
          left: 50%;
          width: 100%;
          -webkit-transform: translate(-50%, 0);
          white-space: normal;
        }
      }
    }
  }
}
