<filter-panel [content]="[mainContent, contentHeader]" (filtersChangeEvent)="onFilterChangeHandler($event)" *ngIf="hideSubmitButton">
  <ion-list  class="sidemenu" *ngFor="let customer of customerList" no-lines (click)="itemselected(customer)">
    <ion-item>
      {{customer?.contactName}}
    </ion-item>
  </ion-list>
</filter-panel>
<ion-header #contentHeader class="page-header">
    <ion-navbar>
      <div class="row text-center">
        <div class="col-md-3">

        </div>
        <div class="col-md-5">
          <div class="title">{{ 'common.SalesPlanning.title' | translate}}</div>
        </div>
       <div class="col-md-4">
         <button ion-button (click)="submitApproval()"  *ngIf="hideSubmitButton">Submit</button>
       </div>
      </div>

    </ion-navbar>

  </ion-header>

  <ion-content #mainContent class="main-content">
    <div class="fixed-content" ion-fixed>
      <lazy-table (queryChange)="onChangeQueryHandler($event)" (swipe)="onSwipeHandler($event)"></lazy-table>
    </div>
  </ion-content>
