page-sales-planning-list-details {
  .sidemenu{
    margin: 0;
    padding: 0px;
    position: relative;
    display: block;
    list-style-type: none;
    position: relative;
    // position: absolute;
    // left: -20px;
    right: 20px;
  }
  ion-list{
    margin: 0;
padding: 0px;
position: relative;
display: block;
list-style-type: none;
position: absolute;
// position: absolute;
// left: -20px;
right: 20px;
  }
  
    .main-content {
        .fixed-content{
          width: 100%;
        }
    
        table-header-item .header-cell{
          line-height: 0.9;
        }
    
    
        table-header table-header-item,
        table-row .cell {
          &:first-of-type {
            width: 20%;
            padding-left: 0.1em;
            text-align: center;
          }
          &:nth-of-type(2) {
            width: 20%;
            padding-left: 0.1em;
            text-align: center;
          }
          &:nth-of-type(3) {
            width: 20%;
            padding-left: 0.1em;
            text-align: center;
          }
          &:nth-of-type(4) {
            width: 20%;
            padding-left: 0.1em;
            text-align: center;
          }
          &:nth-of-type(5) {
            width: 20%;
            padding-left: 0.1em;
            text-align: center;
          }
        }
    }
    
}
