<ion-header #contentHeader class="page-header">
  <ion-navbar>
    <div class="row text-center">
      <div class="col-md-3" style="display: flex;">
        <ion-item>
          <ion-select #filterType class="select select-picklist-button" [(ngModel)]="medicalString" [selectOptions]="filterOptions" multiple="false">
            <ion-option value="all" (ionSelect)="onChangeContactTypeHandler('all')">{{ 'All Queries' | translate }}</ion-option>
            <ion-option value="smc" (ionSelect)="onChangeContactTypeHandler('smc')">{{ 'Submitted To Medical' | translate }}</ion-option>
            <ion-option value="smr" (ionSelect)="onChangeContactTypeHandler('smr')">{{ 'Submitted To Rep' | translate }}</ion-option>
            <ion-option value="cl" (ionSelect)="onChangeContactTypeHandler('cl')">{{ 'Closed Queries' | translate }}</ion-option>
            <ion-option value="dr" (ionSelect)="onChangeContactTypeHandler('dr')">{{ 'Draft Queries' | translate }}</ion-option>
          </ion-select>
         
        </ion-item>
        <div>
            <button ion-button icon-only (click)="gotoAddMedicalQueryPage()" clear>
                <ion-icon name="add-circle"></ion-icon>
              </button>
        </div>
           
       
        <div>
          
        </div>
       
      </div>
      <div class="col-md-5">
        <div class="title">{{ 'tabbar.MedicalQuery' | translate}} <span *ngIf="contactsCount > 0">{{'(' + contactsCount + ')'}}</span></div>
      </div>
      <div class="col-md-4">
        <ion-searchbar showCancelButton="false" [(ngModel)]="search" (ionBlur)="onSearchHandler($event)" (ionClear)="onClearHandler($event)" (ionCancel)="onClearHandler($event)"></ion-searchbar>
      </div>
    </div>

  </ion-navbar>

</ion-header>

<ion-content #mainContent class="main-content">
  <div class="fixed-content" ion-fixed>
    <lazy-table (queryChange)="onChangeQueryHandler($event)" (swipe)="onSwipeHandler($event)"></lazy-table>
  </div>
</ion-content>
<!-- 
<ion-header>

    <ion-navbar>
     
      <ion-grid>
        <ion-row>
          <ion-col class="col3">
            <ion-item>
              
              <ion-select [(ngModel)]="medqueriesModel" (ionChange)="modo(medqueriesModel)" multiple="false">
                <ion-option value="mod1">Queries Submitted to Rep</ion-option>
                <ion-option value="mod2">Queries Submitted to Medical</ion-option>
                <ion-option value="mod3">Draft Queries</ion-option>
                <ion-option value="mod4">Closed Queries</ion-option>
                 <ion-option value="mod5" selected="true">All Medical Queries</ion-option>  
              </ion-select>
             
                  
                   
              
            </ion-item>
         
           
          </ion-col>
            <ion-buttons>
                <button ion-button icon-only (click)="openModal()">
                  <ion-icon name="add-circle"></ion-icon>
                </button>
              </ion-buttons>
          <ion-col>
            <ion-title text-center>Medical Query</ion-title>
          </ion-col>
          <ion-col>
            <ion-searchbar  showCancelButton="true"   (ionInput)="onSearch($event)"  (ionCancel)="isSearchbarOpened=false"></ion-searchbar>
          
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-navbar>
  
  </ion-header>
   <ion-content>
  <ion-content *ngIf="!showNewTable" padding>
   
      <ngx-datatable 
             [sortType]="'multi'"    
             [sorts]="[{prop: 'Creation_Date_Time__c', dir: 'asc'}]" 
             [headerHeight]="50" 
             [scrollbarV]="true"
             [rowHeight]="90"
             [rows]="rows"
             [scrollbarH]="true"
             [columns]="columns" 
             [columnMode]="'force'">
             <ngx-datatable-column name="{{ 'Date/Time'}}" prop="Creation_Date_Time__c">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div (click)='itemTapped(row)'>{{row?.Creation_Date_Time__c | date : "y-MM-d HH:mm"}}</div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="{{ 'Status' }}" prop="Status__c">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div (click)='itemTapped(row)'>{{row?.Status__c}}</div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="{{ ' Pharma Product'}}" prop="Pharma_Product__r.Name">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div (click)='itemTapped(row)'>{{row?.Pharma_Product__r?.Name}}</div> 
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="{{ 'Mylan Medical Contact'}}" prop="Owner.Name">
              <ng-template let-row="row" ngx-datatable-cell-template>
                  <div (click)='itemTapped(row)'>{{row?.Owner?.Name}}</div>
              </ng-template>
            </ngx-datatable-column>
         
            <ngx-datatable-column name="{{ 'Description'}}" prop="Query_description__c">
              <ng-template let-row="row" ngx-datatable-cell-template>
                  <div (click)='itemTapped(row)'>{{row?.Query_description__c}}</div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="{{ 'Non Customer Name'}}" prop="Non_Customer__c">
              <ng-template let-row="row" ngx-datatable-cell-template>
                  <div (click)='itemTapped(row)'>{{row?.Non_Customer__c}}</div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
       
   </ion-content> 
   <ion-content *ngIf="showNewTable" padding>
  
      <ngx-datatable 
             [sortType]="'multi'"     
             [headerHeight]="50" 
             [scrollbarV]="true"
             [rowHeight]="90"
             [rows]="rows"
             [scrollbarH]="true"
             [columns]="columns" 
             [columnMode]="'force'"
             
             >
             
            <ngx-datatable-column name="{{ 'Created Date/time' }}" prop="Creation_Date_Time__c">
              <ng-template let-row="row" ngx-datatable-cell-template>
                  <div  (click)='itemTapped(row)'>{{row?.Creation_Date_Time__c | date : "y-MM-d HH:mm"}}</div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="{{ 'Status'}}" prop="Status__c">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div  (click)='itemTapped(row)'>{{row?.Status__c}}</div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="{{ 'Pharma Product' }}" prop="Pharma_Product__r.Name">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                     <div  (click)='itemTapped(row)' >{{row?.Pharma_Product__r?.Name}}</div> 
                  </ng-template>
                </ngx-datatable-column>
            <ngx-datatable-column name="{{ 'Customer'}}" prop="Customer__r.Name">
              <ng-template let-row="row" ngx-datatable-cell-template>
                   <div (click)='itemTapped(row)'>{{row?.Customer__r?.Name}}</div> 
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="{{ 'Non-Customer'}}" prop="Non_Customer__c">
              <ng-template let-row="row" ngx-datatable-cell-template>
                   <div (click)='itemTapped(row)'>{{row?.Non_Customer__c}}</div> 
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="{{ 'Mylan Medical Contact'}}" prop="Mylan_Medical_Contact__r.Name">
              <ng-template let-row="row" ngx-datatable-cell-template>
                  <div (click)='itemTapped(row)'>{{row?.Mylan_Medical_Contact__r?.Name}}</div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
       
  </ion-content> 
  </ion-content> -->
