page-medical-query.ion-page {

   .main-content {
      .fixed-content{
        width: 100%;
      }
  
      table-header table-header-item,
      table-row .cell {
        &:first-of-type{
          width: 15%;
        }
        &:nth-of-type(2){
          width: 15%;
          padding-left: 0.1em;
        }
        &:nth-of-type(3) {
          width: 15%;
        }
        &:nth-of-type(4) {
          width: 20%;
        }
        &:nth-of-type(5) {
          width: 15%;
        }
        &:nth-of-type(6) {
         width: 20%;
       }
      }
    }

   ////@warn
    .ion-row{
        background: #f8f8f8;
    }
    .datatable-header {
     background: rgba(164, 192, 214,1); 
     padding: 1em 0 0 1em;
     font-size:0.8em;
  }
  .datatable-header-cell {
     font-size: 1.2em;
     font-weight: bold;
  }
  
  .datatable-body-row {
     padding: 0;
  }
  
  .datatable-row-even {
     background: rgba(240, 240, 240, 1);
  }
  
  .datatable-row-odd {
     background: rgba(255, 255, 255,1);
  }
  
  .datatable-body-cell {
     font-size:1em;
     padding: 1em;
     
     overflow: hidden !important;
   text-overflow: ellipsis !important;
   white-space: normal !important;
   text-align: center !important;
   vertical-align: middle !important;
  }
  
  .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
   overflow: hidden !important;
   overflow-y: visible;
   text-overflow: ellipsis !important;
   white-space: normal !important;
   text-align: center !important;
   vertical-align: middle !important;
  }
  .ngx-datatable{
   position: absolute !important;
   height: auto !important;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   width: 100%;
   }
   .ngx-datatable.div.visible {
      height: 100%;
      display: flex;
      flex-direction: column;
      }
      .ngx-datatable.datatable-body{
         flex-basis: 100%;
         }
  .datatable-footer {
     background: rgba(218, 226, 234,1); 
     padding: 0 1em 0 1em;
  
     .pager {
        li {
             padding: 0 1em !important;
  
             a {
                color: rgba(68, 68, 68, 1);
                text-decoration: none;
             }
          }
     }
  }
  .datatable-icon-done-all:before {
     content: ">>";
  }
  
  .datatable-icon-left:before {
     content: "<";
  }
  
  .datatable-icon-right:before {
     content: ">";
  }
  
  .datatable-icon-skip:before {
     content: ">>";
  }
  
  .datatable-icon-prev:before {
     content: "<<";
  }
          ion-navbar{
              background: #00a1e0;
          }
          
          ion-grid{
             
              padding-bottom: 7px;
          padding-top: 10px;
          color: black;
          text-align: center;
          }
          .select {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            overflow: hidden;
            max-width:100%;
          }
         .col3 {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 25%;
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            width: 25%;
            max-width: 22%;
          }

          .sortable .sort-btn:after {
            font-family: data-table;
            content: "\25B2";
            }
            .sortable .sort-btn.datatable-icon-down:after {
            content: "\25BC";
            }
            .sortable .sort-btn.datatable-icon-up:after {
            content: "\25B2";
            }
            .item-md {
               padding-left: 0px;
               border-radius: 12px;
            }
            .item-md.item-block .item-inner {
               padding-right: 0px;
               border: 2px solid #21b4f3;
               border-radius: 12px;
            }
            .select {
               display: -webkit-box;
               display: -webkit-flex;
               display: -ms-flexbox;
               display: flex;
               overflow: hidden;
               max-width:100%;
             }
             .col3 {
               -webkit-box-flex: 0;
               -webkit-flex: 0 0 25%;
               -ms-flex: 0 0 25%;
               flex: 0 0 25%;
               width: 25%;
               max-width: 19%;
             }
             .select-text{
               min-width: 80px;
             }
 }
