<ion-header #contentHeader class="page-header">
  <ion-navbar>
    <div class="row text-center">
      <div class="col-md-2">
          <ion-item>
            <ion-select #filterType class="select select-picklist-button" [(ngModel)]="typeFilterOptions" [selectOptions]="filterOptions" multiple="false">
              <ion-option value="all" (ionSelect)="onChangeStatusTypeHandler('all')">{{ 'tots.FilterPopup.All' | translate }}</ion-option>
              <ion-option value="open" (ionSelect)="onChangeStatusTypeHandler('open')">{{ 'tots.FilterPopup.Open' | translate }}</ion-option>
              <ion-option value="submit" (ionSelect)="onChangeStatusTypeHandler('submit')">{{ 'tots.FilterPopup.Submit' | translate }}</ion-option>
              <ion-option value="closed" (ionSelect)="onChangeStatusTypeHandler('closed')">{{ 'tots.FilterPopup.Closed' | translate }}</ion-option>
            </ion-select>
          </ion-item>
      </div>
      <div class="col-sm-1">

        <button ion-button icon-only (click)="openModal()">

        <ion-icon name="add-circle"></ion-icon>

        </button>

        </div>
      <div class="col-md-5">
        <div class="title">{{ 'tots.HeaderTitle' | translate}} <span *ngIf="totsCount > 0">{{'(' + totsCount + ')'}}</span></div>
      </div>
      <div class="col-md-4">
        <ion-searchbar showCancelButton="false" [(ngModel)]="search" (ionBlur)="onSearchHandler($event)" (ionClear)="onClearHandler($event)" (ionCancel)="onClearHandler($event)"></ion-searchbar>
      </div>
    </div>

  </ion-navbar>

</ion-header>
<ion-content #mainContent class="main-content">
  <div class="fixed-content" ion-fixed>
    <lazy-table (queryChange)="onChangeQueryHandler($event)" (swipe)="onSwipeHandler($event)"></lazy-table>
  </div>
</ion-content>
