page-tot {
   background: white;

   .main-content {
     .fixed-content{
       width: 100%;
     }
 
     table-header table-header-item,
     table-row .cell {
       &:first-of-type{
         width: 20%;
       }
       &:nth-of-type(2){
         width: 20%;
         padding-left: 0.1em;
       }
       &:nth-of-type(3) {
         width: 20%;
       }
       &:nth-of-type(4) {
         width: 20%;
       }
       &:nth-of-type(5) {
         width: 20%;
       }
     }
   }

   .all-day {
      width: 30px !important;
      height: 30px;
      border-radius: 5px;
      background-position: center center;
      background-repeat: no-repeat;
      display: block;
      //background-color: #21b4f3;
      background-image: url('../assets/imgs/checkmarkcircle.png');
      background-size: 22px 21px;
    }
   
}
