<ion-header>

  <ion-navbar color="myforce-light" #navbar>

    <ion-title>
      <span *ngIf="isEditMode">{{'scenarioDetails.EditHeaderTitle' | translate }}</span>
      <span *ngIf="!isEditMode">{{'scenarioDetails.HeaderTitle' | translate }}</span>
    </ion-title>

    <ion-buttons right>
      <button ion-button solid color="myforce-primary" (click)="onClickPreview()">{{'common.buttons.Preview' | translate}}</button>
      <button ion-button solid color="myforce-primary" (click)="onClickSave()">{{'common.buttons.SaveBtn' | translate}}</button>
    </ion-buttons>

  </ion-navbar>

</ion-header>



<ion-content>
  <div class="content-wrapper" ion-fixed>
    <scenarios-side-view></scenarios-side-view>
    <scenarios-grid-view></scenarios-grid-view>
  </div>
</ion-content>
