page-scenario-details {
  .toolbar-ios-myforce-light .back-button{
    color: #21b4f3;
  }

  ion-header {
    ion-buttons{
      button {
        min-width: 8em;

        &:not(:last-of-type) {
          margin-right: 16px;
        }
      }
    }
  }
  .content-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
  }

  scenarios-side-view{
    width: 30%;
    height: 100%;
  }
  scenarios-grid-view{
    width: 70%;
    height: 100%;
  }
}
