page-doctorconsents-details {
    .toolbar-background-ios {
        background: #f7f7f7;
    }
    .title {
        color: #000;
        text-align: center;
        font-size: 1.4em;
        font-weight: 600;
        pointer-events: auto;
    }
}
