<!--
  Generated template for the DoctorconsentsDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <div class="row text-center">
      <div class="col-sm-1">
        <button ion-button icon-only (click)="openModal()">
          <ion-icon name="add-circle"></ion-icon>
        </button>
      </div>
      <div class="col-md-7">
        <div class="title">{{'common.names.DoctorConsents' | translate}}<span
            *ngIf="doctorsConsentsCount > 0">{{'(' + doctorsConsentsCount + ')'}}</span></div>
      </div>
      <div class="col-md-4">
        <ion-searchbar showCancelButton="false" [(ngModel)]="search" (ionBlur)="onSearchHandler($event)"
          (ionClear)="onClearHandler($event)" (ionCancel)="onClearHandler($event)"></ion-searchbar>
      </div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content padding #mainContent class="main-content">
  <div class="fixed-content" ion-fixed>
    <lazy-table (queryChange)="onChangeQueryHandler($event)" (swipe)="onSwipeHandler($event)"></lazy-table>
  </div>
</ion-content>