trade-module {
  .tm-header{
    background-color: #00B5E6;
    margin: 0;
    text-align: center;
    color: white;
    padding: 1rem 0;
    font-size: 2rem;
    font-weight: bold;
  }

  .tm-panel{
    margin: 0;
    display: -webkit-box;
    -webkit-box-pack: end;
    -webkit-box-align: center;

    .checkbox-checked {
      border-color: #00B5E6;
      background-color: #00B5E6;
    }

    .tm-previous-data-control{
      width: auto;

      .item-inner{
        border: none;
      }

      ion-label{
        font-weight: normal;
      }
    }
  }

  .tm-table-header{
    background-color: #949498;
    margin: 0;
    color: white;
    padding: 0.2rem 0;
    font-size: 1.7rem;
    font-weight: bold;

    ion-col{
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      line-height: 1;
    }
  }

  .grid{
    padding: 0;
  }
  
  .tm-account-sku{
    font-size: 1.5rem;
    font-weight: normal;
    min-height: 2.5rem;
    margin: 0;

    ion-col{
      display: -webkit-box;
      -webkit-box-pack: center;
      -webkit-box-align: center;
      padding: 1rem;
      line-height: 1;

      .tm-actual-answer,
      .tm-previous-answer{
        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        min-height: 45px;
        -webkit-box-flex: 1;
      }

      .tm-no-answer{
        opacity: 0.5;
      }

      ion-input{
        border-bottom: 1px solid #999;

        input{
          color: #999;
          text-align: center;
        }
      }

      ion-input.answered{
        border-bottom: 1px solid rgb(50, 50, 50);

        input{
          color: rgb(50, 50, 50);
        }
      }

      ion-select{
        color: #999;
        border: 1px solid #999;
        display: -webkit-box;
        max-width: none;
        border-radius: 10px;
        width: 100%;
      }

      .select-text.select-placeholder {
        color: #999 !important;
      }

      ion-select.answered{
        color: rgb(50, 50, 50);
        border: 1px solid rgb(50, 50, 50);
      }

      .select-text{
        font-size: 1.5rem;
        text-align: center;
      }
    }
  }

  .tm-account-sku:nth-of-type(odd) {
    background-color: #efeff4;
  }
}
