<!-- Generated template for the TradeModuleComponent component -->
<div *ngIf="accountSkuTasks.length > 0">

  <div class="tm-header" data-i18n="tradeModule.Title">
    {{ 'tradeModule.Title' | translate }}
  </div>

  <div class="tm-panel" *ngIf="isViewMode === false">

    <ion-item class="tm-previous-data-control">
      <ion-checkbox [(ngModel)]="isPreviousDataMode"></ion-checkbox>
      <ion-label data-i18n="tradeModule.PreviousData">
        {{ 'tradeModule.PreviousData' | translate }}
      </ion-label>
    </ion-item>

  </div>

  <ion-grid>
    <ion-row class="tm-table-header">
      <ion-col class="tm-sku-name" data-i18n="tradeModule.Sku">
        {{ 'tradeModule.Sku' | translate }}
      </ion-col>
      <ion-col class="tm-sku-task" data-i18n="tradeModule.Task">
        {{ 'tradeModule.Task' | translate }}
      </ion-col>
      <ion-col class="tm-question-name" *ngFor="let question of questions">
        {{question.description}}
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let accountSkuTask of accountSkuTasks" class="tm-account-sku">
      <ion-col class="tm-sku-name">
        {{accountSkuTask.skuName}}
      </ion-col>
      <ion-col class="tm-sku-task">
        {{accountSkuTask.taskName}}
      </ion-col>
      <ion-col class="tm-question" *ngFor="let question of questions">

        <div *ngIf="isPreviousDataMode == false && isViewMode == false" class="tm-actual-answer">


          <ion-input [(ngModel)] = "answers[getAnswerId(question, accountSkuTask)]"
                     [ngClass]=" isAnswered(question, accountSkuTask) ? 'answered' : '' "
                     *ngIf="question.type == 'numeric'"
                     placeholder="{{'common.defaultSelectValue' | translate}}"
                     type="tel"
                     (keypress)="codeInput($event)"
                     (input)="saveAnswer(question, accountSkuTask, $event.target.value)"
          ></ion-input>

          <ion-input [(ngModel)] = "answers[getAnswerId(question, accountSkuTask)]"
                     [ngClass]=" isAnswered(question, accountSkuTask) ? 'answered' : '' "
                     *ngIf="question.type == 'text'"
                     placeholder="{{'common.defaultSelectValue' | translate}}"
                     type="text"
                     (input)="saveAnswer(question, accountSkuTask, $event.target.value)"
          ></ion-input>

          <ion-select [(ngModel)] = "answers[getAnswerId(question, accountSkuTask)]"
                      [ngClass]=" isAnswered(question, accountSkuTask) ? 'answered' : '' "
                      *ngIf="question.type == 'picklist'"
                      interface="popover"
                      placeholder="{{'common.defaultSelectValue' | translate}}"
          >
            <ion-option value="" data-i18n="common.defaultSelectValue" (ionSelect)="saveAnswer(question, accountSkuTask, option)">{{'common.defaultSelectValue' | translate}}</ion-option>
            <ion-option value="{{option}}" *ngFor="let option of question.picklistOptions" (ionSelect)="saveAnswer(question, accountSkuTask, option)">{{option}}</ion-option>
          </ion-select>

        </div>

        <div *ngIf="isPreviousDataMode || isViewMode" class="tm-previous-answer" [ngClass]="isPreviousAnswerAnswered(question, accountSkuTask) ? '' : 'tm-no-answer' ">
          {{ previousAnswers[getAnswerId(question, accountSkuTask)] || ('common.defaultSelectValue' | translate) }}
        </div>


      </ion-col>

    </ion-row>
  </ion-grid>

</div>
