page-india-appointment-details {
    .psevdo-text-area .label-ios{
        white-space:normal !important;
        // background: white;
        // border: 1px solid #b7b7bb;
        // border-radius: 5px;
        // padding: 1em;
        // margin-top: 1.5%;
        // width: 100%;
        // box-sizing: border-box;
        // min-height: 1.5em;
        // font-size: 1.2em;
        // font-weight: 400;
        // color: #87878c;
        // display: block;
      }
        .info-row{
            width:100%;
            background-color: '#foo';
            font-family: "Roboto";
        }
        .setHeader{
          margin-top:-20px;
        }
        // .col {
        //     border-bottom: 1px solid #c1c1c1;
        // }
        .info-row:nth-of-type(odd)
        {
            background: #efeff4;
        }
        h5{
            font-size: 1.0em;
            font-family: "Roboto";
            font-weight: "Bold";
        }
        .info-row-blue
        {
            background-color:  #21b4f3;
            color: #fff;
            font-weight: 500;
            text-align: left;
            width: 100%;
        }
        
        ion-col.col {
            padding-top: 1.0em;
        }
        ion-col.col h3{
            padding-top:1.5em;
        }
        .selector {
        font-family: SFNSDisplay;
        font-size: 12px;
        line-height: 1.2;
        letter-spacing: 0.1px;
        color: #29235e;
        width: 100% !important;
        max-width: 100% !important;
        justify-content: center;
        border: solid 2px #e8ebf0;
        background-color: #ffffff;
        text-align: center;
      }
      .option {
        font-family: SFNSDisplay;
        font-size: 8px;
        line-height: 1.2;
        letter-spacing: 0.1px;
        color: #29235e;
        width: 100% !important;
        max-width: 100% !important;
        justify-content: center;
        height: 20px;
      }
    
      ion-option .list{
        font-family: SFNSDisplay;
        font-size: 8px !important;
        max-width: 100% !important;
      }
      .ion-option-items .item{
        font-family: SFNSDisplay;
        font-size: 8px !important;
        max-width: 100% !important;
      }
     .select-popover {
        font-family: SFNSDisplay !important;
        font-size: 8px !important;
        max-width: 100% !important;
      }
      .col-example {
      padding: 1rem;
      background-color: #33b5e5;
      border: 2px solid #fff;
      }
}

.toastClass{
    .toast-wrapper { border-radius: 5px !important; text-align: center;}
    text-align:center;
    };
    
