<ion-header class="page-header">
  <ion-navbar #navbar>
    <div class="row text-center">
      <div class="col-md-10">
        <div class="title">{{ 'card.DCR.Title' | translate }}</div>
      </div>
      <div class="col-md-2">
        <button class="ctrl-btn" *ngIf="isDeleteBtnEnable" (click)="onTapDeleteBtnHandler()">{{ 'common.buttons.DeleteBtn' | translate }}</button>
      </div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content class="content-page-detail">
  <div class="wrapper">

    <div class="page-row">
      <div class="page-col">
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrStatus' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrStatus"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrType' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrType"></div>
        </div>
      </div>
      <div class="page-col">
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrDateOfRequest' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dateOfRequestStr()"></div>
        </div>
      </div>
    </div>

    <h2 class="blue-header">{{'card.GeneralInfoFields.Organization' | translate}}</h2>

    <div class="page-row">
      <div class="page-col">
        <div class="info-row" *ngIf="isChinaUser">
          <div class="info-cell label">{{'card.DCR.DcrOrganizationCNId' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrOrganizationCNId"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrOrganizationBillingCountry' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrOrganizationBillingCountry"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrOrganizationBillingState' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrOrganizationBillingState"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrOrganizationBillingCity' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrOrganizationBillingCity"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrOrganizationBillingStreet' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrOrganizationBillingStreet"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrOrganizationBillingPostalCode' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrOrganizationBillingPostalCode"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrOrganizationBrick' | translate}}</div>
          <div class="info-cell value" [innerHtml]="getBrickPicklistValues(dcr.dcrOrganizationBrick)"></div>
        </div>
        <div class="info-row" *ngIf="isChinaUser">
          <div class="info-cell label">{{'card.DCR.DcrOrganizationCNHospitalGrade' | translate}}</div>
          <div class="info-cell value" [innerHtml]="getPicklistValues(dataChangeRequestsCollection.scheme.fields.dcrOrganizationCNHospitalGrade.sfdc, dcr.dcrOrganizationCNHospitalGrade)"></div>
        </div>
        <div class="info-row" *ngIf="isChinaUser">
          <div class="info-cell label">{{'card.DCR.DcrOrganizationCNProperty' | translate}}</div>
          <div class="info-cell value" [innerHtml]="getPicklistValues(dataChangeRequestsCollection.scheme.fields.dcrOrganizationCNProperty.sfdc, dcr.dcrOrganizationCNProperty)"></div>
        </div>
      </div>
      <div class="page-col">
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrOrganizationName' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrOrganizationName"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrOrganizationRecordType' | translate}}</div>
          <div class="info-cell value" [innerHtml]="getRecordTypePicklistValues(dcr.dcrOrganizationRecordType)"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrOrganizationSubtype' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrOrganizationSubtype"></div>
        </div>

        <div class="info-row" *ngIf="!isChinaUser">
          <div class="info-cell label">{{'card.DCR.DcrOrganizationPriority' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrOrganizationPriority"></div>
        </div>
        <div class="info-row" *ngIf="!isChinaUser">
          <div class="info-cell label">{{'card.DCR.DcrOrganizationCJuridicGroup' | translate}}</div>
          <div class="info-cell value" [innerHtml]="getPicklistValues(dataChangeRequestsCollection.scheme.fields.dcrOrganizationCJuridicGroup.sfdc, dcr.dcrOrganizationCJuridicGroup)"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrOrganizationStatus' | translate}}</div>
          <div class="info-cell value" [innerHtml]="getPicklistValues(dataChangeRequestsCollection.scheme.fields.dcrOrganizationStatus.sfdc, dcr.dcrOrganizationStatus)"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrOrganizationPhone' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrOrganizationPhone"></div>
        </div>
        <div class="info-row" *ngIf="isChinaUser">
          <div class="info-cell label">{{'card.DCR.DcrOrganizationCNTargetHospital' | translate}}</div>
          <div class="info-cell value" [innerHtml]="getPicklistValues(dataChangeRequestsCollection.scheme.fields.dcrOrganizationCNTargetHospital.sfdc, dcr.dcrOrganizationCNTargetHospital)"></div>
        </div>
        <div class="info-row" *ngIf="isChinaUser">
          <div class="info-cell label">{{'card.DCR.DcrOrganizationCNType' | translate}}</div>
          <div class="info-cell value" [innerHtml]="getPicklistValues(dataChangeRequestsCollection.scheme.fields.dcrOrganizationCNType.sfdc, dcr.dcrOrganizationCNType)"></div>
        </div>
      </div>
    </div>
  </div>
</ion-content>