<ion-header class="page-header">
  <ion-navbar #navbar>
    <div class="row text-center">
      <div class="col-md-10">
        <div class="title">{{ 'card.NewOrders' | translate }}</div>
      </div>
      <div class="col-md-2">
        <button class="ctrl-btn" (click)="onTapSaveBtnHandler()">{{ 'common.buttons.SaveBtn' | translate }}</button>
      </div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content class="content-page-detail">
  <div class="wrapper">
    <div class="page-row">
      <div class="page-col">
        <div class="info-row">
          <div class="info-cell label">{{'common.names.AccountName' | translate}}</div>
          <div class="info-cell value">
            <button class="picklist-button" (click)="onTapAccountBtnHandler()">
              <span class="placeholder" *ngIf="!order.getAccountColumnData('').length">{{'card.GeneralInfoFields.SelectAccountName' | translate}}</span>
              <span *ngIf="order.getAccountColumnData('').length" [innerHtml]="order.getAccountColumnData('')"></span>
            </button>
          </div>
        </div>
        <div class="info-row samplewrapper">
          <div class="info-cell label">{{'common.names.SampleNo' | translate}}</div>
          <div class="info-cell value">
            <ion-input type="text" class="input-page-field" [(ngModel)]="order.sampleno"
                       placeholder="{{ 'card.GeneralInfoFields.enterSampleNo' | translate }}"></ion-input>
          </div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'Feedback.NonCustomer' | translate}}</div>
          <div class="info-cell value">
            <ion-input type="text" class="input-page-field" [(ngModel)]="order.noncustomer"
                       placeholder="{{ 'card.GeneralInfoFields.NonCustomerPlaceholder' | translate }}"></ion-input>
          </div>
        </div>
        <div class="info-row" *ngIf="isSpecialPrice">
          <div class="info-cell label">{{'common.names.SpecialPrice' | translate}}</div>
          <div class="info-cell value">
            <input type="checkbox" class="check-box" [(ngModel)]="order.specialprice">
          </div>
        </div>
      </div>
      <div class="page-col">
        <div class="info-row">
          <div class="info-cell label">{{'common.names.OrderRecordType' | translate}}</div>
          <div class="info-cell value" [innerHtml]="order.remoteRecordType"></div>
        </div>

        <div class="info-row">
          <div class="info-cell label">{{'common.names.Status' | translate}}</div>
          <div class="info-cell value" [innerHtml]="order.status"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'common.names.OrderCreated' | translate}}</div>
          <div class="info-cell value calendar" >
            <ion-datetime [pickerOptions]="{ cssClass: 'datetime-picker'}"
                          [max]="maxDate()"
                          [min]="minDate()"
                          cancelText="{{'common.buttons.CancelBtn' | translate}}"
                          doneText="{{'common.buttons.SaveBtn' | translate}}"
                          pickerFormat="DDD MMM DD YYYY HH mm"
                          displayFormat="DD.MM.YYYY \n HH:mm"
                          [(ngModel)]="order.dateTimeCreated">
            </ion-datetime>
          </div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'common.names.AccountID' | translate}}</div>
          <div class="info-cell value" [innerHtml]="order.externalAccountId"></div>
        </div>
        <div class="info-row remarks-wrapper">
          <div class="info-cell label">{{'common.names.Remarks' | translate}}</div>
          <div class="info-cell value">
            <ion-textarea class="text-area" [(ngModel)]="order.remarks"
                          placeholder="{{ 'card.GeneralInfoFields.enterRemarks' | translate }}"></ion-textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
