page-order-card-create-sample {
  .ctrl-btn {
    &.plus {
      position: absolute;
      top: 2px;
      right: 6px;
    }
  }

  .text-area {
    margin: 0;
    padding: 0;
    min-height: 0;
    background: white;

    textarea{
      min-height: 10em;
      padding: 1em;
      margin: 0;
    }
  }


  .info-cell .picklist-button {
    width: 90%;
    padding: 6px 20px 6px 2px;
    border-color: #b7b7bb;
    font-size: 100%;
    text-align: left;
    color: #87878c;

    &:after {
      border-color: #b7b7bb;
    }
  }

  .datetime {
    position: relative;
    padding: 7px 35px 7px 0;
    overflow: visible;
  }

  .content-page-detail .page-row .page-col .info-row .info-cell.value {
    &.calendar {
      width: auto;

      .datetime {
        &:after {
          position: absolute;
          top: 0;
          right: 0;
          display: block;
          content: '';
          width: 30px;
          height: 30px;
          -webkit-border-radius: 5px;
          background: url("../assets/imgs/bit-buttons/calendar.png");
          background-position: center center;
          background-repeat: no-repeat;
          background-color: #21b4f3;
          background-size: 73.333333333333% 73.333333333333%;
        }
      }
    }
  }
  .check-box {
    pointer-events: auto;
  }
}
