@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url("/assets/fonts/roboto/Roboto/Roboto-Light.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("/assets/fonts/roboto/Roboto/Roboto-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("/assets/fonts/roboto/Roboto/Roboto-Medium.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("/assets/fonts/roboto/Roboto/Roboto-Bold.ttf") format('truetype');
}
