ion-app.platform-ios12 ion-content {
  pointer-events: auto; /*fix scroll lock on ios12.2*/
}

body {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: #222;
  overflow: hidden;

  .app-root {
    &.lock {
      ion-alert.pin-alert,
      ion-modal.pin-alert {
        transform: translate3d(0, 0, 2px);
      }
      ion-alert:not(.pin-alert),
      ion-modal:not(.pin-alert) {
        opacity: 0 !important;
        pointer-events: none !important;
      }
    }
  }
  .page-header {
    display: -webkit-box;
    box-sizing: border-box;
    padding: 0 5px;
    -webkit-box-align: center;
    -webkit-transform: translate3d(0, 0, 0);
    width: 100%;
    overflow: hidden;
    -webkit-box-flex: 0;
    background-color: #f7f7f7;

    .item,
    .toolbar,
    .toolbar-background {
      background: transparent;
    }
    .item {
      padding: 0;

      .item-inner {
        border: none;
      }
    }
    &.without-filter {
      padding-left: 9em;
    }
    .back-button {
      position: relative;
      padding-left: 0.5em;
      min-width: 3em;
      font-size: 1.2em;
      color: #21b4f3;
    }
    .title {
      -webkit-box-flex: 100;
      padding: 0 2em 1px;
      margin: 0;
      overflow: hidden;
      height: 1.4em;
      font-size: 1.4em;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      word-break: break-all;
      font-weight: bold;
      text-overflow: ellipsis;
      text-align: center;
      text-transform: capitalize;
      color: #222;
    }
    .ctrl-add-button {
      position: relative;
      display: -webkit-box;
      -webkit-box-align: center;
      -webkit-box-pack: center;
      -webkit-box-shadow: inset 0 0 0 2px #21b4f3;
      height: 2.4em;
      width: 2.4em;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      margin-left: 15px;
      background: -webkit-linear-gradient(top, #21b4f3 0%, #21b4f3 100%) center center no-repeat, -webkit-linear-gradient(top, #21b4f3 0%, #21b4f3 100%) center center no-repeat;
      -webkit-background-size: 2px 50%, 50% 2px;
      -webkit-transform: scale3d(0.9, 0.9, 1);
    }
  }
  .select-picklist-button {
    $select-picklist-line-height: 1.1;
    $select-picklist-color: #21b4f3;

    display: -webkit-box;
    -webkit-box-align: center;
    position: relative;
    -webkit-appearance: none;
    -webkit-border-radius: 5px;
    border: 1px solid #21b4f3;
    background: #fff;
    font-size: 90%;
    padding: 0 35px 0 10px;
    outline: none;
    font-weight: 400;
    height: 1.9em;
    text-align: left;

    .select-icon {
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -8px;
      display: block;
      width: 10px;
      height: 10px;
      border-right: 2px solid #21b4f3;
      border-bottom: 2px solid #21b4f3;
      -webkit-transform: rotate(45deg);

      .select-icon-inner {
        display: none;
      }
    }

    &,
    .select-placeholder {
      font-family: Roboto;
      line-height: $select-picklist-line-height;
      color: $select-picklist-color;
    }

    .select-placeholder{
      font-size: 100%;
    }
  }
  .toolbar {
    .searchbar {
      width: 90%;
      padding: 0 0 0 10%;

      .searchbar-clear-icon {
        right: auto;
        top: 0;
        left: 100%;
        width: 2em;
        height: 2em;
        display: block;
        background: none;

        &:after,
        &:before {
          content: '';
          position: absolute;
          top: 0.2em;
          bottom: 0.2em;
          left: 50%;
          width: 3px;
          background-color: #21b4f3;
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }

        .button-inner,
        .button-effect {
          display: none;
        }
      }

      input.searchbar-input {
        width: 95%;
        box-sizing: border-box;
        padding: 0 0.5em 0 2em;
        font-size: 100%;
        -webkit-border-radius: 0.53333333333em;
        border-radius: 0.53333333333em;
        background-color: #fff;
        border: 1px solid #b7b7bb;
      }
    }
  }
  .content-page-detail {
    width: 100%;

    .wrapper {
      padding-top: 10px;
      font-size: 1.1em;
    }

    .table-header {
      position: relative;
      padding: 8px 0;
      width: 100%;
      min-height: 42px;
      background: #21b4f3;
      font-size: 1.3em;
      line-height: 1.4;
      font-weight: 500;
      text-align: center;
      color: #fff;
    }

    .page-row {
      margin-bottom: 2%;
      border-bottom: 1px solid #c1c1c1;
      display: -webkit-box;
      -webkit-box-pack: justify;
      -webkit-box-align: start;

      .page-col {
        width: 49.5%;
      }

      .info-row {
        width: 100%;
        display: -webkit-box;
        -webkit-box-sizing: border-box;
        -webkit-box-align: center;
        padding: 5px 5px 5px 15px;
        min-height: 41px;

        &:nth-of-type(even) {
          background: #efeff4;
        }

        .info-cell {
          width: 40%;
          padding-right: 1%;
          font-weight: 500;
          color: #333;

          &.value {
            width: 59%;
            font-weight: 400;
            color: #87878c;
            word-break: break-all;

            &.hyperlink {
              color: #21b4f3;
              font: 95% 'Roboto';
              font-weight: 400;
            }
          }
        }
        .check-box{
          margin: 4px 0;
        }
      }
    }

  }

  .ctrl-btn {
    position: relative;
    margin: 0 5px;
    padding: 2px;
    width: 8em;
    height: 100%;
    min-height: 32px;
    -webkit-border-radius: 4px;
    background-color: #21b4f3;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    line-height: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    &.plus {
      margin: 0;
      padding: 0;
      -webkit-box-shadow: inset 0 0 0 2px #fff;
      height: 2em;
      width: 2em;
      min-height: 20px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      margin-left: 15px;
      background: -webkit-linear-gradient(top, #fff 0%, #fff 100%) center center no-repeat, -webkit-linear-gradient(top, #fff 0%, #fff 100%) center center no-repeat;
      -webkit-background-size: 2px 50%, 50% 2px;
      -webkit-transform: scale3d(0.9, 0.9, 1);
    }

    &.delete-btn {
      background: #fe5950;
    }

    &.disabled{
      pointer-events: none;
      opacity: 0.5;
    }
  }

  .check-box {
    display: -webkit-box;
    box-sizing: border-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    font-size: 100%;
    width: 26px;
    height: 26px;
    border: solid 1px #949498;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-appearance: none;
    outline: none;
    pointer-events: none;

    &:checked,
    &.checked {
      background: #21b4f3;
      border-color: #21b4f3;
    }
  }

  .table {
    .thead,
    .tbody,
    .tr {
      width: 100%;
    }

    .thead {
      background-color: #f7f7f7;
    }

    .tr {
      display: flex;
      justify-content: space-between;

      &:last-of-type {
        border-bottom: 1px solid #c1c1c1;
      }

      &:nth-of-type(even) {
        background: #efeff4;
      }

      .th {
        font: 95% 'Roboto';
        font-weight: 500;
        color: #333;
        text-align: center;
        border-bottom: 1px solid #c1c1c1;
      }

      .th,
      .td {
        padding: 2px 5px;
        height: 3.5em;
        display: -webkit-box;
        -webkit-box-align: center;
        -webkit-box-pack: center;
      }

      .td {
        color: #87878c;
        font: 95% 'Roboto';
        font-weight: 400;
        background: url('../assets/imgs/line.png') no-repeat;
        background-position: right center;
      }
    }
  }

  .input-page-field {
    width: 90%;

    input {
      margin: 0;
      border: 1px solid #b7b7bb;
      padding: 6px 2px;
      width: 100%;
      font-family: 'Roboto';
      font-size: 16px;
      line-height: 1.1;
      font-weight: 400;
      color: #87878c;
      -webkit-apperance: none;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background: white;
    }
  }

  .picklist-button {
    position: relative;
    margin: 0;
    padding: 6px 20px 6px 2px;
    width: 100%;
    height: 2.4em;
    min-height: 30px;
    border: 1px solid #21b4f3;
    border-radius: 5px;
    font: 95% 'Roboto';
    font-weight: 400;
    color: #21b4f3;
    background: #fff;
    box-sizing: border-box;
    display: -webkit-box;
    -webkit-box-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.2;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -9px;
      display: block;
      width: 10px;
      height: 10px;
      border-right: 2px solid #21b4f3;
      border-bottom: 2px solid #21b4f3;
      -webkit-transform: rotate(45deg);
    }
  }
}

.toast-message {
  white-space: pre;
}


.scenario-grid-slide.cdk-drag-placeholder {
  opacity: 0.4;
  outline: 2px dashed gray;
  border-radius: 10px;

  .scenarios-grid-view-cell-remove {
    display: none;
  }
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.scenario-grid-slide {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;

  &:active {
    opacity: 0.6;
  }

  .scenarios-grid-view-cell-title-wrapper,
  .scenarios-grid-view-cell-name-wrapper {
    height: 20%;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    pointer-events: none;
  }
  .scenarios-grid-view-cell-title,
  .scenarios-grid-view-cell-name {
    text-align: center;
    font-size: 16px;
    -webkit-line-clamp: 1;
  }
  .scenarios-grid-view-cell-title {
    font-weight: 500;
    color: #21b4f3;
  }
  .scenarios-grid-view-cell-name {
    color: #87878c;
  }
  .scenarios-grid-view-cell-icon {
    position: relative;
    height: 60%;
    background-color: #fff;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 0 1px #808080;
    pointer-events: auto;
  }

  .ellipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
  }
}


