@import "../pages/brand-matrix/start-call-popup/start-call-popup";

ion-modal.show-page {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  .modal-wrapper {
    position: relative;
    top: auto;
    left: auto;
    height: auto !important;
  }
}

.platform-android ion-modal.show-page.sync{
  .modal-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0) !important;
    width: 90%;
    height: 30% !important;
    min-height: 250px;
    background: white;
  }

  ion-backdrop {
    opacity: 0.4;
    visibility: visible;
  }
}

.popup {
  position: relative;

  &.without-checkbox{
    .alert-radio-icon{
      display: none;
    }
    .alert-radio-label{
      max-width: 100% !important;
    }

    .alert-wrapper {
      overflow-y: hidden !important;
    }

    .alert-message + div{
      max-height: 468px;
      display: flex;
    }

    .alert-radio-group{
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      will-change: scroll-position;
      max-height: 100% !important;
      width: 100%;
    }
  }

  &.list {
    .alert-wrapper {
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      will-change: scroll-position;

      .alert-button-group,
      .alert-message {
        display: none;
      }

      .alert-head {
        -webkit-box-pack: justify;
      }

      .alert-radio-group{
        max-height: 80%;
      }

      button {
        border-bottom: 1px solid #ababae;

        .alert-radio-inner {
          position: relative;
          left: auto;
          top: auto;
          font-size: 100%;
          width: 2em;
          height: 2em;
          margin-left: 0.5em;
          margin-right: 0.2em;
          border: solid 1px #949498;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          -webkit-appearance: none;
          outline: none;
          transform: none;
        }
        .alert-radio-label {
          padding: 1em 17px;
          display: block;
          max-width: 90%;
          font-size: 1.3em;
          line-height: 1.2;
          word-break: break-all;
        }

        &.blocked {
          opacity: 0.7;
          pointer-events: none;
        }

        &:last-child {
          border-bottom: none;
        }

        &[aria-checked=true] {
          .alert-radio-label{
            color: black;
          }
          .alert-radio-inner {
            background: #21b4f3;
            border-color: #21b4f3;
            background-image: url("../assets/imgs/checkbox.png");
            background-size: 90%;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }
    }
  }

  &.without-header {
    .alert-wrapper {
      .alert-head {
        display: none;
      }
    }
  }
  &.without-msg {
    .alert-wrapper {
      .alert-message {
        display: none;
      }
    }
  }

  &.wait {
    .alert-wrapper {
      .alert-button-group {
        display: none;
      }
    }
  }

  &.alert {
    position: fixed;
    margin: 0;

    .alert-head {
      -webkit-box-pack: center;

      .alert-title {
        font-size: 100%;
        color: #21b4f3;
      }
    }

    .alert-message {
      padding: 30px 20px;
      text-align: center;
    }

    &.confirm .alert-button-group,
    &.confirm .buttons-section {
      -webkit-box-pack: justify;

      &.alert-button-group-vertical{
        -webkit-box-orient: horizontal;
      }
    }
  }

  .popup-wrapper {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
  }

  .alert-wrapper,
  .popup-container {
    min-width: 50%;
    max-width: 100%;
    background: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    z-index: 11;
    -webkit-transform: translate3d(0, 0, 0);
    box-sizing: border-box;
    max-height: 80%;
    overflow: hidden;

    .alert-head,
    header {
      display: -webkit-box;
      -webkit-box-align: center;
      -webkit-box-sizing: border-box;
      background: #efeff4;
      color: #21b4f3;
      font: 170% 'Roboto';
      font-weight: 500;
      padding: 0 17px;
      width: 100%;
      border-bottom: 1px solid #ababae;
      height: auto;
      min-height: 2.7em;
      line-height: 1.2em;
      word-break: break-all;
      -webkit-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0;
    }

    header .back {
      display: inline-block;
    }

    .alert-message,
    .content-container {
      font: 150% 'Roboto';
      font-weight: 400;
      color: #525253;
      background: #fff;
    }

    .alert-button-group,
    .buttons-section {
      width: 100%;
      padding: 15px 10px 10px;
      display: -webkit-box;
      -webkit-box-pack: justify;
      -webkit-border-radius: 0 0 5px 5px;
      border-radius: 0 0 5px 5px;
      -webkit-box-align: end;
      box-sizing: border-box;
      background: -webkit-linear-gradient(top, #f8f8f8 0%, #f6f6f6 100%);
      background: linear-gradient(to bottom, #f8f8f8 0%, #f6f6f6 100%);
    }
    .alert-button-group .alert-button,
    .buttons-section .btn {
      background: #21b4f3;
      color: #fff;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      text-align: center;
      display: -webkit-box;
      -webkit-box-pack: center;
      -webkit-box-align: center;
      font: 150% 'Roboto';
      font-weight: 300;
      padding: 10px 40px;
      min-width: 60px;
      width: auto;
      -webkit-box-flex: initial;
      -webkit-flex: none;
      -ms-flex: none;
      flex: none;
    }
    .alert-button-group .alert-button:active,
    .buttons-section .btn:active {
      opacity: 0.8;
    }
    .alert-button-group .alert-button.no,
    .buttons-section .btn.no {
      background: #fe5950;
    }

    .alert-button-group,
    .buttons-section {
      .alert-button.no.hidden,
      .btn.no.hidden{
        display: none;
      }
    }
  }

  &.smaller .popup-container {
    min-width: 35%;
  }

  &.single-button .alert-button-group,
  &.single-button .buttons-section {
    -webkit-box-pack: center;
  }

  &.sync {
    .popup-container {
      width: 100%;

      .content-container {
        padding: 6% 4% 4%;

        ion-range {
          pointer-events: none;
          padding: 0;

          .range-bar {
            background: #f7f7f7;
            height: 9px;
          }

          .range-bar.range-bar-active {
            background: #23b4f3;
          }

          .range-knob-handle {
            display: none;
          }
        }
      }
    }
  }

}
.datetime-picker{
  display: flex;
  align-items: center;
  justify-content: center;

  .picker-above-highlight{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, rgb(247,247,247)), to(rgba(247,247,247, 0.4)));
    background: linear-gradient(to bottom, rgb(247,247,247) 20%, rgba(247,247,247, 0.4) 100%);
  }

  .picker-below-highlight{
    background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, rgb(247,247,247)), to(rgba(247,247,247, 0.7)));
    background: linear-gradient(to top, rgb(247,247,247) 30%, rgba(247,247,247, 0.4) 100%);
  }

  .picker-wrapper{
    position: relative;
    height: 275px;
    transform: none !important;
    border-radius: 10px;
    flex-direction: column-reverse;
    background: #f7f7f7;

    .picker-toolbar {
      height: 3.8em;
      padding: 0.7em 5%;
      box-sizing: border-box;
      border-radius: 10px;
      background: #f7f7f7;

      .picker-toolbar-button {
        button {
          font-size: 140%;
          color: #fff;
          min-width: 37%;
          width: 80%;
          height: 100%;
          border: none;
          text-align: center;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          background: #21b4f3;
        }

        &.picker-toolbar-cancel{
          button{
            background: #fe5950;
          }
        }
      }
    }

    .picker-columns {
      padding: 0 1em;
      perspective: 1800px;

      .picker-opt{
        height: 40px;
        font: 1.25em 'Roboto';
        line-height: 40px;
        width: 100%;
        text-align: center;
        color: #9b9c9c;
      }

      .picker-col:nth-child(4) {
        &:after {
          content: ".";
          display: block;
          position: absolute;
          top: 50%;
          left: 100%;
          margin-top: -8px;
          font-size: 1.4em;
          line-height: 1;
          transform: translate(0, -50%);
          color: #9b9c9c;
        }
      }

      .picker-col:nth-child(5) {
        &:after{
          content: ":";
          display: block;
          position: absolute;
          top: 50%;
          left: 100%;
          margin-top: -12px;
          font-size: 1.4em;
          line-height: 1;
          transform: translate(0, -50%);
          color: #9b9c9c;
        }
      }

    }
  }

  &.filter-datepicker{
    .picker-wrapper{
      width: 40%;
    }
  }
}
