filter-panel-date-range {
  width: 100%;
  font-size: 1.2em;
  display: block;


  .datetime {
    position: relative;
    padding: 7px 35px 7px 0;
    overflow: visible;

    &:after {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      content: '';
      width: 30px;
      height: 30px;
      -webkit-border-radius: 5px;
      background: url("../assets/imgs/bit-buttons/calendar.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-color: #21b4f3;
      background-size: 73.333333333333% 73.333333333333%;
    }
  }

  .item {
    padding: 0;

    .item-inner {
      padding: 0;
      border: none !important;

      .input-wrapper {
        display: flex;

        .bit-button-pseudo.calendar {
          padding-right: 40px;
          width: auto;
          height: 30px;

          &:after{
            top: 0;
            right: 0;
          }
        }
      }
    }
  }
}
