<ion-item>
  <ion-label>{{ label }}</ion-label>

  <ion-datetime [pickerOptions]="pickerOptions"
                cancelText="{{'common.buttons.CancelBtn' | translate}}"
                doneText="{{'common.buttons.SaveBtn' | translate}}"
                pickerFormat="DDD MMM DD YYYY"
                displayFormat="DD.MM.YYYY"
                [max]="maxDate()"
                [min]="minDate()"
                (ionChange)="onChangeValueHandler($event)"
                (ionCancel)="onTapCancelBtnHandler()"
                [(ngModel)]="value">
  </ion-datetime>
</ion-item>
