page-totdetails {
    .info-row{
        width:100%;
        background-color: '#foo';
        font-family: "Roboto";
    }
    .setFontSize{
        font-size:1.7rem !important
    }
    // .col {
    //     border-bottom: 1px solid #c1c1c1;
    // }
    .info-row:nth-of-type(odd)
    {
        background: #efeff4;
    }
    h5{
        font-size: 1.0em;
        font-family: "Roboto";
        font-weight: "Bold";
    }
    .info-row-blue
    {
        background-color:  #21b4f3;
        color: #fff;
        font-weight: 500;
        text-align: left;
        width: 100%;
    }
    
    ion-col.col {
        padding-top: 1.0em;
        margin-top: -15px;
    }
    ion-col.col h3{
        padding-top:1.5em;
    }
    .item-md {
        padding-left: 0px;
        border-radius: 12px;
     }
     .item-md.item-block .item-inner {
        padding-right: 0px;
        border: 2px solid #21b4f3;
        border-radius: 12px;
     }
}
