<ion-header>

  <ion-navbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-title text-center>{{'tots.HeaderTitle' | translate}}</ion-title>
        </ion-col>
        <button ion-button color="danger" (click)="deleteTOTdetails()">{{'common.buttons.DeleteBtn' | translate}}</button>
        <button ion-button color="primary" (click)="editTOT()">{{'common.buttons.EditBtn' | translate}}</button>
      </ion-row>
    </ion-grid>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="container-fluid">
    <div class="row" style="margin-bottom:12px" *ngIf="TOTid">
      <div class="col-sm-6">

        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-6">
                <h5>{{'card.GeneralInfoFields.User' | translate}}</h5>

              </div>
              <div class="col-sm-6">
                {{TOTRecord?.userFirstName || ''}} {{TOTRecord?.userLastName || ''}}
              </div>
            </div>


          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <h5>  {{'common.names.AllDay' | translate}}</h5>
               
              </div>
              <div class="col-sm-6">
                <span *ngIf="TOTRecord?.allDay">
                  <img src="assets/imgs/checkmarkcircle.png" style="width:30px;height: 30px;">
                </span>
              </div>
            </div>

          </div> 
          <div class="card-footer">
            <div class="row">
              <div class="col-sm-6">
                <h5> {{'common.names.FirstPart' | translate}}</h5>

              </div>
              <div class="col-sm-6">
                {{TOTRecord?.firstQuarterEvent}}
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <h5>{{'common.names.SecondPart' | translate}}</h5>

              </div>
              <div class="col-sm-6">
                {{TOTRecord?.secondQuarterEvent}}
              </div>
            </div>

          </div> 

        </div>

      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-6">
                <h5>{{'card.GeneralInfoFields.StartDate' | translate}}</h5>

              </div>
              <div class="col-sm-6">
                {{TOTRecord?.startDate   | date : "y-MM-d"}}
              </div>
            </div>


          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <h5>{{'card.GeneralInfoFields.EndDate' | translate}}</h5>

              </div>
              <div class="col-sm-6">
                {{TOTRecord?.endDate  | date : "y-MM-d"}}
              </div>
            </div>

          </div> 
          <div class="card-footer">
            <div class="row">
              <div class="col-sm-6">
                <h5>{{'common.names.ThirdPart' | translate}}</h5>

              </div>
              <div class="col-sm-6">
                {{TOTRecord?.thirdQuarterEvent}}

              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <h5>{{'common.names.ForthPart' | translate}}</h5>

              </div>
              <div class="col-sm-6">
                {{TOTRecord?.fourthQuarterEvent}}
              </div>
            </div>

          </div> 


        </div>
      </div>

    </div>
  </div>
  <div class="card text-white" style="background-color:#00B5E6; margin-bottom:12px">
    <div class="card-body"  style="font-size:17px">{{'card.GeneralInfoFields.Description' | translate}}</div>
  </div>
  <textarea class="form-control setFontSize" rows="5" id="comment" [(ngModel)]="TOTDesc"></textarea>
</ion-content>
