<div class="device-info">
  <div class="info-item">

    <p class="cell caption">{{ 'helpdesk.InfoPanel.DeviceId' | translate }}</p>
    <p class="cell value">{{deviceId}}</p>
  </div>
  <div class="info-item">
    <p class="cell caption">{{ 'helpdesk.InfoPanel.Version' | translate }}</p>
    <p class="cell value">{{appVersion}}</p>
  </div>
  <div class="info-item">
    <p class="cell caption">{{ 'helpdesk.OSVersion' | translate }}</p>
    <p class="cell value">{{osVersion}}</p>
  </div>
  <div class="info-item">
    <p class="cell caption">{{ 'helpdesk.InfoPanel.Model' | translate }}</p>
    <p class="cell value">{{model}}</p>
  </div>
</div>
<div class="view-log">
  <div class="scroll-container">
    <ion-scroll scrollX="false" scrollY="true" class="scroll-element">
      <p class="log-content">
        <span *ngFor="let logStr of logData">
          {{logStr}}<br/>
        </span>
      </p>
    </ion-scroll>
  </div>
</div>
