app-last-log {
  position: relative;
  height: 100%;
  overflow: hidden;
  display: block;

  p{
    margin: 0;
  }

  .device-info {
    margin-bottom: 3%;
    height: 30%;
    display: block;
    background: white;

    .info-item {
      height: auto;
      display: -webkit-box;
      -webkit-box-pack: justify;
      -webkit-box-align: center;
      padding: 0.75em 2%;
      font-size: 1.2em;
      line-height: 1.2;
      border-bottom: 1px solid #c1c1c1;
    }

    .info-item .caption {
      color: #333;
    }

    .info-item .value {
      color: #87878c;
      text-align: right;
    }

    .info-item:last-child {
      border-color: transparent;
    }
  }
  .view-log {
    padding: 2% 3%;
    height: 67%;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1.1em;
    line-height: 1.2;
    background: white;


    .scroll-element{
      width: 100%;
      height: 100%;
    }

    .scroll-container {
      height: 100%;
    }

    .scroll-container .log-content {
      padding-top: 2%;
      line-height: 1.3em;
      word-wrap: break-word;
    }
  }
}
