
<ion-header class="page-header">
  <ion-navbar #navbar>
    <div class="row text-center">
      <div class="col-md-7">
        <div class="title">{{ 'common.names.OrderDetails' | translate }}</div>
      </div>
      <div class="col-md-5 buttons">
        <button class="ctrl-btn" *ngIf="isSubmitButtonEnable" (click)="onTapSubmitBtnHandler()">{{ 'common.buttons.SubmitForApproval' | translate }}</button>
        <button class="ctrl-btn" *ngIf="isSaveButtonEnable" (click)="onTapSaveBtnHandler()">{{ 'common.buttons.SaveBtn' | translate }}</button>
        <button class="ctrl-btn delete-btn" *ngIf="isDeleteButtonEnable" (click)="onTapDeleteBtnHandler()">{{ 'common.buttons.DeleteBtn' | translate }}</button>
      </div>
    </div>
  </ion-navbar>
</ion-header>



<ion-content class="content-page-detail" [ngClass]="{'disable': !isOrderEditable()}">
  <div class="wrapper">
    <div class="page-row">
      <div class="page-col">
        <div class="info-row samplewrapper" *ngIf="isSampleOrder()">
          <div class="info-cell label">{{'common.names.SampleNo' | translate}}</div>
          <div class="info-cell value" [innerHtml]="order.sampleno"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'common.names.AccountName' | translate}}</div>
          <div class="info-cell value" [innerHtml]="order.getAccountColumnData()"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'Feedback.NonCustomer' | translate}}</div>
          <div class="info-cell value" [innerHtml]="order.noncustomer"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'common.names.BillingContact' | translate}}</div>
          <div class="info-cell value" [innerHtml]="order.phone"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'common.names.BillingAddress' | translate}}</div>
          <div class="info-cell value" [innerHtml]="order.billindAddress"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'common.names.ShipToAddress' | translate}}</div>
          <div class="info-cell value" [innerHtml]="order.shippingAddress"></div>
        </div>
        <div class="info-row newaddrwrapper" *ngIf="!isSampleOrder()">
          <div class="info-cell label">{{'common.names.NewAddress' | translate}}</div>
          <div class="info-cell value" [innerHtml]="order.newAddress">{{ order.newAddress }}</div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'common.names.OrderCreated' | translate}}</div>
          <div class="info-cell value" [innerHtml]="Utils.formatDateTimeWithBreak(order.dateTimeCreated)"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'common.names.OrderSentToDistributor' | translate}}</div>
          <div class="info-cell value" [innerHtml]="order.dateTimeSentToDistributor ? Utils.formatDateTimeWithBreak(order.dateTimeSentToDistributor) : ''"></div>
        </div>
      </div>
      <div class="page-col">
        <div class="info-row ponowrapper" *ngIf="!isSampleOrder()">
          <div class="info-cell label">{{'common.names.PONO' | translate}}</div>
          <div class="info-cell value" [innerHtml]="order.pono"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'common.names.Status' | translate}}</div>
          <div class="info-cell value" [innerHtml]="order.status"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'common.names.OrderRecordType' | translate}}</div>
          <div class="info-cell value" [innerHtml]="order.remoteRecordType"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'common.names.OrderTotalQuantity' | translate}}</div>
          <div class="info-cell value" [innerHtml]="order.orderTotalQuantity"></div>
        </div>
        <div class="info-row" *ngIf="!isSampleOrder()">
          <div class="info-cell label">{{'common.names.OrderSalesAmount' | translate}}</div>
          <div class="info-cell value" [innerHtml]="order.orderSalesAmount"></div>
        </div>
        <div class="info-row" *ngIf="isSpecialPrice">
          <div class="info-cell label">{{'common.names.SpecialPrice' | translate}}</div>
          <div class="info-cell value">
            <input type="checkbox" class="check-box" [checked]="order.specialprice">
          </div>
        </div>
        <div class="info-row signature" *ngIf="isSignatureWrapperEnable">
          <div class="info-cell label">{{'card.GeneralInfoFields.Signature' | translate}}</div>
          <div (click)="onTapSignatureHandler()" class="signature-field-wrapper" [ngClass]="{'line': !order.signature}">
            <img [hidden]="!order.signature" [src]="setImageSrc(order.signature) | safeSrc" />
          </div>
        </div>
        <div class="info-row remarkswrapper">
          <div class="info-cell label">{{'common.names.Remarks' | translate}}</div>
          <div class="info-cell value"  [innerHtml]="order.remarks"></div>
        </div>
      </div>
    </div>

    <div class="page-row order-line-list-wrapper">
      <order-item-list *ngIf="this.isSalesOrder()" (changeLines)="onChangeLineHandler($event)" [isEditable]="isOrderEditable()" [order]="order"></order-item-list>
      <order-sample-item-list *ngIf="!this.isSalesOrder()" (changeLines)="onChangeLineHandler($event)" [isEditable]="isOrderEditable()" [order]="order"></order-sample-item-list>
    </div>
  </div>
</ion-content>
