page-order-card {
  .header {
    .buttons{
      display: flex;
      flex-direction: row-reverse;
    }
  }
  .ctrl-btn {
    &.plus {
      position: absolute;
      top: 2px;
      right: 6px;
    }
  }
  .text-area {
    background: white;
  }
  .info-cell .picklist-button{
    width: 90%;
    padding: 6px 2px;
    border-color: #b7b7bb;
    font-size: 100%;

    &:after{
      border-color: #b7b7bb;
    }
  }

  .signature{
    &,
    .signature-field-wrapper {
      min-width: 200px;
      min-height: 100px;
      background: #fff;
    }

    .signature-field-wrapper {
      &.line {
        border: 1px solid #c1c1c1;
      }
      img{
        display: block;
        width: auto;
        height: 100px;
        background: #fff;
      }
    }
  }

  .content-page-detail{
    &.disable {
      .info-row {
        pointer-events: none;
      }
    }

    .order-line-list-wrapper {
      border: none;
    }
  }

}

