
<filter-panel *ngIf="settings.isChinaUser()" [content]="[mainContent, contentHeader]" (filtersChangeEvent)="onFilterChangeHandler($event)">

  <filter-panel-input [value]="" label="{{'common.names.Organization'|translate}}"
                      [field]="collection.scheme.fields.organizationName">
  </filter-panel-input>

  <filter-panel-picklist label="{{'common.names.Priority'|translate}}"
                         [field]="collection.scheme.fields.priority"
                         [picklistDatasource]="priorityPickListDatasource">
  </filter-panel-picklist>

  <filter-panel-picklist label="{{'common.names.Specialty'|translate}}"
                         [field]="collection.scheme.fields.specialty"
                         [picklistDatasource]="specialtyPickListDatasource">
  </filter-panel-picklist>

</filter-panel>

<filter-panel *ngIf="!settings.isChinaUser()" [content]="[mainContent, contentHeader]" (filtersChangeEvent)="onFilterChangeHandler($event)">


  <filter-panel-picklist label="{{'common.names.Priority'|translate}}"
                         [field]="collection.scheme.fields.priority"
                         [picklistDatasource]="priorityPickListDatasource">
  </filter-panel-picklist>

  <filter-panel-picklist label="{{'common.names.Specialty'|translate}}"
                         [field]="collection.scheme.fields.specialty"
                         [picklistDatasource]="specialtyPickListDatasource">
  </filter-panel-picklist>

  <filter-panel-input [value]="" label="{{'common.names.Organization'|translate}}"
                      [field]="collection.scheme.fields.organizationName">
  </filter-panel-input>

  <filter-panel-picklist label="{{'common.names.Subtype'|translate}}"
                         [field]="collection.scheme.fields.subtype"
                         [picklistDatasource]="subtypePickListDatasource">
  </filter-panel-picklist>

  <filter-panel-picklist label="{{'common.names.Brick'|translate}}"
                         [field]="collection.scheme.fields.organizationBrick"
                         [picklistDatasource]="brickPickListDatasource">
  </filter-panel-picklist>
</filter-panel>

  <ion-header #contentHeader class="page-header">
    <ion-navbar>
      <div class="row text-center">
        <div class="col-md-3">
          <ion-item>
            <ion-select #filterType class="select select-picklist-button" [(ngModel)]="targetNontarget" [selectOptions]="filterOptions" multiple="false">
              <ion-option value="tc" (ionSelect)="onChangeContactTypeHandler('tc')">{{ 'contacts.FilterPopup.TargetContacts' | translate }}</ion-option>
              <ion-option value="ntc" (ionSelect)="onChangeContactTypeHandler('ntc')">{{ 'contacts.FilterPopup.NonTargetContacts' | translate }}</ion-option>
            </ion-select>
          </ion-item>
        </div>
        <div class="col-md-5">
          <div class="title">{{ 'contacts.HeaderTitle' | translate}} <span *ngIf="contactsCount > 0">{{'(' + contactsCount + ')'}}</span></div>
        </div>
        <div class="col-md-4">
          <ion-searchbar showCancelButton="false" [(ngModel)]="search" (ionBlur)="onSearchHandler($event)" (ionClear)="onClearHandler($event)" (ionCancel)="onClearHandler($event)"></ion-searchbar>
        </div>
      </div>

    </ion-navbar>

  </ion-header>

  <ion-content #mainContent class="main-content">
    <div class="fixed-content" ion-fixed>
      <lazy-table (queryChange)="onChangeQueryHandler($event)" (swipe)="onSwipeHandler($event)"></lazy-table>
    </div>
  </ion-content>





