<ion-header>
  <ion-navbar swipeBackEnabled="false">
    <ion-buttons start class="home-start-buttons">
        <ion-icon class="setIconColor" name="contact"></ion-icon>
        <span class="setHeaderName">{{activeUserFullName}}</span>
        <div class="sync-info-container">
          <div class="sync-info">
            <div class="last-sync-date setIconColor">{{lastSyncDate}}</div>
            <div class="common-div">
              <div class="achievement-percent"></div>
              <div class="call-average"></div>
            </div>
          </div>
         
        </div>
    </ion-buttons>

    <ion-title text-center (touchend)="onTapShowBottomMenuBtnHandler($event)">
      <img src="assets/imgs/myforce-logo.png" style="height: 50px;">
    </ion-title>
    <ion-buttons end >
      <div (click)="logout()">
        <img src="assets/imgs/logout.png">
      </div>
    </ion-buttons>
</ion-navbar>
</ion-header>

<ion-content padding scrollX="false" scrollY="false">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <ion-col>
          <div   class="home-tab">
            <img src="assets/imgs/Mylan-logo.png">
            <hr >
            <h3>MyForce</h3>
          </div>
        </ion-col>
      </div>
      <div class="col-sm-4">
        <ion-col>
          <div  class="home-tab">
            <img src="assets/imgs/call-center.png">
            <hr >
            <h3>Call Center</h3>
          </div>
        </ion-col>
      </div>
      <div class="col-sm-4">
        <ion-col>
          <div  class="home-tab" >
            <img src="assets/imgs/task.png">
            <hr >
            <h3>My Tasks</h3>
          </div>
        </ion-col>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-4">
        <ion-col>
          <div class="home-tab" (click)="onTapSynchronizeBtnHandler()">
            
            <img class="sync-img" src="assets/imgs/sync.png">
            <hr >
            <h3>Sync Status</h3>
          </div>

        </ion-col>
      </div>
      <div class="col-sm-4">
        <ion-col>
          <div class="home-tab" (click)="onTapSendLogBtnHandler()" >
            <img src="assets/imgs/log.png">
            <hr >
            <h3>{{ 'helpdesk.SendLogToSupport' | translate }}</h3>
          </div>
        </ion-col>
      </div>

      <div class="col-sm-4">'
        <ion-col>
          <div class="home-tab" (click)="onTapLanguageBtnHandler()">
            <img src="assets/imgs/language.jpg">
            <hr >
            <h3>{{ 'homeMenu.Language' | translate }}</h3>
          </div>
        </ion-col>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <ion-col>
          <div  class="home-tab">
            <img (click)="openUrl()" src="assets/imgs/chart.png">
            <hr >
            <h3>Dashboard</h3>
          </div>
        </ion-col>
      </div>
      <div class="col-sm-4">
        <ion-col>
          <div class="home-tab" >
             <span class="call-achive">{{callAchievement}}%</span>
             <hr class="setMargin">
            <h3>Call-Achivement</h3>
          </div>
        </ion-col>
      </div>
      <div class="col-sm-4">
        <ion-col>
          <div class="home-tab">
            <span class="call-achive">{{callAverage}}</span>
            <hr class="setMargin">
            <h3>Call-Average</h3>
          </div>
        </ion-col>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <ion-col>
          <div class="home-tab" (click)="onTapViewLogBtnHandler()">
            <img src="assets/imgs/home/view-log.png">
            <hr >
            <h3>{{'helpdesk.ViewLastLog' | translate }}</h3>
          </div>
        </ion-col>
      </div>
      <div class="col-sm-4">
        <ion-col>
          <div class="home-tab" (click)="onTapClearDatabaseBtnHandler()">
            <img src="assets/imgs/home/trash.png">
            <hr >
            <h3>{{'helpdesk.ClearDatabase' | translate }}</h3>
          </div>
        </ion-col>
      </div>

    </div>


  </div>



  <ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Sync Progress</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
    <progress-bar *ngIf="progressActivate" [progress]="loadProgress"></progress-bar>
    </div>
  </div>
  <div class="modal-footer" *ngIf="syncDone">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      OK
    </button>
  </div>
</ng-template>

<footer>
  <ul class="closest-calls show" *ngIf="closestVisitsAvailable">
    <li class="first show" (click)="appointmentDetails(closestVisit1)">
      <p class="name">{{closestVisit1?.contactFirstName || ''}} {{closestVisit1?.contactLastName || ''}}</p>
      <p class="activities-block show"><span class="day bit-button-pseudo calendar">{{closestVisit1?.dateTimePlanned  | date:'dd-MM-y' }}</span><span class="time bit-button-pseudo">{{closestVisit1?.dateTimePlanned | date:'hh:mm'}}</span></p>
    </li>
    <li class="second show" (click)="appointmentDetails(closestVisit2)">
      <p class="name">{{closestVisit2?.contactFirstName || ''}} {{closestVisit2?.contactLastName || ''}}</p>
      <p class="activities-block show"><span class="day bit-button-pseudo calendar">{{closestVisit2?.dateTimePlanned  | date:'dd-MM-y' }}</span><span class="time bit-button-pseudo">{{closestVisit2?.dateTimePlanned | date:'hh:mm'}}</span></p>
    </li>
  </ul>
  <div class="info">
    <div class="icon"></div><span>All Adverse Events must be reported immediately to the Medical Department. Do not enter any Adverse Events in CRM.</span>
  </div>
</footer>

</ion-content>
