@import "control-elements";
page-home {
ion-content {
  background-color: rgba(29, 182, 225, 0.78);
  }
.setHeaderName {
  color: floralwhite;
  padding-left:10px;
}
.setIconColor{
  color: floralwhite;
}
.call-achive{
  font-size: 55px;
  color: #000;
  font-family: serif;
}
.setMargin{
  margin-top:22px;
}
.home-tab {
text-align:center;
}
.home-tab > img,
.home-tab .sync-img {
align:center;
height:96px;
width:95px;
}


footer {
  height: 18.7734375%;
  color: #6f737e;
}
footer .closest-calls {
  display: -webkit-box;
  height: 85%;
  width: 100%;
}
footer li {
  display: none;
  -webkit-box-flex: 1;
  position: relative;
  padding: 0 2em;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;
}
footer li:after {
  content: '';
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 100%;
  width: 1px;
  background-color: #004687;
}
footer li:before {
  content: '';
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.2);
}
footer li:active:before {
  display: block;
}
footer li.show {
  display: -webkit-box;
}
footer span {
  display: block;
}
footer .day {
  margin: 0.5em 0 0.5em 1.5em;
}
footer .name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-bottom: 0.5em;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: 500;
  wite-spase: nowrap;
}
footer .bit-button-pseudo {
  padding-left: 1em;
  margin-left: 1.5em;
}
footer .bit-button-pseudo:after {
  position: absolute;
  right: 100%;
  bottom: 50%;
  width: 1.5em;
  height: 1.5em;
  -webkit-transform: translate(0, 50%);
}
footer .info {
  color: #030303;
}
footer .info .icon {
  display: inline-block;
  background: url("img/home/info.png") center center no-repeat;
  background-size: 100%;
  width: 1.5em;
  height: 1.5em;
  position: relative;
  top: -0.17em;
  margin-right: 0.2em;
  float: left;
}
footer .info span {
  font-size: 14px;
}

footer .closest-calls {
  height: 76%;
}
footer .name {
  margin-top: 0.4em;
  font-size: 0.9em;
  line-height: 1.2;
}
footer .info span {
  font-size: 1em;
}
footer li p.activities-block {
  display: -webkit-box;
}
footer li p.activities-block .bit-button-pseudo {
  margin: 0 0 0 2.5em;
  padding-left: 0.5em;
}
}
