<ion-header>

  <!-- <ion-navbar color='mylanbrown'>
    <ion-grid> -->
      <!-- <ion-row>
        <ion-col>
          <ion-title>MTP
            <span style="text-align: center">{{" "+ MTP?.Month__c}} {{MTP?.Year__c}}</span>
          </ion-title>
        </ion-col>
        <ion-col>
          <ion-buttons end>
            <button *ngIf="MTP?.Status__c == 'Draft'" ion-button (click)="submitApproval()">Submit for Approval</button>
            <button *ngIf="MTP?.Status__c == 'Submitted Offline'" ion-button (click)="recallApproval()">Recall from Approval</button>
            <button *ngIf="MTP?.Status__c == 'Draft'" ion-button color="danger" (click)="deleteMTPdetails()">Delete</button>
          </ion-buttons>
        </ion-col>
      </ion-row> -->
      <!-- <div class="row">
        <div class="col-sm-8">
          <ion-title>MTP
            <span style="text-align: center">{{" "+ MTP?.Month__c}} {{MTP?.Year__c}}</span>
          </ion-title>
        </div>
        <button *ngIf="MTP?.Status__c == 'Draft'" ion-button (click)="submitApproval()">Submit for Approval</button>
        <button *ngIf="MTP?.Status__c == 'Submitted Offline'" ion-button (click)="recallApproval()">Recall from Approval</button>
        <button *ngIf="MTP?.Status__c == 'Draft'" ion-button color="danger" (click)="deleteMTPdetails()">Delete</button>
      </div> -->
      <ion-navbar>
        <ion-title class="setHeaderTop">MTP
          <span style="text-align: center">{{" "+ MTP?.month}} {{MTP?.year}}</span>
        </ion-title>
        <button *ngIf="MTP?.status == 'Draft'" ion-button (click)="onTapEditBtnHandler()" class="btnAlign">Edit</button>
        <button *ngIf="MTP?.status == 'Draft'" ion-button (click)="submitApproval()" class="btnAlign">Submit for Approval</button>
        <button *ngIf="MTP?.status == 'Submitted Offline'" ion-button (click)="recallApproval()" class="btnAlign">Recall from Approval</button>
        <button *ngIf="MTP?.status == 'Draft'" ion-button color="danger" (click)="deleteMTPdetails()" class="btnAlign">Delete</button>
        <!-- </ion-navbar>
    </ion-grid> -->
  </ion-navbar>

</ion-header>

<ion-content>
<div class="container-fluid setMarginHeader">
  <div class="row" style="margin-bottom:12px">
    <div class="col-sm-6">

      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6">
              <h5>Month:</h5>

            </div>
            <div class="col-sm-6">
              {{MTP?.month}}
            </div>
          </div>


        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <h5>Year:</h5>

            </div>
            <div class="col-sm-6">
              {{MTP?.year}}
            </div>
          </div>

        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-sm-6">
              <h5>Status:</h5>

            </div>
            <div class="col-sm-6">
              {{MTP?.status}}
            </div>
          </div>
        </div>


      </div>

    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6">
              <h5>Start Date:</h5>

            </div>
            <div class="col-sm-6">
              {{MTP?.startDate}}
            </div>
          </div>


        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <h5>End Date:</h5>

            </div>
            <div class="col-sm-6">
              {{MTP?.endDate}}
            </div>
          </div>

        </div>
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6">
              <h5>Created At:</h5>

            </div>
            <div class="col-sm-6">
              {{MTP?.createdDate | date : "y-MM-d HH:mm"}}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="card text-white bgColor">
  <div class="card-body"  style="font-size:17px">Events</div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">{{'common.names.Type' | translate}}</th>
      <th scope="col">{{'common.names.Date' | translate}}</th>
      <th scope="col">{{'common.names.Time' | translate}}</th>
      <th scope="col">{{'common.names.User' | translate}}</th>
      <th scope="col">{{'common.names.Customer' | translate}}</th>
      <th scope="col">{{'common.names.Organization' | translate}}</th>
      <th scope="col">{{'common.names.PlannedInActualMonth' | translate}}</th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let callData of callsData" (click)="itemTappedCallReport(callData)">
      <td> {{callData?.type}}</td>
      <td> {{callData?.dateTimePlanned | date : 'y-MM-d'}}</td>
      <td> {{callData?.dateTimePlanned | date : 'HH:mm'}}</td>
      <td> {{callData?.userFirstName || ''}} {{callData?.userLastName || ''}}</td>
      <td> {{callData?.contactFirstName || ''}} {{callData?.contactLastName || ''}}</td>
      <td> {{callData?.organizationName || ''}}</td>
      <td></td>
    </tr>
  </tbody>
</table>

</ion-content>
