page-mtpdetails {
background-color:white;
  .table {
    background-color:white !important;
  }
  .setMarginHeader {
    margin-top:30px;
  }
  .setHeaderTop{
    margin-top:10px;
  }
  .btnAlign{
    float:right;
  }
  .bgColor{
    background-color:#3D9BDD;
  }
}
