<h3 class="mtpHeader">Add Sales Plan</h3>

<ion-list>
    <ion-item>
      <ion-label>Month</ion-label>
      <ion-select [(ngModel)]="Month__c">
        <ion-option value="January">January</ion-option>
        <ion-option value="February">February</ion-option>
        <ion-option value="March">March</ion-option>
        <ion-option value="April">April</ion-option>
        <ion-option value="May">May</ion-option>
        <ion-option value="June">June</ion-option>
        <ion-option value="July">July</ion-option>
        <ion-option value="August">August</ion-option>
        <ion-option value="September">September</ion-option>
        <ion-option value="October">October</ion-option>
        <ion-option value="November">November</ion-option>
        <ion-option value="December">December</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Year</ion-label>
      <ion-select [(ngModel)]="Year__c">
        <ion-option *ngFor="let year of spYears" [value]="year">{{year}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Status</ion-label>
      <ion-label fixed class="lblStatus">Draft</ion-label>
    </ion-item>
  </ion-list>
  <div class="btnCenter">
  <button class="btnStyle" start ion-button (click)="cancelInput()">Cancel</button>
  <button class="btnStyle" end ion-button (click)="validateInput()">Create</button>
</div>
  