<ion-header>
	<ion-navbar>
		<ion-grid>
			<ion-row>
				<ion-col>
					<ion-title text-center>Appointment</ion-title>
				</ion-col>
				<button ion-button (click)="startCall()">Start Call</button>
				<button ion-button color="danger" (click)="deleteAppointment()">Delete</button>
				<button ion-button (click)="saveAppointment()">Save</button>
			</ion-row>
		</ion-grid>
	</ion-navbar>
</ion-header>


<ion-content padding>
	<ion-grid  >
		<ion-row class="info-row">
			<ion-col>
				<h5>Customer:</h5>    
			</ion-col>
			<ion-col>
				{{EventDetails?.meta?.appointmentEvents?.Contact1__r?.Name}}
			</ion-col>
			<ion-col>
				<h5>BU Specialty:</h5> 
			</ion-col>
			<ion-col>
				{{EventDetails?.meta?.appointmentEvents?.Contact1__r?.Specialty__c}}
			</ion-col>
		</ion-row>
		<ion-row class="info-row">
			<ion-col>
				<h5>Organization:</h5>
			</ion-col>
			<ion-col>
				{{EventDetails?.meta?.appointmentEvents?.Organisation__r?.Name}}
			</ion-col>
			<ion-col>
				<h5>User</h5> 
			</ion-col>
			<ion-col>
				{{EventDetails?.meta?.appointmentEvents?.User__r?.Name}}
			</ion-col>
		</ion-row>
		<ion-row class="info-row">
			<ion-col>
				<h5>Coaching Visit:</h5>

			</ion-col>
			<ion-col  class="col3">
				<ion-item>
					<ion-select [(ngModel)]='coachingVisit' (ionChange)="change(coachingVisit)" class="selector" placeholder="Select One" id="coachingVisit">
						<ion-option value="flm" class="option" [selected]="EventDetails?.meta?.appointmentEvents?.Coaching_Visit__c=='flm'" text-wrap>FLM</ion-option>
						<ion-option value="nsm" [selected]="EventDetails?.meta?.appointmentEvents?.Coaching_Visit__c=='flm'" class="option" text-wrap>NSM</ion-option>
						<ion-option value="pm" [selected]="EventDetails?.meta?.appointmentEvents?.Coaching_Visit__c=='pm'" class="option" text-wrap>PM</ion-option>
						<ion-option value="tm" [selected]="EventDetails?.meta?.appointmentEvents?.Coaching_Visit__c=='tm'" class="option" text-wrap>TM</ion-option>
						<ion-option value="other" [selected]="EventDetails?.meta?.appointmentEvents?.Coaching_Visit__c=='other'" class="option" text-wrap>Other</ion-option>
					</ion-select>
				</ion-item>
			</ion-col>
			<ion-col>
				<h5>Date/Time Planned</h5> 
			</ion-col>
			<ion-col>
				<ion-datetime displayFormat="DD.MM.YYYY HH:mm" [(ngModel)]="dateTimePlanned">{{EventDetails?.meta?.appointmentEvents?.Date_Time_Planned__c}}</ion-datetime>
			</ion-col>
		</ion-row>
		<ion-row class="info-row"> 
			<ion-col>
				<h5>Coaching Visit User:</h5>
			</ion-col>
			<ion-col>
				<ion-label>{{coachingVisitUsr?.Name}}</ion-label>
			</ion-col>
			<ion-col>
				<h5>Duration(mins)</h5> 
			</ion-col>
			<ion-col>
				<ion-item>
					<ion-select class="select" [(ngModel)]="Duration" multiple="false">
						<ion-option [selected]="EventDetails?.meta?.appointmentEvents?.Duration__c=='30'" value="30" selected="true">30</ion-option>
						<ion-option [selected]="EventDetails?.meta?.appointmentEvents?.Duration__c=='60'" value="60">60</ion-option>
						<ion-option [selected]="EventDetails?.meta?.appointmentEvents?.Duration__c=='90'" value="90">90</ion-option>
					</ion-select>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row class="info-row">
			<ion-col>
				<h5>Joint Visit Participants</h5>

			</ion-col>
			<ion-col>
				<ion-label>{{EventDetails?.meta?.appointmentEvents?.Joint_Visit__c}}</ion-label>
			</ion-col>
			<ion-col>

			</ion-col>
			<ion-col>

			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-row>
		<div class="col-example" style="height:54px;width: 100%;background-color: #15a1cc;color:white">
			<h4>Call Objectivies:</h4>
		</div>
	</ion-row>
	<ion-row>
		<ion-col>
			<ion-item>
				<ion-textarea placeholder="Any Comments">{{EventDetails?.meta?.appointmentEvents?.Call_Objective__c}}</ion-textarea>
			</ion-item>
		</ion-col>
	</ion-row>

</ion-content>


