<ion-header class="page-header">
  <ion-navbar #navbar>
    <div class="row text-center">
      <div class="col-md-10">
        <div class="title">
          <span *ngIf="!this.organizationStartBackup.id">{{ 'card.Organization.CreateHeaderTitle' | translate }}</span>
          <span *ngIf="this.organizationStartBackup.id">{{ 'card.Organization.HeaderTitle' | translate }} {{ organization.name }}</span>
        </div>
      </div>
      <div class="col-md-2">
        <button class="ctrl-btn" (click)="onTapSaveBtnHandler()">{{ 'common.buttons.SaveBtn' | translate }}</button>
      </div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content class="content-page-detail">
  <div class="wrapper">
    <div class="page-row">
      <div class="page-col">
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.Name' | translate}}</div>
          <div class="info-cell value">
            <ion-input class="input-page-field" type="text" [(ngModel)]="organization.name"
                       placeholder="{{ 'common.names.Name' | translate }}"></ion-input>
          </div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.Type' | translate}}</div>
          <div class="info-cell value">
            <ion-select #recordTypeSelect placeholder="{{ 'common.defaultSelectValue' | translate }}" class="select select-picklist-button" [(ngModel)]="organization.recordType" [selectOptions]="filterOptions">
              <ion-option *ngFor="let recordType of organizationRecordTypes" [value]="recordType.id" (ionSelect)="onChangeRecordTypeHandler(recordType)" multiple="false">{{ recordType.description }}</ion-option>
            </ion-select>
          </div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.Organization.GeneralInfoFields.Address' | translate}}</div>
          <div class="info-cell value">
            <ion-input class="input-page-field" type="text" [(ngModel)]="organization.address"
                       placeholder="{{ 'common.names.Address' | translate }}"></ion-input>
          </div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.Organization.GeneralInfoFields.City' | translate}}</div>
          <div class="info-cell value">
            <ion-input class="input-page-field" type="text" [(ngModel)]="organization.city"
                       placeholder="{{ 'common.names.City' | translate }}"></ion-input>
          </div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.Organization.GeneralInfoFields.StateProvince' | translate}}</div>
          <div class="info-cell value">
            <ion-input class="input-page-field" type="text" [(ngModel)]="organization.state"
                       placeholder="{{ 'common.names.StateProvince' | translate }}"></ion-input>
          </div>
        </div>
      </div>
      <div class="page-col">
        <div class="info-row">
          <div class="info-cell label">{{'card.Organization.GeneralInfoFields.JuridicGroup' | translate}}</div>
          <div class="info-cell value">
            <ion-select #juridicGroupsSelect placeholder="{{ 'common.defaultSelectValue' | translate }}" class="select select-picklist-button" [(ngModel)]="organization.juridicGroup" [selectOptions]="filterOptions">
              <ion-option *ngFor="let jGroup of organizationJuridicGroups" [value]="jGroup.id" (ionSelect)="onChangeJuridicGroupHandler(jGroup)" multiple="false">{{ jGroup.description }}</ion-option>
            </ion-select>
          </div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.Status' | translate}}</div>
          <div class="info-cell value">
            <ion-select #statusesSelect placeholder="{{ 'common.defaultSelectValue' | translate }}" class="select select-picklist-button" [(ngModel)]="organization.status" [selectOptions]="filterOptions">
              <ion-option *ngFor="let status of organizationStatuses" [value]="status.id" (ionSelect)="onChangeStatusHandler(status)" multiple="false">{{ status.description }}</ion-option>
            </ion-select>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
