
<ion-header>
  <ion-navbar>
    <ion-title>{{'card.GeneralInfoFields.CustomerDetails' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="container-fluid" >
    <div class="row" style="margin-bottom:12px">
      <div class="col-sm-6">

        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-6">
                <h5>{{'card.GeneralInfoFields.CustomerName' | translate}}</h5>

              </div>
              <div class="col-sm-6">
                {{patchCustomer?.contactName}}
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <h5>{{'card.GeneralInfoFields.Frequency' | translate}}</h5>

              </div>
              <div class="col-sm-6">
                {{patchCustomer?.frequency}}
              </div>
            </div>

          </div> 
          <div class="card-footer">
            <div class="row">
              <div class="col-sm-6">
                <h5>{{'card.GeneralInfoFields.Class' | translate}} Class:</h5>

              </div>
              <div class="col-sm-6">
                {{patchCustomer?.class}}
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <h5>{{'card.GeneralInfoFields.City' | translate}}</h5>

              </div>
              <div class="col-sm-6">
                {{patchCustomer?.city}}
              </div>
            </div>

          </div> 
          <div class="card-footer">
            <div class="row">
              <div class="col-sm-6">
                <h5>{{'card.GeneralInfoFields.Status' | translate}}</h5>

              </div>
              <div class="col-sm-6">
                {{patchCustomer?.status}}
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-6">
                <h5>{{'card.GeneralInfoFields.Patch' | translate}}</h5>

              </div>
              <div class="col-sm-6">
                {{patchCustomer?.patchName}}
              </div>
            </div>


          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <h5>{{'card.GeneralInfoFields.RecordType' | translate}}</h5>

              </div>
              <div class="col-sm-6">
                {{patchCustomer?.recordType}}
              </div>
            </div>

          </div> 
          <div class="card-header">
            <div class="row">
              <div class="col-sm-6">
                <h5>{{'card.GeneralInfoFields.Station' | translate}}</h5>

              </div>
              <div class="col-sm-6">
                {{patchCustomer?.patchStation}}
              </div>
            </div>


          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <h5>{{'card.GeneralInfoFields.State' | translate}} State:</h5>

              </div>
              <div class="col-sm-6">
                {{patchCustomer?.state}}
              </div>
            </div>

          </div> 
          <div class="card-header">
            <div class="row">
              <div class="col-sm-6">
                <h5>{{'card.GeneralInfoFields.Specialty' | translate}}</h5>

              </div>
              <div class="col-sm-6">
                {{patchCustomer?.speciality}}
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card text-white" style="background-color:#00B5E6">
    <div class="card-body"  style="font-size:17px">{{'card.ReferencesTableTitle' | translate}}</div>
  </div>
  <table width="100%" class="table">
    <thead>
      <tr>
        <!-- <th>Status</th> -->
        <th>{{'common.names.Primary' | translate}}</th>
        <th>{{'common.names.Appt' | translate}} </th>
        <th>{{'common.names.CallReport' | translate}}</th>
        <th>{{'common.names.Organization' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reference of references">
        <!-- <td > {{Reference?.C_Status_Reference__c}}</td> -->
        <td> {{reference?.isPrimary}}</td>
        <td (click)='itemTappedAppointment(reference)'> <img src="assets/imgs/appt-bw.png" style="width:30px;height: 30px;"></td>
        <td (click)='itemTappedCallReport(reference)'><img src="assets/imgs/call.png" style="width:30px;height: 30px;"></td>
        <td>
          <a href="#" (click)="navigateToOrganisationPage(reference)"><span>{{reference?.organizationName}}</span>
            <p>{{reference?.organizationAddress}} &nbsp;{{reference?.organizationCity}} &nbsp;{{reference?.organizationCountry}} &nbsp;</p>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="card text-white" style="background-color:#00B5E6">
    <div class="card-body"  style="font-size:17px">{{'card.InFieldActivitiesTableTitle' | translate}}</div>
  </div>
  <table width="100%" class="table">
    <thead>
      <tr>
        <th>{{'common.names.Type' | translate}}</th>
        <th>{{'common.names.Date' | translate}}</th>
        <th>{{'common.names.Time' | translate}}</th>
        <th>{{'common.names.User' | translate}}</th>
        <th>{{'common.names.NextCallObjectives' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let infieldActivity of infieldActivities" (click)="itemTappedType(infieldActivity)">
        <td>{{infieldActivity?.type}}</td>
        <td> {{infieldActivity?.dateTimePlanned | date : "y-MM-d "}}</td>
        <td>{{infieldActivity?.dateTimePlanned | date : " HH:mm "}}</td>
        <td> {{infieldActivity?.userFirstName}} {{infieldActivity?.userLastName}}</td>
        <td> {{infieldActivity?.nextCallObjective}}</td>
      </tr>
    </tbody>
  </table>
</ion-content>
