<ion-header>
    <ion-navbar>
      <ion-title>{{'common.names.MedicalQuery' | translate}}</ion-title>
      <ion-buttons end class="buttonDesign">
          <button ion-button class="saveButton" (click)="validateInputData()">Save</button>
      </ion-buttons>
    </ion-navbar>
    
  </ion-header>
  
  <ion-content padding>
   
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-row class="colBsackground borders-0">
            <ion-col>
              {{'common.names.Customer' | translate}}
            </ion-col>
            <ion-col>
                <!-- <select [(ngModel)]="customerName"  (ionChange)="setCustomer(customerName)"  multiple="false">
                    <option selected>Select Customer</option>
                    <option *ngFor="let row of customers" value="row">{{row?.name}}</option>
                 </select> -->
                 <!-- <ion-select  *ngFor="let customer of customers" (ionSelect)="setCustomer(customer)">
                  <ion-option selected>Select Customer</ion-option>
                  <ion-option>{{customer?.name}}</ion-option>
              </ion-select> -->
              <ion-select  [(ngModel)]="customerName" interface="popover"  multiple="false" placeholder="Select Customer">
                <ion-option selected="true">Select Customer</ion-option>
                <ion-option (ionSelect)="setCustomer(customer)" *ngFor="let customer of customers" [value]="customer?.contactSfId">{{customer?.name}}</ion-option>
            </ion-select>
            </ion-col>
          </ion-row>
          <ion-row class="borders-0">
            <ion-col>
             {{'common.names.NonContactName' | translate}}
            </ion-col>
            <ion-col>
             <ion-input [(ngModel)]="noncustomer" class="inpoutDesign" type="text" placeholder="Non Customer Name"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row class="colBsackground borders-0">
            <ion-col>
              {{'card.GeneralInfoFields.Organization' | translate}}
            </ion-col>
            <ion-col>
                <ion-select  [(ngModel)]="organization" interface="popover"  multiple="false" placeholder="Select Organization">
                    <ion-option selected="true">Select Organization</ion-option>
                    <ion-option *ngFor="let organization of organizationlist" [value]="organization?.id">{{organization?.name}}</ion-option>
                </ion-select>
              <!-- <ion-input  [(ngModel)]="organization" class="inpoutDesign" type="text" placeholder="Organization"></ion-input> -->
               </ion-col>
           </ion-row>
           <ion-row class="borders-0">
            <ion-col>
             {{'common.names.Email' | translate}}
            </ion-col>
            <ion-col>
                <ion-input [(ngModel)]="email" class="inpoutDesign" value="" maxlength="30" type="email" placeholder="Email"></ion-input>
              </ion-col>
          </ion-row>
          <ion-row class="colBsackground borders-0">
            <ion-col>
              {{'common.names.MobilePhone' | translate}}
            </ion-col>
            <ion-col>
                <ion-input [(ngModel)]="mobileNumber" class="inpoutDesign" type="tel" maxlength="15" placeholder="Mobile"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row class="borders-0">
              <ion-col>
                {{'card.GeneralInfoFields.Status' | translate}}
              </ion-col>
              <ion-col>
                {{status}}
              <!-- {{MedicalQueryScheme.APPROVAL_STATUS_DRAFT}} -->
              </ion-col>
            </ion-row>
        </ion-col>
        <ion-col>
       
          <ion-row class="borders-0">
            <ion-col>
             User
            </ion-col>
            <ion-col>
                {{loggedInUserDetails?.name}}
            </ion-col>
          </ion-row>
          <ion-row class="colBsackground borders-0">
            <ion-col>
           Created Date/Time
            </ion-col>
            <ion-col>
                <ion-datetime [(ngModel)]="createdDate" displayFormat="DD.MM.YYYY HH:mm" placeholder="Select Date"></ion-datetime>
              <!-- {{today | date}}
              <button ion-button icon-only clear>
                <ion-icon name="calendar"></ion-icon>
              </button> -->
             
            </ion-col>
          </ion-row>
          <ion-row class="borders-0">
            <ion-col>
            Product
            </ion-col>
            <ion-col>
              <ion-select [(ngModel)]="product" interface="popover" multiple="false" placeholder="Select Product">
                <ion-option selected="true">Select Product</ion-option>
                <ion-option *ngFor="let product of productlist" [value]="product?.id">{{product?.name}}</ion-option>
            </ion-select>
            </ion-col>
          </ion-row>
          <ion-row class="borders-0">
              <ion-col>
              Type of Query
              </ion-col>
              <ion-col>
                <ion-select  [(ngModel)]="typeOfQuery" interface="popover" (ionChange)="filterMedicalContactPersons(typeOfQuery)" multiple="false" placeholder="Select Query">
                  <ion-option selected>Select Query</ion-option>
                  <ion-option *ngFor="let row of pickListValues" [value]="row?.id">{{row?.description}}</ion-option>
              </ion-select>
              </ion-col>
            </ion-row>
          <ion-row class="colBsackground borders-0">
            <ion-col>
            Mylan Medical Contact
            </ion-col>
            <ion-col>
                <!-- <ion-select  [(ngModel)]="customerName"  (ionChange)="setCustomer(customerName)"  multiple="false" placeholder="Select Customer">
                    <ion-option *ngFor="let row of Referenceteam" value="{{row | json}}">{{row?.Customer__r?.Name}}</ion-option>
                </ion-select> -->
                <ion-select  [(ngModel)]="medicalContact" interface="popover" multiple="false" placeholder="Select Contact">
                  <option selected>Select Customer</option>
                  <ion-option (ionSelect)="setMedicalContact(row)" *ngFor="let row of MedicalContactPersons" [value]="row?.id">{{row?.name}}</ion-option>
              </ion-select>
                 
            </ion-col>
          </ion-row>
          <ion-row class="borders-0">
              <ion-col>
             Speciality
              </ion-col>
              <ion-col>
                  <ion-input [(ngModel)]="speciality" class="inpoutDesign" type="translate" placeholder="Speciality"></ion-input>
              </ion-col>
            </ion-row>
        </ion-col>
      </ion-row>
      <br><br>
      <ion-row class="questionBackground">
        <ion-col class="margin-0">Media Query</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-textarea class="textAreaDesign" [(ngModel)]="mediaquery" type="text" placeholder="Add content here"></ion-textarea>
         </ion-col>
      </ion-row>
     
     
    </ion-grid>
    
  </ion-content>
  


<!-- <ion-header >
  <ion-navbar>
    <ion-grid>
      <ion-row>
        <ion-col>
            <ion-title text-center>medical Query</ion-title>
        </ion-col>
  
              <button ion-button (click)="validateInputData()">Save</button>
         
      </ion-row>
  </ion-grid>
 
  </ion-navbar>
</ion-header>
<ion-content padding>
<div class="container-fluid" style="margin-bottom:12px">
  <div class="row">
      <div class="col-sm-6">

          <div class="card">
              <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h5>Customer:</h5>
                       
                      </div>
                      <div class="col-sm-6">
                        <ion-item>
                         
                        <ion-select  [(ngModel)]="customerName"  (ionChange)="setCustomer(customerName)"  multiple="false" placeholder="Select Customer">
                            <ion-option *ngFor="let row of Referenceteam" value="{{row | json}}">{{row?.Customer__r?.Name}}</ion-option>
                        </ion-select>

                        </ion-item>
                        </div>
                </div>
                </div>
              <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <h5>Non Customer:</h5>
                       
                      </div>
                      <div class="col-sm-6">
                        <ion-item >
                          <ion-input [disabled]="customerName" [(ngModel)]="Medicalquery.noncustomer"></ion-input>
                         
                        </ion-item>
                        </div>
                </div>
    
              </div> 
              <div class="card-footer">
                  <div class="row">
                      <div class="col-sm-6">
                          <h5>Organization:</h5>
                          </div>
                        <div class="col-sm-6">
                          <ion-item >
                            <ion-input [(ngModel)]="customerOrg" placeholder="Select Organization" readonly></ion-input>
                          </ion-item>
                          </div>
                  </div>
              </div> 
              <div class="card-body">
                  <div class="row">
                      <div class="col-sm-6">
                          <h5>Email:</h5>
                         </div>
                        <div class="col-sm-6">
                            <ion-item>
                          <ion-input [(ngModel)]="email" ></ion-input>
                            </ion-item>
                          </div>
                  </div>
              </div>

              <div class="card-footer">
                  <div class="row">
                      <div class="col-sm-6">
                          <h5>Mobile Phone:</h5>
                         
                        </div>
                        <div class="col-sm-6">
                            <ion-item>
                                <ion-input [(ngModel)]="mobileNumber"></ion-input>
                             </ion-item>
                          </div>
                  </div>
      
              </div> 
              <div class="card-body">
                  <div class="row">
                      <div class="col-sm-6">
                          <h5>Status:</h5>
                         
                        </div>
                        <div class="col-sm-6">
                           <h4>Draft</h4>
                          </div>
                  </div>
              </div>

            </div>
            
      </div>
      <div class="col-sm-6">
          <div class="card">
              <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h5>User:</h5>
                       
                      </div>
                      <div class="col-sm-6">
                        {{loggedInUserDetails?.Name}}
                        </div>
                </div>
              
              
              </div>

              <div class="card-body">
                  <div class="row">
                      <div class="col-sm-6">
                          <h5>Created Date/Time:</h5>
                         
                        </div>
                        <div class="col-sm-6">
                    <ion-item>
                   
                            <ion-datetime  [(ngModel)]="Medicalquery.CreatedDate" displayFormat="DD.MM.YYYY HH:mm" ></ion-datetime>
      
                    </ion-item>
                        </div>
                  </div>
      
              </div> 
              <div class="card-footer">
                  <div class="row">
                      <div class="col-sm-6">
                          <h5>Product:</h5>
                         
                        </div>
                        <div class="col-sm-6">
                            <ion-item>
                              <ion-select [(ngModel)]="Medicalquery.Pharma_Product__r" placeholder="Select Product"  multiple="false">
                                  <ion-option  *ngFor="let row of productlist" value="{{row | json}}" >{{row.Name}}</ion-option>
                              </ion-select>
                             </ion-item>
                          </div>
                  </div>
              </div>

              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6">
                      <h5>Type Of Query:</h5>
                     
                    </div>
                    <div class="col-sm-6">
                        <ion-item>
                          <ion-select [(ngModel)]="Medicalquery.typeOfQuery" (ionChange)="filterMedicalContactPersons(Medicalquery.typeOfQuery)" placeholder="Select TypeOfQuery" multiple="false">
                            <ion-option value="" >None</ion-option>   
                            <ion-option *ngFor="let row of medicalquerylistvalues" >{{row.value}}</ion-option>
                          </ion-select>
                        </ion-item>
                      </div>
              </div>
      
              </div> 
              <div class="card-footer">
                <div class="row">
                  <div class="col-sm-6">
                      <h5>Mylan Medical Contact:</h5>
                     
                    </div>
                    <div class="col-sm-6">
                        <ion-item>
                          <ion-select [(ngModel)]="Medicalquery.Mylan_Medical_Contact__r" placeholder="Select Medical Contact" multiple="false">
                              <ion-option *ngFor="let row of MedicalContactPersons" value="{{row | json}}">{{row.Name}}</ion-option>
                          </ion-select>
                        </ion-item>
                    </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                  <div class="col-sm-6">
                      <h5>Speciality:</h5>
                     
                    </div>
                    <div class="col-sm-6">
                        <ion-item>
                          <ion-input [(ngModel)]="speciality"></ion-input>
                        </ion-item>
                    </div>
              </div>
  
          </div> 
        </div>
      </div>
     
    </div>

</div>
<div class="card text-white" style="background-color:#00B5E6;margin-bottom:12px" >
  <div class="card-body"  style="font-size:17px">Medical Query</div>
</div>
<textarea class="form-control" [(ngModel)]="Medicalquery.description" rows="5" id="comment"></textarea>
   
</ion-content> -->