<div class="header">
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
      <ion-searchbar showCancelButton="false" [(ngModel)]="search" (ionBlur)="onSearchHandler($event)"
                     (ionClear)="onClearHandler($event)" (ionCancel)="onClearHandler($event)"></ion-searchbar>
    </div>
  </div>
</div>
<lazy-table class="reference-table"></lazy-table>

<div class="buttons">
  <button ion-button class="ctrl-btn" type="button" (click)="onTapCreateBtnHandler()" block>{{ 'common.buttons.Create' | translate}}</button>
  <button ion-button class="ctrl-btn delete-btn" type="button" (click)="onTapCancelBtnHandler()" block>{{ 'common.buttons.Cancel' | translate}}</button>
</div>
