reference-select-popup {
  .searchbar {
    padding: 0;
    width: 95%;
    background: transparent;

    .searchbar-clear-icon {
      right: auto;
      top: 50%;
      left: 100%;
      margin-left: 3%;
      width: 2em;
      height: 2em;
      transform: translate(0, -50%);
      display: block;
      background: none;

      &:after ,
      &:before {
        content: '';
        position: absolute;
        top: 0.2em;
        bottom: 0.2em;
        left: 50%;
        width: 3px;
        background-color: #21b4f3;
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }

      .button-inner,
      .button-effect{
        display: none;
      }
    }


    input.searchbar-input {
      padding: 0 0.5em 0 2em;
      width: 100%;
      height: 2.2em;
      border: 1px solid #b7b7bb;
      box-sizing: border-box;
      font-size: 1.05em;
      line-height: 1.2;
      -webkit-border-radius: 0.53333333333em;
      border-radius: 0.53333333333em;
      background-color: #fff;
    }
  }
  .reference-table {
    height: calc(100% - 120px);
    font-size: 1.2em;

    table-header table-header-item,
    table-row .cell {
      &:nth-of-type(1) {
        width: 10%;
      }

      &:nth-of-type(2) {
        width: 45%;
      }

      &:nth-of-type(3) {
        width: 45%;
      }
    }

    .header-cell {
      font-size: 1.2em;
    }

    table-row {
      .cell:first-of-type > span {
        position: relative;
        width: 28px;
        height: 28px;

        .check-box {
          position: absolute;
          top: 0;
          left: 0;
          width: 28px;
          height: 28px;
          display: -webkit-box;
          padding: 0;

          .arrow {
            content: '';
            display: none;
            width: 80%;
            height: 60%;
            background: #fff;
            -webkit-mask: url("../assets/imgs/checkbox.png") center center no-repeat;
            -webkit-mask-size: 100% 100%;
          }

          &.active {
            background: #21b4f3;
            border-color: #21b4f3;

            .arrow {
              display: block;
            }
          }
        }

        .reference-id {
          display: none;
        }
      }
    }
  }

  .header {
    padding: 0.5em 1.5em;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #ababae;
    font: 1.1em/1.2em 'Roboto';
    font-weight: 500;
    color: #21b4f3;
    word-break: break-all;
    border-radius: 5px 5px 0 0;
    background: #efeff4;

    .row {
      margin: 0;
    }
  }


  .buttons {
    width: 100%;
    height: 60px;
    padding: 15px 10px 10px;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: -webkit-linear-gradient(top, #f8f8f8 0%, #f6f6f6 100%);
    background: linear-gradient(to bottom, #f8f8f8 0%, #f6f6f6 100%);

    .ctrl-btn {
      padding: 10px 40px;
      min-width: 60px;
      width: auto;
      font-size: 1.2em;
    }
  }
}
