page-organization-china-edit-card {
  .input-page-field {
    height: 2.2em;

    input {
      padding-left: 10px;
    }
  }

  .select-picklist-button {
    max-width: 90%;
    min-height: 2.2em;
    font-size: 1em;
    line-height: 1.2;
    display: flex;
    align-items: center;

    .select-placeholder {
      color: #21b4f3;
    }

    .select-text{
      max-width: initial;
      width: auto;
    }
  }
}
