<ion-header class="page-header">
  <ion-navbar #navbar>
    <div class="row text-center">
      <div class="col-md-10">
        <div class="title">
          <span *ngIf="!this.organizationStartBackup.id">{{ 'card.Organization.CreateHeaderTitle' | translate }}</span>
          <span *ngIf="this.organizationStartBackup.id">{{ 'card.Organization.HeaderTitle' | translate }} {{ organization.name }}</span>
        </div>
      </div>
      <div class="col-md-2">
        <button class="ctrl-btn" (click)="onTapSaveBtnHandler()">{{ 'common.buttons.SaveBtn' | translate }}</button>
      </div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content class="content-page-detail">
  <div class="wrapper">
    <div class="page-row">
      <div class="page-col">
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.OrganizationId' | translate}}</div>
          <div class="info-cell value">
            <ion-input class="input-page-field" type="text" [(ngModel)]="organization.organizationId"
                       placeholder="{{ 'common.names.Id' | translate }}"></ion-input>
          </div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.OrganizationName' | translate}}</div>
          <div class="info-cell value">
            <ion-input class="input-page-field" type="text" [(ngModel)]="organization.name"
                       placeholder="{{ 'common.names.Name' | translate }}"></ion-input>
          </div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.Alias' | translate}}</div>
          <div class="info-cell value">
            <ion-input class="input-page-field" type="text" [(ngModel)]="organization.alias"
                       placeholder="{{ 'common.names.Alias' | translate }}"></ion-input>
          </div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.Status' | translate}}</div>
          <div class="info-cell value">
            <ion-select #statusesSelect placeholder="{{ 'common.defaultSelectValue' | translate }}"
                        class="select select-picklist-button" [(ngModel)]="organization.status"
                        [selectOptions]="filterOptions">
              <ion-option *ngFor="let status of organizationStatusValues" [value]="status.id"
                          (ionSelect)="setDataAndCloseSelect(OrganizationScheme.fields.status.local, status.id, statusesSelect)" multiple="false">{{ status.description }}
              </ion-option>
            </ion-select>
          </div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.StatusDescription' | translate}}</div>
          <div class="info-cell value">
            <ion-select #statusDescriptionSelect placeholder="{{ 'common.defaultSelectValue' | translate }}"
                        class="select select-picklist-button" [(ngModel)]="organization.statusDescription"
                        [selectOptions]="filterOptions">
              <ion-option *ngFor="let status of organizationStatusDescriptionValues" [value]="status.id"
                          (ionSelect)="setDataAndCloseSelect(OrganizationScheme.fields.statusDescription.local, status.id, statusDescriptionSelect)" multiple="false">{{ status.description }}
              </ion-option>
            </ion-select>
          </div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.Province' | translate}}</div>
          <div class="info-cell value">
            <ion-input class="input-page-field" type="text" [(ngModel)]="organization.state"
                       placeholder="{{ 'common.names.Province' | translate }}"></ion-input>
          </div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.Organization.GeneralInfoFields.City' | translate}}</div>
          <div class="info-cell value">
            <ion-input class="input-page-field" type="text" [(ngModel)]="organization.city"
                       placeholder="{{ 'common.names.City' | translate }}"></ion-input>
          </div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.DistrictCountyRegion' | translate}}</div>
          <div class="info-cell value">
            <ion-input class="input-page-field" type="text" [(ngModel)]="organization.country"
                       placeholder="{{ 'common.names.DistrictCountyRegion' | translate }}"></ion-input>
          </div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.Organization.GeneralInfoFields.Address' | translate}}</div>
          <div class="info-cell value">
            <ion-input class="input-page-field" type="text" [(ngModel)]="organization.address"
                       placeholder="{{ 'common.names.Address' | translate }}"></ion-input>
          </div>
        </div>
      </div>
      <div class="page-col">
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.Type' | translate}}</div>
          <div class="info-cell value">
            <ion-select #recordTypeSelect placeholder="{{ 'common.defaultSelectValue' | translate }}"
                        class="select select-picklist-button" [(ngModel)]="organization.recordType"
                        [selectOptions]="filterOptions">
              <ion-option *ngFor="let recordType of organizationRecordTypeValues" [value]="recordType.id"
                          (ionSelect)="setDataAndCloseSelect(OrganizationScheme.fields.recordTypeId.local, recordType.id, recordTypeSelect);setDataAndCloseSelect(OrganizationScheme.fields.recordType.local, recordType.id, recordTypeSelect)" multiple="false">{{ recordType.description
                }}
              </ion-option>
            </ion-select>
          </div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.PostalCode' | translate}}</div>
          <div class="info-cell value">
            <ion-input class="input-page-field" type="text" [(ngModel)]="organization.postalCode"
                       placeholder="{{ 'common.names.PostalCode' | translate }}"></ion-input>
          </div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.Phone' | translate}}</div>
          <div class="info-cell value">
            <ion-input class="input-page-field" type="text" [(ngModel)]="organization.phone"
                       placeholder="{{ 'common.names.Phone' | translate }}"></ion-input>
          </div>
        </div>



        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.OrganizationType' | translate}}</div>
          <div class="info-cell value">
            <ion-select #typesSelect placeholder="{{ 'common.defaultSelectValue' | translate }}"
                        class="select select-picklist-button" [(ngModel)]="organization.organizationType"
                        [selectOptions]="filterOptions">
              <ion-option *ngFor="let item of organizationTypeValues" [value]="item.id"
                          (ionSelect)="setDataAndCloseSelect(OrganizationScheme.fields.organizationType.local, item.id, typesSelect)" multiple="false">{{ item.description }}
              </ion-option>
            </ion-select>
          </div>
        </div>

        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.OrganizationProperty' | translate}}</div>
          <div class="info-cell value">
            <ion-select #propertiesSelect placeholder="{{ 'common.defaultSelectValue' | translate }}"
                        class="select select-picklist-button" [(ngModel)]="organization.organizationProperty"
                        [selectOptions]="filterOptions">
              <ion-option *ngFor="let item of organizationPropertyValues" [value]="item.id"
                          (ionSelect)="setDataAndCloseSelect(OrganizationScheme.fields.organizationProperty.local, item.id, propertiesSelect)" multiple="false">{{ item.description }}
              </ion-option>
            </ion-select>
          </div>
        </div>

        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.HospitalGrade' | translate}}</div>
          <div class="info-cell value">
            <ion-select #hospitalGradeSelect placeholder="{{ 'common.defaultSelectValue' | translate }}"
                        class="select select-picklist-button" [(ngModel)]="organization.hospitalGrade"
                        [selectOptions]="filterOptions">
              <ion-option *ngFor="let item of organizationHospitalGradeValues" [value]="item.id"
                          (ionSelect)="setDataAndCloseSelect(OrganizationScheme.fields.hospitalGrade.local, item.id, hospitalGradeSelect)" multiple="false">{{ item.description }}
              </ion-option>
            </ion-select>
          </div>
        </div>

        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.TargetHospital' | translate}}</div>
          <div class="info-cell value">
            <ion-select #hospitalTargetSelect placeholder="{{ 'common.defaultSelectValue' | translate }}"
                        class="select select-picklist-button" [(ngModel)]="organization.targetHospital"
                        [selectOptions]="filterOptions">
              <ion-option *ngFor="let item of organizationTargetHospitalValues" [value]="item.id"
                          (ionSelect)="setDataAndCloseSelect(OrganizationScheme.fields.targetHospital.local, item.id, hospitalTargetSelect)" multiple="false">{{ item.description }}
              </ion-option>
            </ion-select>
          </div>
        </div>

        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.TerritoryCode' | translate}}</div>
          <div class="info-cell value">
            <ion-input class="input-page-field" type="text" [(ngModel)]="organization.territoryCode"
                       placeholder="{{ 'common.names.TerritoryCode' | translate }}"></ion-input>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
