<ion-content class="pin-page-content" fullscreen="true">
  <form #f="ngForm" (ngSubmit)="onTapSubmitButton()">
    <ion-grid>
      <ion-row>
        <ion-col text-center>
          <ion-input class="pin" type="password" placeholder="{{'pin.Placeholder.Pin' | translate}}" name="pin" [(ngModel)]='pin'></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col text-center>
          <button class="confirm" ion-button color="primary" type="submit">{{'common.buttons.OkBtn' | translate}}</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
