pin {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transform: translate3d(0,0,1px);
  z-index: 9999;

  &.hide{
    display: none;
  }

  .pin-page-content{
    .scroll-content{
      display: -webkit-box;
      -webkit-box-align: center;
      -webkit-box-pack: center;
      -webkit-box-orient: vertical;

      form {
        width: 50%;
      }

      .col{
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .pin {
        box-sizing: border-box;
        padding: 1em;
        width: 100%;
        border: 1px solid #b6b6ba;
        outline: none;
        font-size: 1em;
        line-height: 1;
        color: black;
        -webkit-user-select: auto;
        -webkit-text-security: disc;
        -webkit-appearance: none;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        flex: none;

        .text-input{
          margin: 0;
        }

        input {
          min-height: 2.2em;
          $placeholder-font-size: 1.3em;
          $placeholder-line-height: 1;

          &::-webkit-input-placeholder {
            font-size: $placeholder-font-size;
            line-height: $placeholder-line-height;
          }

          &::-moz-placeholder {
            font-size: $placeholder-font-size;
            line-height: $placeholder-line-height;
          }

          &:-ms-input-placeholder {
            font-size: $placeholder-font-size;
            line-height: $placeholder-line-height;
          }

          &:-moz-placeholder {
            font-size: $placeholder-font-size;
            line-height: $placeholder-line-height;
          }

          &::placeholder {
            font-size: $placeholder-font-size;
            line-height: $placeholder-line-height;
          }
        }
      }

      .pin:focus {
        outline: 3px solid #f78f1c;
      }

      .confirm {
        display: -webkit-box;
        padding-top: 1em;
        padding-bottom: 0.8em;
        border: none;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        background-image: -webkit-linear-gradient(#36b0df, #1182b0);
        color: #fff;
        font-size: 1.55em;
        outline: none;
        width: 100%;
        background: #0b97d4;
        margin-top: 1em;
        -webkit-box-pack: center;

        &:active {
          opacity: 0.8;
        }
      }
    }
  }
}
