scenarios-grid-view {
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;

  .scenarios-grid-view{
    display: flex;
    flex-wrap: wrap;
  }

  .scenarios-grid-view-cell {
    display: block;
    position: relative;
    width: 22.5%;
    padding: 25% 0 0 0;
    margin: 1%;
    background-color: rgba(255,255,255,0.7);
  }

  .scenarios-grid-view-cell-remove {
    position: absolute;
    right: -5px;
    top: -5px;
    width: 1.7em;
    height: 1.7em;
    background: url("../assets/imgs/agenda/close-btn.png") center center no-repeat;
    -webkit-background-size: contain;
    pointer-events: auto;
  }
}
