<div class="scenarios-grid-view" cdkDropListGroup>
  <div cdkDropList [cdkDropListEnterPredicate]="dropListEnterPredicateHandler" (cdkDropListDropped)="drop()" class="scenarios-grid-view-cell" #placeholder></div>

  <div cdkDropList [cdkDropListEnterPredicate]="dropListEnterPredicateHandler" (cdkDropListDropped)="drop()" class="scenarios-grid-view-cell" *ngFor="let slide of scenarioDetailsService.selectedSlides; trackBy: slide?.id && slide?.presentationId">
    <div class="scenario-grid-slide scenarios-grid-view-cell-content" cdkDrag>
      <div class="scenarios-grid-view-cell-title-wrapper">
        <div class="scenarios-grid-view-cell-title ellipsis">
          {{slide.presentationName}}
        </div>
      </div>
      <div class="scenarios-grid-view-cell-icon" [ngStyle]="{'background-image': 'url(' + scenarioDetailsService.buildTSlideThumbnailPath(slide) + ')'}">
        <div class="scenarios-grid-view-cell-remove" (click)="onClickRemove(slide)"></div>
      </div>
      <div class="scenarios-grid-view-cell-name-wrapper">
        <div class="scenarios-grid-view-cell-name ellipsis">{{slide.name}}</div>
      </div>
    </div>
  </div>
</div>
