page-activities {

   background: white;

   // .toolbar-background-ios {
   //    background: #f7f7f7 !important;
   // }
   // .toolbar-title-ios {
   //    color: #000 !important;
   // }
   // .setBorder{
   //    border:1px solid #00a1e0;
   // }
   .main-content {
     .fixed-content{
       width: 100%;
     }

     table-header table-header-item,
     table-row .cell {
       &:first-of-type{
         width: 15%;
       }
       &:nth-of-type(2){
         width: 15%;
         padding-left: 0.1em;
       }
       &:nth-of-type(3) {
         width: 15%;
       }
       &:nth-of-type(4) {
         width: 15%;
       }
       &:nth-of-type(5) {
         width: 15%;
       }
       &:nth-of-type(6) {
         width: 15%;
       }
       &:nth-of-type(7) {
         width: 10%;
       }
     }

   //   .table-header table-header-item,
   //   table-row .cell {
   //     &:first-of-type{
   //       width: 20%;
   //     }
   //     &:nth-of-type(2){
   //       width: 20%;
   //       padding-left: 0.1em;
   //     }
   //     &:nth-of-type(3) {
   //       width: 20%;
   //     }
   //     &:nth-of-type(4) {
   //       width: 20%;
   //     }
   //     &:nth-of-type(5) {
   //       width: 20%;
   //     }
   //   }
   }

   .ion-row{
      background: #f8f8f8;

  }
  .setHeaderHeight{
     padding-bottom: 30px;
  }
  .datatable-header {
   background: rgba(164, 192, 214,1);
   padding: 1em 0 0 1em;
   font-size:0.8em;
}
.datatable-header-cell {
   font-size: 1.2em;
   font-weight: bold;
}

.datatable-body-row {
   padding: 0;
}

.datatable-row-even {
   background: rgba(240, 240, 240, 1);
}

.datatable-row-odd {
   background: rgba(255, 255, 255,1);
}

.datatable-body-cell {
   font-size:1em;
   padding: 1em;

   overflow: hidden !important;
 text-overflow: ellipsis !important;
 white-space: normal !important;
 text-align: center !important;
 vertical-align: middle !important;
}

.ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
 overflow: hidden !important;
 overflow-y: visible;
 text-overflow: ellipsis !important;
 white-space: normal !important;
 text-align: center !important;
 vertical-align: middle !important;
}
.ngx-datatable{
   position: absolute !important;
   height: auto !important;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   width: 100%;
   }
   .ngx-datatable.div.visible {
      height: 100%;
      display: flex;
      flex-direction: column;
      }
      .ngx-datatable.datatable-body{
         flex-basis: 100%;
         }
.datatable-footer {
   background: rgba(218, 226, 234,1);
   padding: 0 1em 0 1em;

   .pager {
      li {
           padding: 0 1em !important;

           a {
              color: rgba(68, 68, 68, 1);
              text-decoration: none;
           }
        }
   }
}
.datatable-icon-done-all:before {
   content: ">>";
}

.datatable-icon-left:before {
   content: "<";
}
 .datatable-body-cell-label {
  font-size: 9pt
}

.datatable-icon-right:before {
   content: ">";
}

.datatable-icon-skip:before {
   content: ">>";
}

.datatable-icon-prev:before {
   content: "<<";
}
        ion-navbar{
            background: #00a1e0;
        }

        ion-grid{

            padding-bottom: 7px;
        padding-top: 10px;
        color: black;
        text-align: center;
        }
        .select {
         display: -webkit-box;
         display: -webkit-flex;
         display: -ms-flexbox;
         display: flex;
         overflow: hidden;
         max-width:100%;
       }
      .col3 {
         -webkit-box-flex: 0;
         -webkit-flex: 0 0 25%;
         -ms-flex: 0 0 25%;
         flex: 0 0 25%;
         width: 22%;
         max-width: 22%;
       }
       .sortable .sort-btn:after {
         font-family: data-table;
         content: "\25B2";
         }
         .sortable .sort-btn.datatable-icon-down:after {
         content: "\25BC";
         }
         .sortable .sort-btn.datatable-icon-up:after {
         content: "\25B2";
         }
    }

