<!--
  Generated template for the DoctorconsentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <div class="row text-center">
      <div class="col-md-10">
        <div class="title">{{'common.names.Consents' | translate}}
        </div>
      </div>
      <div class="col-md-2">
        <button class="ctrl-btn" (click)="validateInputData()">{{ 'common.buttons.SaveBtn' | translate }}</button>
      </div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col style="margin: 0px 11px 11px 0px;">
        <ion-row class="oddRow">
          <ion-col>
            <h5>{{'DoctorConsent.Firstname' | translate}}</h5>
          </ion-col>
          <ion-col>
            <ion-input class="text-input" [(ngModel)]='firstname' type="text"
              placeholder="{{'DoctorConsent.Mandatory' | translate}}"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row class="evenRow">
          <ion-col>
            <h5>{{'DoctorConsent.Lastname' | translate}}</h5>
          </ion-col>
          <ion-col>
            <ion-input class="text-input" [(ngModel)]='lastname' type="text"
              placeholder="{{'DoctorConsent.Mandatory' | translate}}"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row class="oddRow">
          <ion-col>
            <h5>{{'DoctorConsent.ExistingCustomer' | translate}}</h5>
          </ion-col>
          <ion-col>
            <!-- <ion-select [(ngModel)]="customerName" (ionChange)="setCustomer(customerName)" multiple="false"
              placeholder="Select Customer">
              <ion-option selected="true">Select Customer</ion-option>
              <ion-option *ngFor="let customer of customers" [value]="customer?.contactSfId">{{customer?.name}}
              </ion-option>
            </ion-select> -->
            <!-- <ion-input class="text-input" type="text" (click)="onTapAttendeeHandler()"
              placeholder="{{'common.names.SelectCustomers' | translate}}">
            </ion-input> -->
            <div class="col col-example" (click)="onTapAttendeeHandler()">
              <div class="psevdo-text-area">
                <span [innerHtml]="reference.name"></span>
                <span
                  *ngIf="!reference.name">{{ 'DoctorConsent.SelectCustomer' | translate }}</span>
              </div>
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="evenRow">
          <ion-col>
            <h5>{{'DoctorConsent.NameofOrganization' | translate}}</h5>
          </ion-col>
          <ion-col>
            <ion-input class="text-input" [(ngModel)]='organization' type="text"
              placeholder="{{'DoctorConsent.Mandatory' | translate}}"></ion-input>
          </ion-col>
        </ion-row>

        <ion-row class="oddRow">
          <ion-col>
            <h5>{{'DoctorConsent.OrganizationName' | translate}}</h5>
          </ion-col>
          <ion-col>
            <!-- <ion-select [(ngModel)]="organization" multiple="false" placeholder="Select Organization">
              <ion-option selected="true">Select Organization</ion-option>
              <ion-option *ngFor="let organization of organizationlist" [value]="organization?.id">
                {{organization?.name}}</ion-option>
            </ion-select> -->
            <div class="col col-example" (tap)="onTapAccountBtnHandler()">
              <div class="psevdo-text-area">
                <span [innerHtml]="organization1.name"></span>
                <span *ngIf="!organization1.name">{{ 'DoctorConsent.SelectOrganization' | translate }}</span>
              </div>
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="evenRow">
          <ion-col>
            <h5>{{'DoctorConsent.Brick' | translate}}</h5>
          </ion-col>
          <ion-col>
              <filter-panel-picklist
              [field]="bcollection.scheme.fields.organizationBrick"
              [picklistDatasource]="brickPickListDatasource">
              </filter-panel-picklist>
          </ion-col>
        </ion-row>

        <ion-row class="oddRow">
          <ion-col>
            <h5>{{'DoctorConsent.DoctorAgreeText' | translate}}</h5>
          </ion-col>
          <ion-col>
            <!-- <div class="radioDiv">
              <input type="radio" name="radiobtn-agree" value="yes" checked (ionChange)="onChangeHandler($event)"> Yes
              <input type="radio" name="radiobtn-agree" value="no" (ionChange)="onChangeHandler($event)"> No
            </div> -->
            <ion-list radio-group (ionChange)="onChangeHandler($event)" class="radioBtns">
              <ion-item>
                <ion-label>Yes</ion-label>
                <ion-radio value="yes" checked id="agreeYes"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>No</ion-label>
                <ion-radio value="no" id="agreeNo"></ion-radio>
              </ion-item>
          </ion-list>
          </ion-col>
        </ion-row>
      </ion-col>




      <ion-col style="margin: 0px 11px 11px 0px;">
        <ion-row class="oddRow">
          <ion-col>
            <h5>{{'DoctorConsent.OrganisationID' | translate}}</h5>
          </ion-col>
          <ion-col>
            <ion-input class="text-input" [(ngModel)]='organizationid' type="text"
              placeholder="{{'DoctorConsent.Optional' | translate}}"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row class="evenRow">
          <ion-col>
            <h5>{{'DoctorConsent.Specialty' | translate}}</h5>
          </ion-col>
          <ion-col>
            <ion-input class="text-input" [(ngModel)]='speciality' type="text"
              placeholder="{{'DoctorConsent.Mandatory' | translate}}"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row class="oddRow">
          <ion-col>
            <h5>{{'DoctorConsent.DoctorIDcode' | translate}}</h5>
          </ion-col>
          <ion-col>
            <ion-input class="text-input" [(ngModel)]='doctorid' type="text"
              placeholder="{{'DoctorConsent.Optional' | translate}}"></ion-input>
          </ion-col>
        </ion-row>

        <ion-row class="evenRow">
          <ion-col>
            <h5>{{'DoctorConsent.CellPhoneNumber' | translate}}</h5>
          </ion-col>
          <ion-col>
            <ion-input class="text-input" [(ngModel)]='cellphonenumber' type="text"
              placeholder="{{'DoctorConsent.Optional' | translate}}"></ion-input>
          </ion-col>
        </ion-row>

        <ion-row class="oddRow">
          <ion-col>
            <h5>{{'DoctorConsent.EmailAddress' | translate}}</h5>
          </ion-col>
          <ion-col>
            <ion-input class="text-input" [(ngModel)]='email' type="text"
              placeholder="{{'DoctorConsent.Optional' | translate}}"></ion-input>
          </ion-col>
        </ion-row>

        <ion-row class="evenRow">
          <ion-col>
            <h5>{{'common.names.Signature' | translate}}</h5>
          </ion-col>
          <ion-col>
            <div (click)="onTapSignatureHandler()" class="signature-field-wrapper">
              <img [hidden]="!consent.signature" [src]="setImageSrc(consent.signature) | safeSrc" />
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="card-title">
    <div class="card-body">{{'DoctorConsent.DoctorConsentDisclaimertext' | translate}}</div>
  </div>
  <div>
    <ion-textarea maxlength="5" rows="8" text-wrap value="{{'DoctorConsent.AgreeText' | translate}}" readonly></ion-textarea>
  </div>
</ion-content>