page-doctorconsents {
    .info-row{
        width:100%;
        background-color: '#foo';
        font-family: "Roboto";
    }

    h5{
        font-size: 1.0em;
        font-family: "Roboto";
        font-weight: "Bold";
    }
    .info-row-blue
    {
        background-color:  #21b4f3;
        color: #fff;
        font-weight: 500;
        text-align: left;
        width: 100%;
    }
    
    ion-col.col {
        padding-top: 0px;
    }
    .oddRow{
        background: #efeff4;
        
    }
    ion-col.col h5{
        margin:15px 10px 15px 10px;
    }

     .select {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        max-width:100%;
      }
      .col3 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        width: 25%;
        max-width: 19%;
      }
      ion-select{
        width: 100px;
        text-align: center;
        color: #00b5e6;
        border: 1px #00b5e6 solid;
        margin: 8px 0px 0px 0px;
      }
      .select-md {
        padding: 0px 8px 0px 0px;
    }
    .calenderDiv{
        display: inline-flex;
    }
    .text-input {
        -moz-appearance: none;
        -ms-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border-radius: 0;
        display: inline-block;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        width: 92%;
        width: calc(100% - 10px);
        border: 0;
        text-align: center;
        padding: 0px;
        margin: 8px 0px 8px 0px;
    }
    .input-cover {
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        border: 1px solid #00b5e6;
    }
    .title{
        color: #000;
        text-align: center;
        font-size: 1.4em;
        font-weight: 600;
        pointer-events: auto;
    }
    .col-example {
        text-align: center;
        border: 1px #00b5e6 solid;
        background: none;
        margin: 8px 0px 8px 0px;
    }
    .signature-field-wrapper {
        min-width: 200px;
        min-height: 100px;
        background: #fff;
        border: 1px #00b5e6 solid;
        margin: 8px 0px 8px 0px;
    }

    .signature-field-wrapper {
        &.line {
        border: 1px solid #c1c1c1;
        }
        img{
        display: block;
        width: auto;
        background: #fff;
        }
    }
    .toolbar-background-ios {
        background: #f7f7f7;
    }
    .card-title{
        background-color:#00B5E6;
        color: #fff;
     }
     .card-body, .card-footer{
        font-size:17px;
     }
     .radioDiv{
        margin: 17px 0px 0px 17px;
        font-size: 20px;
     }
     .agreeTextarea{
        font-size: 15px;
        color: #000;
        word-break: break-word;
     }
     .radioBtns{
        margin: 11px 0px 10px 0px;
     }
     .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
        color: #00b5e6;
        background-color: transparent;
    }
}
