<ion-header>
  <ion-navbar>
    <ion-grid>
      <div class="row">
        <div class="col-sm-4">
          <ion-item>
            <ion-select class="select setBorder" interface="action-sheet" [(ngModel)]="appointmentModel" (ionChange)="modelValChanged=true; modo(appointmentModel); " multiple="false">
              <ion-option value="mod1">{{'activities.FilterPopup.AppointmentsToday' | translate}}</ion-option>
              <ion-option value="mod2">{{'activities.FilterPopup.Appointments' | translate}}</ion-option>
              <ion-option value="mod3">{{'activities.FilterPopup.AppointmentsPast' | translate}}</ion-option>
              <ion-option value="mod4">{{'activities.FilterPopup.AppointmentsTomorrow' | translate}}</ion-option>
              <ion-option value="mod5">{{'activities.FilterPopup.1To1Calls' | translate}}</ion-option>
              <ion-option value="mod6">{{'activities.FilterPopup.1To1CallsToday' | translate}}</ion-option>
            </ion-select>
          </ion-item>
        </div>
        <div class="col-sm-4">
          <ion-title text-center class="setHeaderHeight">{{'activities.HeaderTitle' | translate}}</ion-title>
        </div>
        <div class="col-sm-4">
          <ion-searchbar *ngIf="!showNewTable" showCancelButton="true"   (ionBlur)="onSearch($event)"  (ionCancel)="isSearchbarOpened=false"></ion-searchbar>
          <ion-searchbar *ngIf="showNewTable" showCancelButton="true"   (ionBlur)="onSearchPharma($event)"  (ionCancel)="isSearchbarOpened=false"></ion-searchbar>
        </div>
      </div>
    </ion-grid>
  </ion-navbar>

</ion-header>

<ion-content #mainContent class="main-content">
  <div class="fixed-content" ion-fixed>
    <lazy-table (queryChange)="onChangeQueryHandler($event)" (swipe)="onSwipeHandler($event)"></lazy-table>

  </div>
</ion-content>