<!--<ion-header>-->
	<!--<ion-navbar>-->
		<!--<ion-title>-->
			<!--<ion-icon name="contact"></ion-icon> <span *ngIf="account"> {{account?.name}}</span></ion-title>-->
		<!--</ion-navbar>-->
	<!--</ion-header>-->
<ion-header class="page-header">
  <ion-navbar #navbar>
    <div class="row text-center">
      <div class="col-md-9" [ngClass]="{'col-md-9': isEditBtnEnabled, 'col-md-12': !isEditBtnEnabled}">
        <div class="title"><ion-icon name="contact"></ion-icon> <span *ngIf="account"> {{account?.name}}</span></div>
      </div>
      <div class="col-md-3 buttons">
        <button class="ctrl-btn" *ngIf="isEditBtnEnabled" (click)="onTapEditBtnHandler()">{{ 'common.buttons.EditBtn' | translate }}</button>
      </div>
    </div>
  </ion-navbar>
</ion-header>

	<ion-content>
		<div class="container-fluid" style="margin-top: 68px;">
			<div class="row" style="margin-bottom:12px">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-header">
							<div class="row">
								<div class="col-sm-6">
									<h5>{{'card.GeneralInfoFields.Name' | translate}}</h5>
								</div>
								<div class="col-sm-6">
									{{account?.name}}
								</div>
							</div>
						</div>

						<div class="card-body">
							<div class="row">
								<div class="col-sm-6">
									<h5>{{'card.GeneralInfoFields.Type' | translate}}</h5>
								</div>
								<div class="col-sm-6">
									{{account?.recordType}}
								</div>

							</div>
						</div>
						<div class="card-footer">
							<div class="row">
								<div class="col-sm-6">
									<h5>{{'card.Organization.GeneralInfoFields.BillingAddress' | translate}}</h5>

								</div>
								<div class="col-sm-6">
									{{account?.address}} &nbsp;{{account?.city}} &nbsp;{{account?.state}}
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-header">
							<div class="row">
								<div class="col-sm-6">
									<h5>{{'card.Organization.GeneralInfoFields.JuridicGroup' | translate}}</h5>

								</div>
								<div class="col-sm-6">
									{{account?.juridicGroup}}
								</div>
							</div>


						</div>

						<div class="card-body">
							<div class="row">
								<div class="col-sm-6">
									<h5>{{'card.GeneralInfoFields.Status' | translate}}</h5>

								</div>
								<div class="col-sm-6">
									{{account?.status}}
								</div>
							</div>

						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="card" style="background-color:#00B5E6">
			<div class="card-body"  style="font-size:17px">{{'common.names.References' | translate}}</div>
		</div>
		<table class="table" >
			<thead>
				<tr>
					<th scope="col">{{'common.names.Primary' | translate}}</th>
					<th scope="col">{{'common.names.BUSpecialty' | translate}}</th>
					<th scope="col">{{'common.names.Specialty' | translate}}</th>
					<th scope="col">{{'common.names.Appt' | translate}}</th>
					<th scope="col">{{'common.names.CallReport' | translate}}</th>
					<th scope="col">{{'common.names.Customer' | translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let reference of references">
					<td>{{reference?.isPrimary}}</td>
					<td>{{reference?.buSpecialty}}</td>
					<td>{{reference?.specialty}}</td>

					<td (click)='itemTappedAppointment(reference)'> <img src="assets/imgs/appt-bw.png" style="width:30px;height: 30px;"></td>
					<td (click)='itemTappedCallReport(reference)'><img src="assets/imgs/call.png" style="width:30px;height: 30px;"></td>
					<td (click)="gotoContactDetailsPage(reference.contactSfId)">
						<a href="#">{{reference?.name}} {{reference?.contactRecordType}}</a>
					</td>
				</tr>
			</tbody>
		</table>

		<div class="card" style="background-color:#00B5E6">
			<div class="card-body"  style="font-size:17px">{{'card.InFieldActivitiesTableTitle' | translate}}</div>

		</div>

		<table class="table">
			<thead>
				<tr>
					<th scope="col">{{'common.names.Type' | translate}}</th>
					<th scope="col">{{'common.names.Date' | translate}}</th>
					<th scope="col">{{'common.names.Time' | translate}}</th>
					<th scope="col">{{'common.names.Customer' | translate}}</th>
					<th scope="col">{{'common.names.User' | translate}}</th>
					<th scope="col">{{'common.names.NextCallObjectives' | translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let infieldActivity of infieldActivitiesOrg" (click)="itemTappedType(infieldActivity)">
					<td>{{infieldActivity?.type}}</td>
					<td> {{infieldActivity?.dateTimePlanned | date : "y-MM-d "}}</td>
					<td>{{infieldActivity?.dateTimePlanned | date : " HH:mm "}}</td>
					<td> {{infieldActivity?.contactFirstName}} {{infieldActivity?.contactLastName}}</td>
					<td> {{infieldActivity?.userFirstName}} {{infieldActivity?.userLastName}}</td>
					<td> {{infieldActivity?.nextCallObjective}}</td>
				</tr>
			</tbody>
		</table>
	</ion-content>
