// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.select {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   overflow: hidden;
   font-size: 12px;
   line-height: 1.2;
   letter-spacing: 0.1px;
   //width: 100% !important;
   //max-width: 100% !important; /* if you want to set this style property with "important", use in your component directly, please. Because it broke our styles. */
   width: 100%;
   max-width: 100%;
   justify-content: center;
   text-align: center;
 }
 .col-example {
  padding: 1rem;
  background-color: #33b5e5;
  border: 2px solid #fff;
  }
  .option {
    font-family: SFNSDisplay;
    font-size: 8px;
    line-height: 1.2;
    letter-spacing: 0.1px;
    color: #29235e;
    //width: 100% !important;
    //max-width: 100% !important; /* if you want to set this style property with "important", use in your component directly, please. Because it broke our styles. */
    width: 100%;
    max-width: 100%;
    justify-content: center;
    height: 20px;
    }

@import "../styles/fonts";
@import "../styles/general";
@import "../styles/popup";
