<ion-header #contentHeader class="page-header">
  <ion-navbar>
    <div class="row text-center">
      <div class="col-md-2">
          <ion-item>
            <ion-select #filterType class="select select-picklist-button" [(ngModel)]="typeFilterOptions" [selectOptions]="filterOptions" multiple="false">
              <ion-option value="Draft" (ionSelect)="onChangeStatusTypeHandler('Draft')">{{ 'luncheonmeetings.filterpopup.draft' | translate }}</ion-option>
              <ion-option value="Submitted Offline" (ionSelect)="onChangeStatusTypeHandler('Submitted Offline')">{{ 'luncheonmeetings.filterpopup.submitted_offline' | translate }}</ion-option>
              <ion-option value="Submitted" (ionSelect)="onChangeStatusTypeHandler('Submitted')">{{ 'luncheonmeetings.filterpopup.submitted' | translate }}</ion-option>
              <ion-option value="Awaiting FLM Approval" (ionSelect)="onChangeStatusTypeHandler('Awaiting FLM Approval')">{{ 'luncheonmeetings.filterpopup.awaiting_flm_approval' | translate }}</ion-option>

              <ion-option value="Awaiting NSM Approval" (ionSelect)="onChangeStatusTypeHandler('Awaiting NSM Approval')">{{ 'luncheonmeetings.filterpopup.awaiting_nsm_approval' | translate }}</ion-option>
              <ion-option value="Awaiting Compliance Approval" (ionSelect)="onChangeStatusTypeHandler('Awaiting Compliance Approval')">{{ 'luncheonmeetings.filterpopup.awaiting_compliance_approval' | translate }}</ion-option>
              <ion-option value="Approved" (ionSelect)="onChangeStatusTypeHandler('Approved')">{{ 'luncheonmeetings.filterpopup.approved' | translate }}</ion-option>
              <ion-option value="Rejected" (ionSelect)="onChangeStatusTypeHandler('Rejected')">{{ 'luncheonmeetings.filterpopup.rejected' | translate }}</ion-option>

              <ion-option value="Rejected By FLM" (ionSelect)="onChangeStatusTypeHandler('Rejected By FLM')">{{ 'luncheonmeetings.filterpopup.rejectedby_flm' | translate }}</ion-option>
              <ion-option value="Rejected By NSM'" (ionSelect)="onChangeStatusTypeHandler('Rejected By NSM')">{{ 'luncheonmeetings.filterpopup.rejectedby_nsm' | translate }}</ion-option>
              <ion-option value="Rejected By Compliance" (ionSelect)="onChangeStatusTypeHandler('Rejected By Compliance')">{{ 'luncheonmeetings.filterpopup.rejectedby_compliance' | translate }}</ion-option>
              <ion-option value="Pending Evolution By Compliance Team" (ionSelect)="onChangeStatusTypeHandler('Pending Evolution By Compliance Team')">{{ 'luncheonmeetings.filterpopup.pending_evalutionby_complianceteam' | translate }}</ion-option>
              <ion-option value="Completed" (ionSelect)="onChangeStatusTypeHandler('Completed')">{{ 'luncheonmeetings.filterpopup.completed' | translate }}</ion-option>
            </ion-select>
          </ion-item>
      </div>
      <div class="col-sm-1">

        <button ion-button icon-only (click)="openModal()">

        <ion-icon name="add-circle"></ion-icon>

        </button>
      
         
        </div>
      <div class="col-md-5">
        <div class="title">{{ 'luncheonmeetings.HeaderTitle' | translate}} <span *ngIf="totsCount > 0">{{'(' + lunchonMeetingsCount + ')'}}</span></div>
      </div>
      <div class="col-md-4">
        <ion-searchbar showCancelButton="false" [(ngModel)]="search" (ionBlur)="onSearchHandler($event)" (ionClear)="onClearHandler($event)" (ionCancel)="onClearHandler($event)"></ion-searchbar>
      </div>
    </div>

  </ion-navbar>

</ion-header>

<ion-content #mainContent class="main-content">
  <div class="fixed-content" ion-fixed>
    <lazy-table (queryChange)="onChangeQueryHandler($event)" (swipe)="onSwipeHandler($event)"></lazy-table>
  </div>
</ion-content>