<div class="popup-container">
  <header>
    <h1>{{title}} {{message}}</h1>
  </header>
  <div class="content-container">
    <ion-range [(ngModel)]="statusProgress" pin="true" mode="md" min="0" max="100" step="1"></ion-range>
    <span>{{statusProgress}}%</span>
  </div>
</div>




