page-survey {
   .main-content {
      .fixed-content{
         width: 100%;
      }
   }
   table-header table-header-item,
   table-row .cell {
      &:first-of-type {
         width: 20%;
      }
      &:nth-of-type(2) {
         width: 20%;
         padding-left: 0.1em;
         text-align: center;
      }
      &:nth-of-type(3) {
         width: 20%;
      }
      &:nth-of-type(4) {
         width: 20%;
         text-align: center;
      }
      &:nth-of-type(5) {
         width: 20%;
         text-align: center;
      }
   }
}
