<filter-panel *ngIf="settings.isChinaUser() && !settings.isIndiaUser()" [content]="[mainContent, contentHeader]" (filtersChangeEvent)="onFilterChangeHandler($event)">
  <filter-panel-picklist label="{{'common.names.AccountRecordType'|translate}}"
                         [field]="collection.scheme.fields.recordType"
                         [picklistDatasource]="organizationRecordTypePicklistDatasource">
  </filter-panel-picklist>
  <filter-panel-input [value]="" label="{{'common.names.StateProvince'|translate}}"
                      [field]="collection.scheme.fields.state">
  </filter-panel-input>
  <filter-panel-picklist label="{{'common.names.GlobalPriority'|translate}}"
                         [field]="collection.scheme.fields.globalPriority"
                         [picklistDatasource]="organizationPriorityPicklistDatasource">
  </filter-panel-picklist>
</filter-panel>

<filter-panel *ngIf="!settings.isChinaUser() && !settings.isIndiaUser()" [content]="[mainContent, contentHeader]" (filtersChangeEvent)="onFilterChangeHandler($event)">
  <filter-panel-picklist label="{{'common.names.AccountRecordType'|translate}}"
                         [field]="collection.scheme.fields.recordType"
                         [picklistDatasource]="organizationRecordTypePicklistDatasource">
  </filter-panel-picklist>

  <filter-panel-picklist label="{{'common.names.Subtype'|translate}}"
                         [field]="collection.scheme.fields.subtype"
                         [picklistDatasource]="organizationSubtypePicklistDatasource">
  </filter-panel-picklist>
</filter-panel>


  <ion-header #contentHeader class="page-header without-filter">
    <ion-navbar>
      <div class="row text-center">
        <div class="col-md-8">
          <div class="title">{{ 'organizations.HeaderTitle' | translate}} <span *ngIf="orgCount > 0">{{'(' + orgCount + ')'}}</span></div>
        </div>
        <div class="col-md-4">
          <ion-searchbar showCancelButton="false" [(ngModel)]="search" (ionBlur)="onSearchHandler($event)"
                         (ionClear)="onClearHandler($event)" (ionCancel)="onClearHandler($event)"></ion-searchbar>
        </div>
      </div>
    </ion-navbar>
  </ion-header>

  <ion-content #mainContent class="main-content">
    <div class="fixed-content" ion-fixed>
      <lazy-table (queryChange)="onChangeQueryHandler($event)" (swipe)="onSwipeHandler($event)"></lazy-table>
    </div>
  </ion-content>
