page-organization.ion-page {
  background: white;

  .main-content {
    .fixed-content{
      width: 100%;
    }

    table-header table-header-item,
    table-row .cell {
      &:first-of-type {
        width: 18%;
      }
      &:nth-of-type(2) {
        width: 13%;
      }
      &:nth-of-type(3) {
        width: 13%;
      }
      &:nth-of-type(4) {
        padding-left: 0.1em;
        width: 7%;
      }
      &:nth-of-type(5) {
        width: 10%;
      }
      &:nth-of-type(6) {
        width: 12%;
      }
      &:nth-of-type(7) {
        width: 17%;
      }
      &:last-of-type {
        width: 10%;
        text-decoration: none;
        -webkit-appearance: none;
      }
    }

    table-header table-header-item {
      &:nth-of-type(5) {
        padding-right: 0.9em;
        padding-left: 0.9em;
      }
    }
  }

  filter-panel.open ~ .content{
    lazy-table table-header-item {
      .header-cell {
        font-size: 1em;
      }

      &:nth-of-type(4) .header-cell{
        line-height: 0.9;
      }
    }
  }
}
body.ru page-organization.ion-page {
  filter-panel ~ .content {
    table-header table-header-item {
      &:nth-of-type(4) span {
        line-height: 0.9;
      }
    }
  }

  filter-panel.open ~ .content {
    table-header table-header-item {
      &:nth-of-type(4) span {
        font-size: 0.9em;
      }
    }
  }
}
