filter-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: white;
  transform: translate3d(0,0,1px);
  display: block;
  z-index: 1000;

  &.open {
    width: 30%;

    .content{
      padding: 1em;
    }
  }

  &.open ~ .content{
    left: auto;
    right: 0;
    width: 70%;
  }

  .open-handler {
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -1.5em;
    margin-left: -2em;
    width: 4em;
    height: 4em;
    background: #21b4f3;
    border: none;
    -webkit-border-radius: 0 50% 50% 0;
    border-radius: 0 50% 50% 0;

    .arrow {
      position: absolute;
      left: 1.5em;
      top: 1.2em;
      width: 1.5em;
      height: 1.5em;
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      -webkit-transform: rotate(45deg);
    }
  }

  .content{
    position: relative;
    top: 0;
    right: 0;
    left: 0px;
    bottom: 0;
    padding: 0;
    background: white;

    & > *{
      margin-bottom: 1rem;
    }
    
}
}

