<div class="open-handler" (click)="onTapOpenBtnHandler($event)">
  <div class="arrow"></div>
</div>

<div class="content" #filterContent (changeFilter)="onChangeFilterItemHandler($event)">
  <ng-content></ng-content>
</div>
