page-calendar {
	.custom-event a {
        color: #fff !important;
        font-weight: bold;
        text-decoration: none;
    }
    .datatable-header {
        background: rgba(164, 192, 214,1); 
        padding: 1em 0 0 1em;
     }
     .datatable-header-cell {
        font-size: 1.2em;
        font-weight: bold;
     }
  
     .datatable-body-row {
        padding: 0;
     }
  
     .datatable-row-even {
        background: rgba(240, 240, 240, 1);
     }
  
     .datatable-row-odd {
        background: rgba(255, 255, 255,1);
     }
  
     .datatable-body-cell {
        font-size:1em;
        padding: 1em;
        
        overflow: hidden !important;
      text-overflow: ellipsis !important;
      white-space: normal !important;
      text-align: center !important;
      vertical-align: middle !important;
     }
     
     .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      white-space: normal !important;
      text-align: center !important;
      vertical-align: middle !important;
    }
     .datatable-footer {
        background: rgba(218, 226, 234,1); 
        padding: 0 1em 0 1em;
  
        .pager {
           li {
                padding: 0 1em !important;
  
                a {
                   color: rgba(68, 68, 68, 1);
                   text-decoration: none;
                }
             }
        }
     }

     .modal {
     text-align: center;
     }

     @media screen and (min-width: 768px) { 
     .modal:before {
     display: inline-block;
     vertical-align: middle;
     content: " ";
     height: 100%;
     }
     }

     .modal-dialog {
     display: inline-block;
     text-align: left;
     vertical-align: middle;
     }
     .list-group {
     font-size: 18px;
     line-height: 21px;
     margin-bottom: 20px;
     padding-left: 16px;
     width: 95%;
     margin-top: 20px;
     }
     .list-group-item {
     display: inline-block;
     padding: 8px 4px;
     background-color: none;
     color: #000!important;
     width: 100%;
     font-size: 14px;
     line-height: 20px;
     }

     .drag-active {
        position: relative;
        z-index: 1;
        pointer-events: none;
      }
      .drag-over {
        background-color: #eee;
      }

      .checkbox-md{
      @extend.checkbox-ios;
      }

      table-header table-header-item,
      table-row .cell {
        &:first-of-type{
          width: 100%;
        }
      }




  .cell {
   position: relative;
   transform: translate3d(1px, 0, 0);
   height: 50px;
   align-items: center;
   display: -webkit-box;
   -webkit-box-pack: center;
   -webkit-box-orient: vertical;
   text-overflow: ellipsis;
   -webkit-line-clamp: 2;
   overflow: hidden;
   word-break: break-word;
   color: #87878c;
   text-align: left;
   background: url('../assets/imgs/line.png') no-repeat;
   background-position: right center;
   flex-grow: 1;
   width: 1%;

   &.hyperlink {
     font: 95% 'Roboto';
     font-weight: 400;
     color: #21b4f3;
   }

   span {
     display: block;
     width: 100%;
     padding: 0 0.5em;
     overflow: hidden;
   }
 }
}



