page-reference-edit-card {
	.psevdo-select-button {
    position: relative;
		background: white;
		-webkit-appearance: none;
		resize: none;
		border: 1px solid #21b4f3;
		border-radius: 5px;
		padding: 8px 35px 6px 10px;
		width: 90%;
		box-sizing: border-box;
		min-height: 1em;
		font: inherit;
		font-weight: 400;
		line-height: 1.2;
		color: #21b4f3;
		display: block;
    -webkit-box-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &:after{
      position: absolute;
      right: 10px;
      top: 50%;
      content: '';
      margin-top: -8px;
      display: block;
      width: 10px;
      height: 10px;
      border-right: 2px solid #21b4f3;
      border-bottom: 2px solid #21b4f3;
      -webkit-transform: rotate(45deg);
    }
	}
	.select-picklist-button {
		max-width: 90%;
		min-height: 2.2em;
		font-size: 1em;
		line-height: 1.2;
		display: flex;
		align-items: center;

		.select-text{
			max-width: initial;
			width: auto;
		}
	}

	.content-page-detail{
		.check-box {
			pointer-events: auto;
		}
	}
}
