<ion-header class="page-header">
  <ion-navbar #navbar>
    <div class="row text-center">
      <div class="col-md-10">
        <div class="title">{{ 'common.names.Workplace' | translate }}</div>
      </div>
      <div class="col-md-2">
        <button class="ctrl-btn" (click)="onTapSaveBtnHandler()">{{ 'common.buttons.SaveBtn' | translate }}</button>
      </div>
    </div>
  </ion-navbar>
</ion-header>


<ion-content class="content-page-detail">
  <div class="wrapper">
    <div class="page-row">
      <div class="page-col">
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.Customer' | translate}}</div>
          <div class="info-cell value" (tap)="onTapCustomerBtnHandler()">
            <div class="psevdo-select-button">
              <span [innerHtml]="contact.name"></span>
              <span *ngIf="!contact.name">{{ 'common.defaultSelectValue' | translate }}</span>
            </div>
          </div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.Type' | translate}}</div>
          <div class="info-cell value" [innerHtml]="contact.recordType"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.Specialty' | translate}}</div>
          <div class="info-cell value" [innerHtml]="reference.specialty"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.Status' | translate}}</div>
          <div class="info-cell value">
            <ion-select #statusSelect placeholder="{{ 'common.defaultSelectValue' | translate }}"
                        class="select select-picklist-button" [(ngModel)]="reference.status"
                        [selectOptions]="filterOptions">
              <ion-option *ngFor="let status of statuses" [value]="status.id"
                          (ionSelect)="onChangeStatusHandler(status)" multiple="false">{{ status.description }}
              </ion-option>
            </ion-select>
          </div>
        </div>
      </div>
      <div class="page-col">
        <div class="info-row organization-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.Organization' | translate}}</div>
          <div class="info-cell value" (tap)="onTapOrganizationBtnHandler()">
            <div class="psevdo-select-button">
              <span [innerHtml]="reference.organizationName"></span>
              <span *ngIf="!reference.organizationName">{{ 'common.defaultSelectValue' | translate }}</span>
            </div>
          </div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.Type' | translate}}</div>
          <div class="info-cell value" [innerHtml]="organization.recordType"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.WorkplaceAddress' | translate}}</div>
          <div class="info-cell value" [innerHtml]="organization.fullAddress()"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.IsPrimary' | translate}}</div>
          <div class="info-cell value">
            <input type="checkbox" class="check-box" [(ngModel)]="reference.isPrimary">
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
