<ion-header>
	<ion-navbar>
		<ion-grid>
			<ion-row>
				<ion-col>
					<ion-title class="setHeader" text-center>{{'common.names.Appointment' | translate}}</ion-title>
				</ion-col>
				<button ion-button (click)="startCall()">{{'common.buttons.Convert' | translate}}</button>
				<button ion-button color="danger" (click)="deleteAppointment()">{{'common.buttons.DeleteBtn' | translate}}</button>
				<button ion-button (click)="validateInputData()">{{'common.buttons.SaveBtn' | translate}}</button>
			</ion-row>
		</ion-grid>
	</ion-navbar>
</ion-header>


<ion-content padding>
	<ion-grid  >
		<ion-row class="info-row">
			<ion-col>
				<h5>{{'card.GeneralInfoFields.Customer' | translate}}</h5>    
			</ion-col>
			<ion-col>
				<a href="#" (click)="navigateToContactPage()">{{callReport?.contactFirstName}}  {{callReport?.contactLastName}}</a>
			</ion-col>
			<ion-col>
				<h5>{{'common.names.BUSpecialty' | translate}}</h5> 
			</ion-col>
			<ion-col>
				{{callReport?.contactSpecialty}}
			</ion-col>
		</ion-row>
		<ion-row class="info-row">
			<ion-col>
				<h5>{{'card.GeneralInfoFields.Organization' | translate}}</h5>
			</ion-col>
			<ion-col>
				<a href="#" (click)="navigateToOrganisationPage()">{{callReport?.organizationName}}</a>

			</ion-col>
			<ion-col>
				<h5>{{'card.GeneralInfoFields.User' | translate}}</h5> 
			</ion-col>
			<ion-col>
				{{loggedInUserDetails?.name}}
			</ion-col>
		</ion-row>
		<ion-row class="info-row">
			<ion-col>
				<h5>{{'common.names.CoachingVisit' | translate}}</h5>

			</ion-col>
			<ion-col  class="col3">
				<!-- <span><pre>{{coachingPicklistOptions | json}}</pre></span> -->
				<ion-item>
					<ion-select [(ngModel)]='callReport.coachingVisit' interface="popover" class="selector"  (ionChange)="getCoachingBasedUsers(callReport.coachingVisit)" placeholder="Select One" id="coachingVisit">
						<ion-option *ngFor="let coachingVisit of coachingPicklistOptions" [value]="coachingVisit.id">{{coachingVisit?.description}}
						</ion-option>
					</ion-select>
				</ion-item>
			</ion-col>
			<ion-col>
				<h5>{{'card.GeneralInfoFields.DateTimePlanned' | translate}}</h5> 
			</ion-col>
			<ion-col>
				<ion-datetime [(ngModel)]='callReport.dateTimePlanned' [pickerOptions]="{ cssClass: 'datetime-picker'}"
				[max]="maxDate()"
				[min]="minDate()"
				cancelText="{{'common.buttons.CancelBtn' | translate}}"
				doneText="{{'common.buttons.SaveBtn' | translate}}"
				pickerFormat="DDD MMM DD YYYY HH mm"
				displayFormat="DD.MM.YYYY \n HH:mm">
			</ion-datetime>
		</ion-col>
	</ion-row>
	<ion-row class="info-row"> 
		<ion-col col-3>
			<h5>{{'common.names.CoachingVisitUser' | translate}}</h5>
		</ion-col>
		<ion-col col-3 (click)="onTapUserHandler()">
			<ion-item class="psevdo-text-area">
					<span [innerHtml]="selectedUserSingleStringList"></span>
					<span *ngIf="!selectedUserSingleStringList.length">{{ 'common.names.User' | translate }}</span>
				<!-- <ion-select [(ngModel)]='callReport.coachingVisitUser' class="selector" placeholder="{{'card.GeneralInfoFields.CoachingVisitUserPlaceholder' | translate}}" id="jointVisitParticipants">
					<ion-option *ngFor="let coachingVisitUser of CoachingVisitUsers" [value]="coachingVisitUser.id" class="option" text-wrap>{{coachingVisitUser.name}}</ion-option>
				</ion-select> -->
			</ion-item>
		</ion-col>
		<ion-col col-3>
			<h5>{{'card.GeneralInfoFields.Duration' | translate}}</h5> 
		</ion-col>
		<ion-col col-3 >
			<ion-item>
				<ion-select class="select" interface="popover" [(ngModel)]="callReport.duration" multiple="false">
					<ion-option *ngFor="let durationPickList of durationPickListOptions">{{durationPickList}}
					</ion-option>
				</ion-select>
			</ion-item>
		</ion-col>
	</ion-row>
	<ion-row class="info-row">
		<ion-col>
			<h5>{{'common.names.JointVisitParticipants' | translate}}</h5>

		</ion-col>
		<ion-col (click)="onTapMultiUserHandler()">
				<ion-item class="psevdo-text-area">
						<span [innerHtml]="selectedUserMultiStringList"></span>
						<span *ngIf="!selectedUserMultiStringList">{{ 'common.names.User' | translate }}</span>
			<!-- <ion-item>
				<ionic-selectable item-content [(ngModel)]="jointVisitParticipants" [isMultiple]="true" itemValueField="id" itemTextField="name" [items]="JointVisitParticipantUsers" [canSearch]="true">
				</ionic-selectable> -->
			</ion-item>
		</ion-col>
		<ion-col>

		</ion-col>
		<ion-col>

		</ion-col>
	</ion-row>
</ion-grid>


<ion-grid>

	<ion-row>
		<ion-col class="col-example">
			<h4>{{'card.GeneralInfoFields.CallObjective' | translate}}</h4>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			<ion-item>
				<ion-textarea [(ngModel)]='callReport.callObjective' rows="6" cols="20" placeholder="{{'commentView.AnyComments' | translate}}"></ion-textarea>
			</ion-item>
		</ion-col>
	</ion-row>

</ion-grid>

</ion-content>