.presentation-list-item{
  display: flex;
  align-items: center;
  height: 5em;
  border-bottom: solid 1px #ccc;
  padding: 0.5em;

  .icon{
    &.empty{
      background-image: url('../assets/media/icon.png');
    }

    &.downloaded{
      background-image: url('../assets/media/done-icon.png');
      transform: scale(0.5);
    }

    display: flex;
    align-items: center;
    justify-content: center;
    width: 4em;
    height: 4em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }

  .info{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    margin-right: 0.5em;
    overflow: hidden;

    .name{
      font-size: 1.4em;
      font-weight: bold;
      color: #333;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
    .version{
      font-size: 1em;
      font-weight: normal;
      color: gray;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
  }



  .download-progress{
    margin-right: 0.5em;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .progress-bar-wrap{
      flex: 1;
      display: flex;
      align-items: center;
      position: relative;
      height: 10px;
      overflow: hidden;
      border-top: 1px solid #c2c2c2;
      background-color: #f7f7f7;
      border-radius: 5px;

      .custom-progress-bar{
        width: 0;
        height: 100%;
        border-radius: 5px;
        background-color: #21b4f3;
        -webkit-transition: 100ms width linear;
      }
    }
    .progress-message{
      color: gray;
      margin-left: 8px;
      min-width: 20%;
    }
  }

  .buttons{
    button{
      height: 2.2em;
      font-size: 1em;
    }
  }

  ion-range.range {
    padding: 0;
    pointer-events: none;

    .range-bar{
      background: #f7f7f7;
      height: 9px;
      top: 16px;
    }

    .range-bar.range-bar-active{
      background: #23b4f3;
    }

    .range-knob-handle{
      display: none;
    }
  }
}
