<div class="presentation-list-item" (click)="onClickOpen($event)">

  <div class="icon empty" *ngIf="!icon"></div>

  <div class="icon presentation" *ngIf="icon" [ngStyle]="{'background-image': 'url(' + icon + ')'}"></div>

  <div class="info">
    <div class="name">
      {{presentation.name}}
    </div>

    <div class="version" *ngIf="presentation.currentVersion">
      {{'Media.Version' | translate}} {{presentation.currentVersion}} {{'Media.IsDownloaded' | translate}}
    </div>
  </div>

  <div class="download-progress" *ngIf="loader">
    <div class="progress-bar-wrap">
      <div class="custom-progress-bar" [ngStyle]="{'width': (loader.progress | async)  + '%'}"></div>
    </div>
    <div class="progress-message">
      {{loader.loadedSize | async  | number : '1.2-2'}}Mb {{'Media.Of' | translate}} {{loader.fileSize | async | number : '1.2-2'}}Mb</div>
  </div>

  <div class="buttons">
    <button ion-button color="myforce-primary" (click)="onClickDownload($event)" *ngIf="isDownloadAvailable && !loader">
      {{'common.buttons.Download' | translate}}
    </button>
    <button ion-button color="myforce-primary" (click)="onClickUpdate($event)" *ngIf="isUpdateAvailable && !loader">
      {{'common.buttons.Update' | translate}}
    </button>
    <button ion-button color="myforce-danger" (click)="onClickCancel($event)" *ngIf="loader">
      {{'common.buttons.Cancel' | translate}}
    </button>

    <div class="icon downloaded" *ngIf="!isDownloadAvailable && !isUpdateAvailable"></div>
  </div>
</div>
