page-data-change-requests {
  background: white;

  .page-header .header-buttons {
    display: flex;
    align-items: center;

    .ctrl-btn{
      height: 2.5em;
    }
  }

  .main-content {
    .fixed-content{
      width: 100%;
    }

    table-header table-header-item,
    table-row .cell {
      &:first-of-type {
        width: 12%;
        text-align: center;
      }
      &:nth-of-type(2) {
        width: 13%;
      }
      &:nth-of-type(3) {
        width: 13%;
      }
      &:nth-of-type(4) {
        width: 20%;
      }
      &:nth-of-type(5) {
        width: 12%;
      }
      &:nth-of-type(6) {
        width: 15%;
      }
      &:nth-of-type(7) {
        width: 15%;
      }
    }
  }
}
