<filter-panel [content]="[mainContent, contentHeader]" (filtersChangeEvent)="onFilterChangeHandler($event)">
  <filter-panel-input [value]="" label="{{'common.names.Contact'|translate}}"
                      [field]="collection.scheme.fields.dcrContactLastName">
  </filter-panel-input>

  <filter-panel-input [value]="" label="{{'common.names.Organization'|translate}}"
                      [field]="collection.scheme.fields.dcrOrganizationName">
  </filter-panel-input>

  <filter-panel-date-range label="{{'common.names.DateFrom'|translate}}"
                           [field]="collection.scheme.fields.dcrDateOfRequest"
                           [condition]="Query.GRE">
  </filter-panel-date-range>
  <filter-panel-date-range label="{{'common.names.DateTo'|translate}}"
                           [field]="collection.scheme.fields.dcrDateOfRequest"
                           [condition]="Query.LRE">
  </filter-panel-date-range>

  <filter-panel-picklist label="{{'common.names.DCRStatus'|translate}}"
                         [field]="collection.scheme.fields.dcrStatus"
                         [picklistDatasource]="dcrStatusPicklistDatasource">
  </filter-panel-picklist>

  <filter-panel-picklist label="{{'common.names.DCRType'|translate}}"
                         [field]="collection.scheme.fields.dcrType"
                         [picklistDatasource]="dcrTypePicklistDatasource">
  </filter-panel-picklist>

</filter-panel>


<ion-header #contentHeader class="page-header without-filter">
  <ion-navbar>
    <div class="row text-center">
      <div class="col-md-6">
        <div class="title">{{ 'DCR.ListHeaderTitle' | translate}}</div>
      </div>
      <div class="col-md-4">
        <ion-searchbar showCancelButton="false" [(ngModel)]="search" (ionBlur)="onSearchHandler($event)"
                       (ionClear)="onClearHandler($event)" (ionCancel)="onClearHandler($event)"></ion-searchbar>
      </div>
      <div class="col-md-2 header-buttons">
        <button class="ctrl-btn" (click)="onTapCreateBtnHandler()">{{ 'common.buttons.Create' | translate }}</button>
      </div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content #mainContent class="main-content">
  <div class="fixed-content" ion-fixed>
    <lazy-table (swipe)="onSwipeHandler($event)"></lazy-table>
  </div>
</ion-content>
