filter-panel-input {
  width: 100%;
  font-size: 1.2em;
  display: block;

  .item {
    padding: 0;
    .item-inner{
      padding: 0;
      border: none !important;

      .input-wrapper {
        display: block;

        input {
          margin: 0;
          padding: 3px 10px;
          width: 100%;
          height: 2.4em;
          min-height: 30px;
          border: 1px solid #b7b7bb;
          border-radius: 5px;
          font: 95% 'Roboto';
          font-weight: 400;
          color: #87878c;
          background: #fff;
          box-sizing: border-box;
          display: -webkit-box;
          -webkit-box-align: center;
        }
      }
    }
  }
}
