<ion-header class="page-header">
  <ion-navbar #navbar>
    <div class="row text-center">
      <div class="col-md-10">
        <div class="title">{{ 'card.DCR.Title' | translate }}</div>
      </div>
      <div class="col-md-2">
        <button class="ctrl-btn" *ngIf="isDeleteBtnEnable" (click)="onTapDeleteBtnHandler()">{{ 'common.buttons.DeleteBtn' | translate }}</button>
      </div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content class="content-page-detail">
  <div class="wrapper">

    <div class="page-row">
      <div class="page-col">
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrStatus' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrStatus"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrType' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrType"></div>
        </div>
      </div>
      <div class="page-col">
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrDateOfRequest' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dateOfRequestStr()"></div>
        </div>
      </div>
    </div>


    <h2 class="blue-header">{{'card.GeneralInfoFields.Organization' | translate}}</h2>


    <div class="page-row">
      <div class="page-col">
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrOrganizationName' | translate}}</div>
          <div class="info-cell value hyperlink" (tap)="onTapOrganizationLinkHandler()" [innerHtml]="organization.nameAndAddress()"></div>
        </div>
      </div>
      <div class="page-col">
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrOrganizationRecordType' | translate}}</div>
          <div class="info-cell value" [innerHtml]="organization.recordType"></div>
        </div>
      </div>
    </div>


    <h2 class="blue-header">{{'card.GeneralInfoFields.Customer' | translate}}</h2>

    <div class="page-row">
      <div class="page-col">
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrContactFirstName' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrContactFirstName"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrContactLastName' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrContactLastName"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrContactSpecialty' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrContactSpecialty"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrContactCJobTitle' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrContactCJobTitle"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrContactPersonType' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrContactPersonType"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrContactGender' | translate}}</div>
          <div class="info-cell value" [innerHtml]="genderPicklistValues[dcr.dcrContactGender]"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrContactDescription' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrContactDescription"></div>
        </div>

        <!-- China start -->

        <div class="info-row" *ngIf="isChinaUser">
          <div class="info-cell label">{{'card.DCR.DcrContactCNAcademicTitle' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrContactCNAcademicTitle"></div>
        </div>
        <div class="info-row" *ngIf="isChinaUser">
          <div class="info-cell label">{{'card.DCR.DcrContactCNAdministrative' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrContactCNAdministrative"></div>
        </div>
        <div class="info-row" *ngIf="isChinaUser">
          <div class="info-cell label">{{'card.DCR.DcrContactCNDescriptionIntroduction' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrContactCNDescriptionIntroduction"></div>
        </div>
        <div class="info-row" *ngIf="isChinaUser">
          <div class="info-cell label">{{'card.DCR.DcrContactCNHcpStatus' | translate}}</div>
          <div class="info-cell value" [innerHtml]="hcpStatusPicklistValues[dcr.dcrContactCNHcpStatus]"></div>
        </div>
        <div class="info-row" *ngIf="isChinaUser">
          <div class="info-cell label">{{'card.DCR.DcrContactCNHcpType' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrContactCNHcpType"></div>
        </div>
        <div class="info-row" *ngIf="isChinaUser">
          <div class="info-cell label">{{'card.DCR.DcrContactCNKOL' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrContactCNKOL"></div>
        </div>
        <div class="info-row" *ngIf="isChinaUser">
          <div class="info-cell label">{{'card.DCR.DcrContactCNKolProduct1' | translate}}</div>
          <div class="info-cell value" [innerHtml]="productValues[dcr.dcrContactCNKolProduct1]"></div>
        </div>
        <div class="info-row" *ngIf="isChinaUser">
          <div class="info-cell label">{{'card.DCR.DcrContactCNKolProduct2' | translate}}</div>
          <div class="info-cell value" [innerHtml]="productValues[dcr.dcrContactCNKolProduct2]"></div>
        </div>
        <div class="info-row" *ngIf="isChinaUser">
          <div class="info-cell label">{{'card.DCR.DcrContactCNNamedDepartment' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrContactCNNamedDepartment"></div>
        </div>

        <!-- China end -->

      </div>
      <div class="page-col">

        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrContactEmail' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrContactEmail"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrContactHomePhone' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrContactHomePhone"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrContactMobilePhone' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrContactMobilePhone"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrContactKOL' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrContactKOL"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrContactLegalMedicalLicence' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrContactLegalMedicalLicence"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrContactYearOfGraduation' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrContactYearOfGraduation"></div>
        </div>

        <!-- China start -->


        <div class="info-row" *ngIf="isChinaUser">
          <div class="info-cell label">{{'card.DCR.DcrContactCNProfessionalTitle' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrContactCNProfessionalTitle"></div>
        </div>
        <div class="info-row" *ngIf="isChinaUser">
          <div class="info-cell label">{{'card.DCR.DcrContactCNSocialOrgAndTitle' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrContactCNSocialOrgAndTitle"></div>
        </div>
        <div class="info-row" *ngIf="isChinaUser">
          <div class="info-cell label">{{'card.DCR.DcrContactCNSpeaker' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrContactCNSpeaker"></div>
        </div>
        <div class="info-row" *ngIf="isChinaUser">
          <div class="info-cell label">{{'card.DCR.DcrContactCNSpeakerProduct1' | translate}}</div>
          <div class="info-cell value" [innerHtml]="productValues[dcr.dcrContactCNSpeakerProduct1]"></div>
        </div>
        <div class="info-row" *ngIf="isChinaUser">
          <div class="info-cell label">{{'card.DCR.DcrContactCNSpeakerProduct2' | translate}}</div>
          <div class="info-cell value" [innerHtml]="productValues[dcr.dcrContactCNSpeakerProduct2]"></div>
        </div>
        <div class="info-row" *ngIf="isChinaUser">
          <div class="info-cell label">{{'card.DCR.DcrContactCNSpecialtyDescription' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrContactCNSpecialtyDescription"></div>
        </div>
        <div class="info-row" *ngIf="isChinaUser">
          <div class="info-cell label">{{'card.DCR.DcrContactCNStandardDepartment' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrContactCNStandardDepartment"></div>
        </div>
        <div class="info-row" *ngIf="isChinaUser">
          <div class="info-cell label">{{'card.DCR.DcrContactCNStatusDescription' | translate}}</div>
          <div class="info-cell value" [innerHtml]="statusDescriptionPicklistValues[dcr.dcrContactCNStatusDescription]"></div>
        </div>
        <div class="info-row" *ngIf="isChinaUser">
          <div class="info-cell label">{{'card.DCR.DcrContactCNWorkingTime' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrContactCNWorkingTime"></div>
        </div>

        <!-- China end -->

      </div>
    </div>
  </div>
</ion-content>
