page-salesplanning.ion-page {
  background: white;

  .main-content {
    .fixed-content{
      width: 100%;
    }

    table-header-item .header-cell{
      line-height: 0.9;
    }


    table-header table-header-item,
    table-row .cell {
      &:first-of-type {
        width: 20%;
        padding-left: 0.1em;
        text-align: center;
      }
      &:nth-of-type(2) {
        width: 20%;
        padding-left: 0.1em;
        text-align: center;
      }
      &:nth-of-type(3) {
        width: 20%;
        padding-left: 0.1em;
        text-align: center;
      }
      &:nth-of-type(4) {
        width: 20%;
        padding-left: 0.1em;
        text-align: center;
      }
      &:nth-of-type(5) {
        width: 20%;
        padding-left: 0.1em;
        text-align: center;
      }
    }

  }
  .ion-row {
    background: #f8f8f8;
  }
}

body.ru page-contact.ion-page filter-panel.open ~ .content {
  table-header table-header-item {
    &:nth-of-type(7) span {
      font-size: 0.8em;
    }
    &:nth-of-type(4) span {
      font-size: 0.85em;
    }
  }
}