<ion-header #contentHeader class="page-header without-filter">
    <ion-navbar>
      <!-- <div class="row text-center">
          <div class="col-sm-1">
              <button ion-button icon-only (click)="onTapAddBtnHandler()">
                <ion-icon name="add-circle"></ion-icon>
              </button>
            </div>
        <div class="col-md-7">
          <div class="title">{{ 'common.SalesPlanning.title' | translate}}<span *ngIf="salesPlanCount > 0">{{'(' + salesPlanCount + ')'}}</span></div>
        </div>
        <div class="col-md-4">
         <ion-searchbar showCancelButton="false" [(ngModel)]="search" (ionBlur)="onSearchHandler($event)"
         (ionClear)="onClearHandler($event)" (ionCancel)="onClearHandler($event)"></ion-searchbar>
       </div>
      </div> -->
<ion-grid>
  <ion-row>
    <ion-col>
      <button ion-button icon-only (click)="onTapAddBtnHandler()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-col>
    <ion-col>
      <div class="title">{{ 'common.SalesPlanning.title' | translate}}<span *ngIf="salesPlanCount > 0">{{'(' + salesPlanCount + ')'}}</span></div>
    </ion-col>
    <ion-col>
      <ion-searchbar showCancelButton="false" [(ngModel)]="search" (ionBlur)="onSearchHandler($event)"
      (ionClear)="onClearHandler($event)" (ionCancel)="onClearHandler($event)"></ion-searchbar>
    </ion-col>
  </ion-row>
</ion-grid>
    </ion-navbar>

  </ion-header>

  <ion-content #mainContent class="main-content">
    <div class="fixed-content" ion-fixed>
      <lazy-table (queryChange)="onChangeQueryHandler($event)" (swipe)="onSwipeHandler($event)"></lazy-table>
    </div>
  </ion-content>