page-salesplanmodel {
    .saveButton{
        background: #21b4f3;;
        width: 100px;
        text-align: center;
    }
    .padding-0{
        padding-left: 0;
    }
    .itemDesign{
        position: absolute;  right: 0px;width: 180px;
    }
    .inputDesign{
        border: 1px solid gray;
        border-radius: 10px;
    }
    span{
        color: white;
    }
    .popover-ios .popover-content {
        border-radius: 10px;
        /* width: 350px; */
        min-width: 0;
        min-height: 0;
        max-height: 90%;
        color: #000;
        background: #fff;
        position: absolute;
        right: 100px;
    }
    
}
