
<ion-header>
    <ion-navbar>
      <ion-title>Sales Planning</ion-title>
      <ion-buttons end (click)="saveData()" class="saveButton" style="text-align: center;">
          <button ion-button icon-only>
            <span>Save</span>
          </button>
        </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-row>
              <ion-col>
                <ion-item no-lines class="padding-0">
                     First Name*
                </ion-item>
               
              </ion-col>
              <ion-col>
                  <ion-item no-lines class="itemDesign">
                      <ion-input type="text" placeholder="Doctor First Name" class="inputDesign"></ion-input>
                  </ion-item>
               
              </ion-col>
              <ion-col>
                <ion-item no-lines style="padding-left: 0;">
                     Last Name*
                </ion-item>
            </ion-col>
            <ion-col>
              <ion-item no-lines class="itemDesign"> 
                  <ion-input type="text" placeholder="Doctor Last Name" class="inputDesign"></ion-input>
              </ion-item>
               
            </ion-col>
            </ion-row>
      </ion-col>
   
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
          
              <ion-list no-lines>
                <ion-item style="border: 1px solid gray;
                border-radius: 10px;">
                    <ion-label>Select Product</ion-label>
                    <ion-select [(ngModel)]="product">
                      <ion-option value="nes">NES</ion-option>
                      <ion-option value="n64">Nintendo64</ion-option>
                      <ion-option value="ps">PlayStation</ion-option>
                      <ion-option value="genesis">Sega Genesis</ion-option>
                      <ion-option value="saturn">Sega Saturn</ion-option>
                      <ion-option value="snes">SNES</ion-option>
                    </ion-select>
                  </ion-item>
                </ion-list>
                
          
      </ion-col>
      <ion-col>
          <ion-item no-lines style="padding: 0;"> 
              <ion-input type="text" placeholder="Quantity" class="inputDesign"></ion-input>
          </ion-item>
      </ion-col>
      <ion-col>
          <ion-item no-lines style="padding: 0;"> 
              <ion-input type="text" placeholder="Total Price" class="inputDesign"></ion-input>
          </ion-item>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: -22px;position:relative;">
        <ion-col>
            <ion-list no-lines>
              <ion-item style="border: 1px solid gray;
              border-radius: 10px;">
                  <ion-label>Select Product</ion-label>
                  <ion-select [(ngModel)]="product">
                    <ion-option value="nes">NES</ion-option>
                    <ion-option value="n64">Nintendo64</ion-option>
                    <ion-option value="ps">PlayStation</ion-option>
                    <ion-option value="genesis">Sega Genesis</ion-option>
                    <ion-option value="saturn">Sega Saturn</ion-option>
                    <ion-option value="snes">SNES</ion-option>
                  </ion-select>
                </ion-item>
              </ion-list>
        </ion-col>
        <ion-col>
            <ion-item no-lines style="padding: 0;"> 
                <ion-input type="text" placeholder="Quantity" class="inputDesign"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col>
            <ion-item no-lines style="padding: 0;"> 
                <ion-input type="text" placeholder="Total Price" class="inputDesign"></ion-input>
            </ion-item>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: -22px;position:relative;">
          <ion-col>
              <ion-list no-lines>
                <ion-item style="border: 1px solid gray;
                border-radius: 10px;">
                    <ion-label>Select Product</ion-label>
                    <ion-select [(ngModel)]="product">
                      <ion-option value="nes">NES</ion-option>
                      <ion-option value="n64">Nintendo64</ion-option>
                      <ion-option value="ps">PlayStation</ion-option>
                      <ion-option value="genesis">Sega Genesis</ion-option>
                      <ion-option value="saturn">Sega Saturn</ion-option>
                      <ion-option value="snes">SNES</ion-option>
                    </ion-select>
                  </ion-item>
                </ion-list>
          </ion-col>
          <ion-col>
              <ion-item no-lines style="padding: 0;"> 
                  <ion-input type="text" placeholder="Quantity" class="inputDesign"></ion-input>
              </ion-item>
          </ion-col>
          <ion-col>
              <ion-item no-lines style="padding: 0;"> 
                  <ion-input type="text" placeholder="Total Price" class="inputDesign"></ion-input>
              </ion-item>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: -22px;position:relative;">
          <ion-col>
              <ion-list no-lines>
                <ion-item style="border: 1px solid gray;
                border-radius: 10px;">
                    <ion-label>Select Product</ion-label>
                    <ion-select [(ngModel)]="product">
                      <ion-option value="nes">NES</ion-option>
                      <ion-option value="n64">Nintendo64</ion-option>
                      <ion-option value="ps">PlayStation</ion-option>
                      <ion-option value="genesis">Sega Genesis</ion-option>
                      <ion-option value="saturn">Sega Saturn</ion-option>
                      <ion-option value="snes">SNES</ion-option>
                    </ion-select>
                  </ion-item>
                </ion-list>
          </ion-col>
          <ion-col>
              <ion-item no-lines style="padding: 0;"> 
                  <ion-input type="text" placeholder="Quantity" class="inputDesign"></ion-input>
              </ion-item>
          </ion-col>
          <ion-col>
              <ion-item no-lines style="padding: 0;"> 
                  <ion-input type="text" placeholder="Total Price" class="inputDesign"></ion-input>
              </ion-item>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: -22px;position:relative;">
          <ion-col>
              <ion-list no-lines>
                  <ion-item style="border: 1px solid gray;
                  border-radius: 10px;">
                    <ion-label>Select Product</ion-label>
                    <ion-select [(ngModel)]="product">
                      <ion-option value="nes">NES</ion-option>
                      <ion-option value="n64">Nintendo64</ion-option>
                      <ion-option value="ps">PlayStation</ion-option>
                      <ion-option value="genesis">Sega Genesis</ion-option>
                      <ion-option value="saturn">Sega Saturn</ion-option>
                      <ion-option value="snes">SNES</ion-option>
                    </ion-select>
                  </ion-item>
                </ion-list>
          </ion-col>
          <ion-col>
              <ion-item no-lines style="padding: 0;"> 
                  <ion-input type="text" placeholder="Quantity" class="inputDesign"></ion-input>
              </ion-item>
          </ion-col>
          <ion-col>
              <ion-item no-lines style="padding: 0;"> 
                  <ion-input type="text" placeholder="Total Price" class="inputDesign"></ion-input>
              </ion-item>
          </ion-col>
        </ion-row>
  </ion-grid>
  </ion-content>
  
