table-body {
  display: block;
  width: 100%;
  height: calc(100% - 3.8em);

  .scroller.vertical.selfScroll,
  .scroller.vertical {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  .scroll-content {
    width: 100%;
  }
}







