<virtual-scroller [checkResizeInterval]="2000"
                  [scrollAnimationTime]="0"
                  [stripedTable]="true"
                  [horizontal]="false"
                  [bufferAmount]="2"
                  class="scroller"
                  #scroll
                  [items]="records"
                  (vsEnd)="doInfinite($event)">
  <table-row *ngFor="let record of scroll.viewPortItems;let i = index" [record]="record" [headerItems]="headerItems" (click)="rowHandler && rowHandler($event, record)"></table-row>
</virtual-scroller>

