.popup.start-call-popup{
  .alert-head{
    display: none;
  }
  .alert-radio-group{
    .alert-radio-icon{
      position: relative;
    }
    .alert-radio-icon::after{
      position: absolute;
      top: 0;
      right: 0;
      content: '';
      width: 1em;
      height: 1em;
      border-top: 2px solid #21b4f3;
      border-right: 2px solid #21b4f3;
      -webkit-transform: rotate(45deg) translateX(-50%);
    }
    .alert-radio-inner{
      display: none;
    }
  }
}
