<!--
  Generated template for the PowerscorecardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<filter-panel *ngIf="settings.isIndiaUser()" [content]="[mainContent, contentHeader]" (filtersChangeEvent)="onFilterChangeHandler($event)">


  <filter-panel-picklist label="{{'common.names.Month'|translate}}"
                         [field]="collection.scheme.fields.month"
                         [picklistDatasource]="poweScorecardMonthPicklisttDatasource">
  </filter-panel-picklist>

  <filter-panel-picklist label="{{'common.names.Year'|translate}}"
                         [field]="collection.scheme.fields.year"
                         [picklistDatasource]="poweScorecardYearPicklisttDatasource">
  </filter-panel-picklist>

  <filter-panel-picklist label="{{'common.names.Designation'|translate}}"
                         [field]="collection.scheme.fields.designation"
                         [picklistDatasource]="poweScorecardDesigPicklisttDatasource">
</filter-panel-picklist>

</filter-panel>
<!-- <ion-header #contentHeader class="page-header without-filter">
  <ion-navbar>
    <ion-title>Power Scorecard</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-header #contentHeader class="page-header without-filter" >
  <ion-navbar>
      <div class="row text-center">
          <div class="col-md-8">
            <div class="title">{{'common.names.PowerScorecard' | translate}} <span *ngIf="powerScoreCardCount > 0">{{'(' + powerScoreCardCount + ')'}}</span></div>
          </div>
          <div class="col-md-4">
            <ion-searchbar showCancelButton="false" [(ngModel)]="search" (ionBlur)="onSearchHandler($event)" (ionClear)="onClearHandler($event)" (ionCancel)="onClearHandler($event)"></ion-searchbar>
          </div>
        </div>
  </ion-navbar>
</ion-header>

<ion-content #mainContent class="main-content">
  <div class="fixed-content" ion-fixed>
    <lazy-table (queryChange)="onChangeQueryHandler($event)" (swipe)="onSwipeHandler($event)"></lazy-table>
  </div>
</ion-content>
