page-powerscorecard {
    background: white;

    .main-content {
      .fixed-content{
        width: 100%;
      }
  
      table-header-item .header-cell{
        line-height: 0.9;
      }
  
      &.china table-header table-header-item,
      &.china table-row .cell {
        &:first-of-type{
          width: 25%;
        }
        &:nth-of-type(2){
          width: 8%;
          padding-left: 0.1em;
        }
        &:nth-of-type(3) {
          width: 13%;
        }
        &:nth-of-type(4) {
          width: 13%;
        }
        &:nth-of-type(5) {
          width: 28%;
        }
        &:nth-of-type(6){
          padding: 0;
          width: 6.5%;
        }
        &:nth-of-type(7) {
          padding: 0;
          width: 6.5%;
        }
      }
  
      table-header table-header-item,
      table-row .cell {
        &:first-of-type {
          width: 25%;
        }
        &:nth-of-type(2) {
          width: 8%;
          padding-left: 0.1em;
          text-align: center;
        }
        &:nth-of-type(3) {
          width: 13%;
        }
        &:nth-of-type(4) {
          width: 8%;
          text-align: center;
        }
        &:nth-of-type(5) {
          width: 13%;
          text-align: center;
        }
        &:nth-of-type(6) {
          width: 20%;
        }
        &:nth-of-type(7) {
          padding: 0;
          width: 6.5%;
        }
        &:nth-of-type(8) {
          padding: 0;
          width: 6.5%;
        }
      }
  
    }
    .ion-row {
      background: #f8f8f8;
    }
    .toolbar-title-md {
      color: #000;
  }
}

body.ru page-contact.ion-page filter-panel.open ~ .content {
    table-header table-header-item {
      &:nth-of-type(7) span {
        font-size: 0.8em;
      }
      &:nth-of-type(4) span {
        font-size: 0.85em;
      }
    }
  }