body{
	margin: 0;
}
html, body{
	height: 100%;
}

button:focus,
button:active {
	outline: none !important;
}

#viewport{
	width: 100%;
	height: 100%;
	/*width: 1024px;*/
	/*height: 768px;*/
	overflow: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.slide{
	position: absolute;
	left: 1px;
	width: inherit;
	height: inherit;
	z-index: 1;
	-webkit-transform: translate3d(-100%, 0, 0);
	-moz-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	-webkit-transition: -webkit-transform 400ms;
	-moz-transition: -moz-transform 400ms;
	transition: transform 400ms;
}
.slide iframe{
	width: 100%;
	height: 100%;
	border: none;
}
.slide.current{
	z-index: 2;
	left: 0;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform 400ms, left 400ms 1ms;
	-moz-transition: -moz-transform 400ms, left 400ms 1ms;
	transition: transform 400ms, left 400ms 1ms;
}
.slide.prev,
.slide.previous{
	-webkit-transform: translate3d(-100%, 0, 0);
	-moz-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}
.slide.next{
	-webkit-transform: translate3d(100%, 0, 0);
	-moz-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}
.slide.no-trans{
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}
