<ion-header class="page-header">
  <ion-navbar #navbar>
    <div class="row text-center">
      <div class="col-md-9" [ngClass]="{'col-md-9': isEditBtnEnabled, 'col-md-12': !isEditBtnEnabled}">
        <div class="title"><ion-icon name="contact"></ion-icon> &nbsp;<span>{{contact?.name}}</span></div>
      </div>
      <div class="col-md-3 buttons">
        <button class="ctrl-btn" *ngIf="isEditBtnEnabled" (click)="onTapEditBtnHandler()">{{ 'common.buttons.EditBtn' | translate }}</button>
      </div>
    </div>
  </ion-navbar>
</ion-header>

  <ion-content class="content-page-detail">
    <div class="container-fluid" style="margin-top: 26px;">
      <div class="row" style="margin-bottom:12px">
        <div class="col-sm-6">

          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-sm-6">
                  <h5>{{'common.names.Name' | translate}}</h5>

                </div>
                <div class="col-sm-6">
                  {{contact?.name}}
                </div>
              </div>


            </div>

            <div class="card-body">
              <div class="row">
                <div class="col-sm-6">
                  <h5>{{'card.GeneralInfoFields.Status' | translate}}</h5>

                </div>
                <div class="col-sm-6">
                  {{contact?.status}}
                </div>
              </div>

            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-sm-6">
                  <h5>{{'card.GeneralInfoFields.TargetCustomer' | translate}}</h5>

                </div>
                <div class="col-sm-6">
                  {{contact?.isTargetCustomer}}
                </div>
              </div>
            </div>

            <div class="card-body">
              <div class="row">
                <div class="col-sm-6">
                  <h5>{{'card.GeneralInfoFields.Type' | translate}}</h5>
                </div>
                <div class="col-sm-6">
                  {{contact?.recordType}}
                </div>
              </div>

            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-sm-6">
                  <h5>{{'card.GeneralInfoFields.BUSpecialty' | translate}}</h5>

                </div>
                <div class="col-sm-6">
                  {{contact?.buSpecialty}}
                </div>
              </div>
            </div>

            <div class="card-body" *ngIf="redFlagRequired">
              <div class="row" (click)="tappedRedFlag(references[0])">
                <div class="col-sm-6">
                  <h5>{{'common.names.Redflag' | translate}}</h5>
                </div>
                <div class="col-sm-6">
                  <img src="assets/imgs/redflag.png" style="width:30px;height: 30px;">
                </div>
              </div>
            </div>



          </div>

        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-sm-6">
                  <h5>{{'card.GeneralInfoFields.Priority' | translate}}</h5>

                </div>
                <div class="col-sm-6">
                  {{contact?.priority}}
                </div>
              </div>


            </div>

            <div class="card-body">
              <div class="row">
                <div class="col-sm-6">
                  <h5>{{'card.GeneralInfoFields.Specialty' | translate}}</h5>

                </div>
                <div class="col-sm-6">
                  {{contact?.specialty}}
                </div>
              </div>

            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-sm-6">
                  <h5>{{'card.Contact.GeneralInfoFields.MobilePhone' | translate}}</h5>

                </div>
                <div class="col-sm-6">
                  {{contact?.mobilePhone}}
                </div>
              </div>
            </div>

            <div class="card-body">
              <div class="row">
                <div class="col-sm-6">
                  <h5>{{'card.Contact.GeneralInfoFields.Email' | translate}}</h5>

                </div>
                <div class="col-sm-6">
                  {{contact?.email}}
                </div>
              </div>

            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-sm-6">
                  <h5>{{'card.Contact.GeneralInfoFields.KOL' | translate}}</h5>
                </div>
                <div class="col-sm-6">
                  {{contact?.kol}}
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
      <form>
        <div class="form-group">
          <label for="comment" style="font-size:17px">{{'card.GeneralInfoFields.Description' | translate}}</label>
          <textarea disabled="true" class="form-control" rows="5" id="comment"></textarea>
        </div>
      </form>
    </div>

    <div class="card text-white" style="background-color:#00B5E6">
      <div class="card-body"  style="font-size:17px">{{'card.ReferencesTableTitle' | translate}}</div>
    </div>
    <table width="100%" class="table">
      <thead>
        <tr>
          <!-- <th>Status</th> -->
          <th>{{'common.names.Primary' | translate}}</th>
          <th>{{'common.names.Appt' | translate}} </th>
          <th>{{'common.names.CallReport' | translate}}</th>
          <th>{{'common.names.Organization' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reference of references">
          <!-- <td > {{Reference?.C_Status_Reference__c}}</td> -->
          <td> {{reference?.isPrimary}}</td>
          <td (click)='itemTappedAppointment(reference)'> <img src="assets/imgs/appt-bw.png" style="width:30px;height: 30px;"></td>
          <td (click)='itemTappedCallReport(reference)'><img src="assets/imgs/call.png" style="width:30px;height: 30px;"></td>
          <td>
            <a href="#" (click)="navigateToOrganisationPage(reference)"><span>{{reference?.organizationName}}</span>
              <p>{{reference?.organizationAddress}} &nbsp;{{reference?.organizationCity}} &nbsp;{{reference?.organizationCountry}} &nbsp;</p>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="card text-white" style="background-color:#00B5E6">
      <div class="card-body"  style="font-size:17px">{{'card.InFieldActivitiesTableTitle' | translate}}</div>
    </div>
    <table width="100%" class="table">
      <thead>
        <tr>
          <th>{{'common.names.Type' | translate}}</th>
          <th>{{'common.names.Date' | translate}}</th>
          <th>{{'common.names.Time' | translate}}</th>
          <th>{{'common.names.User' | translate}}</th>
          <th>{{'common.names.NextCallObjectives' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let infieldActivity of infieldActivities" (click)="itemTappedType(infieldActivity)">
          <td>{{infieldActivity?.type}}</td>
          <td> {{infieldActivity?.dateTimePlanned | date : "y-MM-d "}}</td>
          <td>{{infieldActivity?.dateTimePlanned | date : " HH:mm "}}</td>
          <td> {{infieldActivity?.userFirstName}} {{infieldActivity?.userLastName}}</td>
          <td> {{infieldActivity?.nextCallObjective}}</td>
        </tr>
      </tbody>
    </table>
  </ion-content>
