<ion-header>
  <ion-navbar>
    <ion-title>{{'common.names.TimeOffTerritory' | translate}}</ion-title>
    <ion-buttons end class="buttonDesign">
      <button ion-button class="saveButton" (click)="validateInputData()">Save</button>
    </ion-buttons>
  </ion-navbar>
  
</ion-header>

<ion-content padding>
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-row class="borders-0">
          <ion-col>
            {{'card.GeneralInfoFields.User' | translate}}
          </ion-col>
          <ion-col>
            {{activeUser?.name}}
          </ion-col>
        </ion-row>
        <ion-row class="borders-0">
          <ion-col>
            {{'common.names.AllDay' | translate}}
          </ion-col>
          <ion-col>
            <ion-checkbox color="primary" [(ngModel)]="allDay" (ionChange)="blockAllOtherFields(allDay)"></ion-checkbox>
          </ion-col>
        </ion-row>
        <ion-row class="colBsackground borders-0">
          <ion-col>
            {{'common.names.FirstPart' | translate}}
          </ion-col>
          <ion-col>
            <ion-item class="itemDesign" no-lines style="border: 1px solid #2e85c2">
            <ion-select interface="popover" [(ngModel)]="fullDay" placeholder="None" (ionChange)="getPickInfo(fullDay)">
              <ion-option *ngFor="let picklist of picklistDataSource" [value]="picklist.id">{{picklist.description}}</ion-option>
            </ion-select>
            
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="colBsackground borders-0">
        <ion-col>
          {{'common.names.SecondPart' | translate}}
        </ion-col>
        <ion-col>
          <ion-item class="itemDesign" no-lines style="border: 1px solid #2e85c2">
            <ion-select interface="popover" placeholder="None" [(ngModel)]="halfDay" (ionChange)="getPickInfo(halfDay)" [disabled]="disabledAllValues">
              <ion-option *ngFor="let picklist of picklistDataSource" [value]="picklist.id">{{picklist.description}}</ion-option>
            </ion-select>
            
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-col>
    
    <ion-col>
      <ion-row class="borders-0">
        <ion-col>
          {{'card.GeneralInfoFields.StartDate' | translate}}
        </ion-col>
        <ion-col>
          <!-- 10.07.2019 12:00 -->
          <ion-datetime [(ngModel)]="startDate" display-format="MM DD YY" placeholder="Select Date"></ion-datetime>
          <!-- <button class="buttonDesing" ion-button clear><ion-icon name="calendar"></ion-icon></button> -->
        </ion-col>
      </ion-row>
      
      <ion-row class="borders-0">
        <ion-col>
          {{'card.GeneralInfoFields.EndDate' | translate}}
        </ion-col>
        <ion-col>
            <ion-datetime [(ngModel)]="endDate" display-format="MM DD YY" placeholder="Select Date"><ion-icon name="calendar"></ion-icon></ion-datetime>

          <!-- <button class="buttonDesing" ion-button clear></button> -->
        </ion-col>
      </ion-row>
      
      <ion-row class="colBsackground borders-0">
        <ion-col>
          {{'common.names.ThirdPart' | translate}}
        </ion-col>
        <ion-col>
          <ion-item class="itemDesign" no-lines style="border: 1px solid #2e85c2">
            <ion-select interface="popover" placeholder="None" [(ngModel)]="thirdPart" (ionChange)="getPickInfo(thirdPart)" [disabled]="disabledAllValues">
              <ion-option *ngFor="let picklist of picklistDataSource" [value]="picklist.id">{{picklist.description}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      
      <ion-row class="colBsackground borders-0">
        <ion-col>
          {{'common.names.ForthPart' | translate}}
        </ion-col>
        <ion-col>
          <ion-item class="itemDesign" no-lines style="border: 1px solid #2e85c2">
            <ion-select interface="popover" placeholder="None" [(ngModel)]="fourthPart" (ionChange)="getPickInfo(fourthPart)" [disabled]="disabledAllValues">
              <ion-option *ngFor="let picklist of picklistDataSource" [value]="picklist.id">{{picklist.description}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <br><br>
  <ion-row class="questionBackground">
    <ion-col class="margin-0">{{'common.names.Description' | translate}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-textarea class="textAreaDesign" [(ngModel)]="totDesc" placeholder="Type Description"></ion-textarea>
    </ion-col>
  </ion-row>
  
</ion-grid>

</ion-content>
