<ion-header #contentHeader class="page-header">
    <ion-navbar>
      <div class="row text-center">
        <div class="col-md-8">
          <div class="title">{{ 'contacts.HeaderTitle' | translate}}</div>
        </div>
        <div class="col-md-4">
          <ion-searchbar showCancelButton="false" [(ngModel)]="search" (ionBlur)="onSearchHandler($event)"
                         (ionClear)="onClearHandler($event)" (ionCancel)="onClearHandler($event)"></ion-searchbar>
        </div>
      </div>
    </ion-navbar>
  </ion-header>
  
  <ion-content #mainContent class="main-content">
    <div class="fixed-content" ion-fixed>
      <lazy-table class="contact-table" (queryChange)="onChangeQueryHandler($event)"></lazy-table>
    </div>
  </ion-content>
  
