<ion-header class="page-header">
  <ion-navbar #navbar>
    <div class="row text-center">
      <div class="col-md-10">
        <div class="title">
          {{ 'card.CustomerProductSegmentationTableTitle' | translate }}
          <span *ngIf="!productSegmentation.phProductName">{{ 'common.names.New' | translate }}</span>
          <span>{{ productSegmentation.phProductName }}</span>
        </div>
      </div>
      <div class="col-md-2">
        <button class="ctrl-btn" (click)="onTapSaveBtnHandler()">{{ 'common.buttons.SaveBtn' | translate }}</button>
      </div>
    </div>
  </ion-navbar>
</ion-header>


<ion-content class="content-page-detail">
  <div class="wrapper">
    <div class="page-row">


      <div class="page-col">
        <div class="info-row">
          <div class="info-cell label">{{'common.names.Contact' | translate}}</div>
          <div class="info-cell value hyperlink" (tap)="onTapReferenceBtnHandler()" [innerHtml]="reference.contactFullName()"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'common.names.PharmaProduct' | translate}}</div>
          <div class="info-cell value">
            <ion-select #productSelect placeholder="{{ 'common.defaultSelectValue' | translate }}"
                        class="select select-picklist-button" [(ngModel)]="productSegmentation.phProductId"
                        [selectOptions]="filterOptions">
              <ion-option *ngFor="let product of productPicklistValues" [value]="product.id"
                          (ionSelect)="setDataAndCloseSelect(ProductSegmentationScheme.fields.phProductId.local, product.id, productSelect)" multiple="false">{{ product.description }}
              </ion-option>
            </ion-select>
          </div>
        </div>
      </div>

      <div class="page-col">

        <div class="info-row">
          <div class="info-cell label">{{'common.names.Segmentation1' | translate}}</div>
          <div class="info-cell value">
            <ion-select #segmentation1Select placeholder="{{ 'common.defaultSelectValue' | translate }}"
                        class="select select-picklist-button" [(ngModel)]="productSegmentation.segmentation1"
                        [selectOptions]="filterOptions">
              <ion-option *ngFor="let segmentation of segmentationFirstValues" [value]="segmentation.id"
                          (ionSelect)="setDataAndCloseSelect(ProductSegmentationScheme.fields.segmentation1.local, segmentation.id, segmentation1Select)" multiple="false">{{ segmentation.description }}
              </ion-option>
            </ion-select>
          </div>
        </div>

        <div class="info-row">
          <div class="info-cell label">{{'common.names.Segmentation2' | translate}}</div>
          <div class="info-cell value">
            <ion-select #segmentation2Select placeholder="{{ 'common.defaultSelectValue' | translate }}"
                        class="select select-picklist-button" [(ngModel)]="productSegmentation.segmentation2"
                        [selectOptions]="filterOptions">
              <ion-option *ngFor="let segmentation of segmentationSecondValues" [value]="segmentation.id"
                          (ionSelect)="setDataAndCloseSelect(ProductSegmentationScheme.fields.segmentation2.local, segmentation.id, segmentation2Select)" multiple="false">{{ segmentation.description }}
              </ion-option>
            </ion-select>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
