page-segmentation-edit-card {
  .select-picklist-button {
    max-width: 90%;
    min-height: 2.2em;
    font-size: 1em;
    line-height: 1.2;
    display: flex;
    align-items: center;

    .select-text {
      max-width: initial;
      width: auto;
    }
  }
}
