<!-- <div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
        [excludeDays]="excludeDays"
      >
        Previous
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Today
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
        [excludeDays]="excludeDays"
      >
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
      >
        Month
      </div>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
      >
        Week
      </div>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
      >
        Day
      </div>
    </div>
  </div>
</div> -->

	<ion-navbar color="light">
			<div class="row text-center">
				<div class="col-md-4">
					<div class="row">
						<div class="col-sm-4">
							<button ion-button icon-only menuToggle> 
								<ion-icon name="menu"></ion-icon>
							</button>
						</div>
						<div class="col-sm-8">
							<div class="btn-group">
								<div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()" [excludeDays]="excludeDays"> Previous </div>
								<div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate"> Today </div>
								<div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()" [excludeDays]="excludeDays"> Next</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
				</div>
				<div class="col-md-2">
					<div class="btn-group">
						<div class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">Month </div>
						<div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">Week </div>
						<div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day"> Day </div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="btn-group">
						<div class="btn btn-primary" (click)="cloneCliked()">Clone</div>
						<div class="btn btn-primary" (click)="addEventClicked()">Add Event</div>
					</div>
				</div>

			</div>
	</ion-navbar>

<br />

<ng-template #customCellTemplate let-day="day" let-locale="locale">
		
		<div class="cal-cell-top">
			<span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
			<span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
		</div>
		<div (click)="handleEvent('Clicked', e)" *ngFor="let e of day.events" style="border-top:0.5px solid black;margin-bottom: 0.5px;border-bottom:0.5px solid black;" >
				<!-- <span *ngIf="e.meta.appointmentEvents.Type__c=='1:1'"><img src="assets/imgs/call.png" style="width:25px;height: 20px;">1:1</span>
				<span *ngIf="e.meta.appointmentEvents.Type__c=='Appointment'"><img src="assets/imgs/appt-bw.png" style="width:25px;height: 20px;">Appt.</span>
				<span *ngIf="e.meta.appointmentEvents.Type__c=='PE'"><img src="assets/imgs/pe.png" style="width:25px;height: 20px;">PE.</span>
				<span *ngIf="e.meta.appointmentEvents.Type__c=='TOT'"><img src="assets/imgs/tot.png" style="width:25px;height: 20px;">TOT.</span> -->
			<small style="font-size: 8px;">{{e.start | date:'h:mm a'}}</small>
		</div>
	</ng-template>


<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
    [excludeDays]="excludeDays"
    [cellTemplate]="customCellTemplate"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
    [excludeDays]="excludeDays"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-day-view>
</div>

<!-- Everything you see below is just for the demo, you don't need to include it in your app -->

<ng-template #modalContent let-close="close">
	<div class="modal-header">
		<h5 class="modal-title">Appointment Details</h5>
		<button type="button" class="close" (click)="close()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="popup-body">

			<ul class="list-group list-group-unbordered">
				<li class="list-group-item">
					<b>Customer:</b> <a class="pull-right">{{modalData?.event?.meta?.appointmentEvents?.Id}}</a>
				</li>
				<li class="list-group-item">
					<b>BU Speciality:</b> <a class="pull-right">{{modalData?.event?.meta?.appointmentEvents?.Contact1__r?.Solvay_Specialty__c}}</a>
				</li>
				<li class="list-group-item">
					<b>Organisation:</b> <a class="pull-right">{{modalData?.event?.meta?.appointmentEvents?.Organisation__r?.Name}}</a>
				</li>
				<li class="list-group-item">
					<b>User:</b> <a class="pull-right">{{modalData?.event?.meta?.appointmentEvents?.User__r?.Name}}</a>
				</li>
				<li class="list-group-item">
					<b>Coaching Visit:</b> <a class="pull-right">{{modalData?.event?.meta?.appointmentEvents?.Coaching_Visit__c}}</a>
				</li>
				<li class="list-group-item">
					<b>Coaching Visit User:</b> <a class="pull-right">{{modalData?.event?.meta?.appointmentEvents?.Joint_Visit__c}}</a>
				</li>
				<li class="list-group-item">
					<b>Joint Visit Participants:</b> <a class="pull-right">{{modalData?.event?.meta?.appointmentEvents?.Joint_Visit__c}}</a>
				</li>
				<li class="list-group-item">
					<b>Date/Time:</b> <a class="pull-right">{{modalData?.event?.meta?.appointmentEvents?.Date_Time_Planned__c | date : "dd.LL.yyyy HH:mm" }}</a>
				</li>
				<li class="list-group-item">
					<b>Duration:</b> <a class="pull-right">{{modalData?.event?.meta?.appointmentEvents?.Duration__c}}</a>
				</li>
				<li class="list-group-item">
					<b>Call Objectives:</b> <a class="pull-right">{{modalData?.event?.meta?.appointmentEvents?.Call_Objective__c}}</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="pull-center btn btn-success" (click)="close(); gotoDetailsPage(modalData?.event)">Details</button>
		<button type="button" class="pull-center btn btn-info" (click)="close(); gotoStartPage(modalData?.event)">Start Call</button>
		<button type="button" class="pull-center btn btn-danger" (click)="close(); deleteAppointment(modalData?.event)">Delete Appointment</button>
	</div>
</ng-template>

<ng-template #eventDetails let-close="close">
	<div class="modal-header">
		<h5 class="modal-title">Add Event</h5>
		<button type="button" class="close" (click)="close()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="popup-body">
			<ion-item>
				<ion-label>Adding Events</ion-label>
				<ion-select multiple="false">
					<ion-option>{{"Appointment"}} </ion-option>
					<ion-option>{{"TOT"}} </ion-option>
					<ion-option>{{"Pharma Event"}}</ion-option>
				</ion-select>
			</ion-item>
		</div>
	</div>
</ng-template>

<div *ngIf='isAddEventOpened'>
	<ion-item>
		<ion-select  multiple="false" #mySelect [(ngModel)]="eventType" (ionChange)="gotoEventCreationPage(eventType);">
			<ion-option value="appointment">{{"Appointment"}} </ion-option>
			<ion-option value="tot">{{"TOT"}} </ion-option>
			<ion-option value="pe">{{"Pharma Event"}}</ion-option>
		</ion-select>
	</ion-item>
</div>
