page-signature {

  .fixed-content,
  .signature,
  canvas{
    width: 100%;
    height: 100%;
  }

  .page-header{
    .title-page-wrapper{
      flex: 20;
    }
    .row{
      padding: 0 10px;
    }
  }
  .buttons{
    display: flex;
  }

}
