<ion-header #contentHeader class="page-header">
  <ion-navbar>
    <div class="row text-center">
      <div class="title-page-wrapper">
        <div class="title">{{ 'signature.HeaderTitle' | translate}}</div>
      </div>
      <div class="buttons">
        <button class="ctrl-btn" (click)="onTapClearBtnHandler()">{{ 'common.buttons.ClearBtn' | translate }}</button>
        <button class="ctrl-btn" [ngClass]="{'disabled': !isSaveBtnEnabled}" (click)="onTapSaveBtnHandler()">{{ 'common.buttons.SaveBtn' | translate }}</button>
      </div>
    </div>

  </ion-navbar>
</ion-header>

<ion-content #mainContent class="main-content">
  <div class="fixed-content" ion-fixed>
    <signature-pad class="signature" [options]="signaturePadOptions" (onEndEvent)="onDrawCompleteHandler()"></signature-pad>
  </div>
</ion-content>
