.popup{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	/*opacity: 0;*/
	-webkit-transition: .3s linear;
	-moz-transition: .3s linear;
	transition: .3s linear;
}
.popup.show{
	opacity: 1;
}