<ion-header>
  <ion-navbar class="setHeaderColor">
    <ion-grid>
      <div class="row">
      <div class="col-sm-1">
        <button ion-button icon-only (click)="onTapAddBtnHandler()">
          <ion-icon name="add-circle"></ion-icon>
        </button>
      </div>
      <div class="col-sm-7">
        <ion-title class="setHeadderTop" text-center>MTP <span *ngIf="mtpCount > 0">{{'(' + mtpCount + ')'}}</span></ion-title>
      </div>
      <div class="col-sm-4">
        <!-- <ion-searchbar showCancelButton="true"   (ionInput)="onSearch($event)"  (ionCancel)="isSearchbarOpened=false"></ion-searchbar> -->
        <ion-searchbar showCancelButton="false" [(ngModel)]="search" (ionBlur)="onSearchHandler($event)" (ionClear)="onClearHandler($event)" (ionCancel)="onClearHandler($event)"></ion-searchbar>
      </div>
    </div>
    </ion-grid>

  </ion-navbar>

</ion-header>
<ion-content #mainContent class="main-content">
  <div class="fixed-content" ion-fixed>
    <lazy-table (queryChange)="onChangeQueryHandler($event)"></lazy-table>
  </div>
</ion-content>

<!--
<ion-header>
  <ion-navbar>
    <ion-grid>
      <div class="row">
      <div class="col-sm-1">
        <button ion-button icon-only (click)="presentPopover()">
          <ion-icon name="add-circle"></ion-icon>
        </button>
      </div>
      <div class="col-sm-7">
        <ion-title text-center>MTP</ion-title>
      </div>
      <div class="col-sm-4">
        <ion-searchbar showCancelButton="true"   (ionInput)="onSearch($event)"  (ionCancel)="isSearchbarOpened=false"></ion-searchbar>
      </div>
    </div>
    </ion-grid>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <ngx-datatable
  [sortType]="'multi'"
  [headerHeight]="50"
  [scrollbarV]="true"
  [rowHeight]="50"
  [rows]="rows"
  [scrollbarH]="true"
  [columns]="columns"
  [columnMode]="'force'"
  >
  <ngx-datatable-column name="{{ 'Month'}}" prop="Month__c">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div (click)='itemTapped(row)'>{{row.Month__c}}</div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="{{ 'Year' }}" prop="Year__c">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div (click)='itemTapped(row)'>{{row.Year__c}}</div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="{{ 'Start date'}}" prop="Start_Date__c">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div (click)='itemTapped(row)'>{{row.Start_Date__c}}</div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="{{ 'End date'}}" prop="End_Date__c">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div (click)='itemTapped(row)'>{{row.End_Date__c}}</div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="{{ 'Status'}}" prop="Status__c">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div (click)='itemTapped(row)'>{{row?.Status__c}}</div>
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>
</ion-content> -->

