page-dynamic-agenda {
  .toolbar-ios-myforce-light .back-button{
    color: #21b4f3;
  }

  ion-header .bar-buttons .add-icon ion-icon {
    font-size: 2.5em;
  }


  .item-wrapper:nth-of-type(even) {
    background-color: #efeff4;

    .item {
      background-color: #efeff4;
    }
  }

  .item-wrapper{
    .item .item-inner {
      border-bottom: none;
      padding: 0;
    }

    ion-label{
      margin-right: 0;
    }

    ion-item-options {
      border-bottom: none;
    }

    .item-content{
      display: flex;
      align-items: center;

      .name{
        color: #87878c;
        flex: 1;
      }

      .open-btn{
        position: relative;

        &::after,
        &::before{
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          width: 1px;
          background: rgba(0,0,0,.05);
        }

        &::after{
          left: 0;
        }

        &::before{
          right: 0;
        }
      }
    }

    .delete-btn{
      display: flex;
      align-items: center;
    }

    .corner{

      button {
        margin: 0 16px;
        height: 2em;
        min-height: auto;
        width: 6em;
        border-radius: 4px;
        font-size: 16px;
      }
    }
  }

}
