<ion-header>

  <ion-navbar color="myforce-light">

    <ion-title>
      {{'scenarios.HeaderTitle' | translate }}
    </ion-title>

    <ion-buttons right>
      <button ion-button icon-only (click)="onClickCreate($event)" class="add-icon">
        <ion-icon color="myforce-primary" name="ios-add-circle-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>



<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let scenario of scenarios">
      <ion-item (click)="onClickEdit($event, scenario)">
        <div class="item-content">
          <div class="name ellipsis">{{scenario.name}}</div>
          <div class="open-btn corner">
            <button ion-button solid color="myforce-primary" (click)="onClickOpen($event, scenario)">{{'common.buttons.Open' | translate}}</button>
          </div>
        </div>

      </ion-item>
      <ion-item-options side="right">
        <div class="delete-btn corner">
          <button ion-button solid color="myforce-danger" (click)="onClickDelete($event, scenario)">{{'common.buttons.DeleteBtn' | translate}}</button>
        </div>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
