<!--
Generated template for the PowerscorecardDetailsPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{'common.names.PowerScorecardDetails' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="container-fluid" style="margin-top: 26px;">
    <div class="row" style="margin-bottom:12px">
      <div class="col-sm-6">

        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-6">
                <h5>{{'common.names.Name' | translate}}</h5>
              </div>
              <div class="col-sm-6">
                {{CoachingPlanRecord?.name}}
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <h5>{{'card.GeneralInfoFields.Month' | translate}}</h5>
              </div>
              <div class="col-sm-6">
                {{CoachingPlanRecord?.month}}
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-sm-6">
                <h5>{{'card.GeneralInfoFields.Year' | translate}}</h5>
              </div>
              <div class="col-sm-6">
                {{CoachingPlanRecord?.year}}
              </div>
            </div>
          </div>


          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <h5>{{'card.GeneralInfoFields.EmployeeCode' | translate}}</h5>
              </div>
              <div class="col-sm-6">
                {{CoachingPlanRecord?.employeeCode}}
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-sm-6">
                <h5>{{'card.GeneralInfoFields.CoachingDate' | translate}}</h5>
              </div>
              <div class="col-sm-6">
                {{CoachingPlanRecord?.coachingDate}}
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <h5>{{'card.GeneralInfoFields.DateofFilling' | translate}}</h5>
              </div>
              <div class="col-sm-6">
                {{CoachingPlanRecord?.dateofFilling}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-6">
                <h5>{{'common.names.EmployeeName' | translate}}</h5>
              </div>
              <div class="col-sm-6">
                {{CoachingPlanRecord?.employeeName}}
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <h5>{{'card.GeneralInfoFields.Division' | translate}}</h5>
              </div>
              <div class="col-sm-6">
                {{CoachingPlanRecord?.division}}
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-sm-6">
                <h5>{{'card.GeneralInfoFields.DateOfJoining' | translate}}</h5>
              </div>
              <div class="col-sm-6">
                {{CoachingPlanRecord?.dateofjoining}}
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <h5>{{'card.GeneralInfoFields.Designation' | translate}}</h5>
              </div>
              <div class="col-sm-6">
                {{CoachingPlanRecord?.designation}}
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-sm-6">
                <h5>{{'card.GeneralInfoFields.FilledBy' | translate}}</h5>
              </div>
              <div class="col-sm-6">
                {{CoachingPlanRecord?.filledBy}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-title">
    <div class="card-body">{{'common.names.JointVisitPlan' | translate}}</div>
  </div>
  <table class="table" >
    <thead>
      <tr>
        <th scope="col">{{'common.names.Status' | translate}}</th>
        <th scope="col">{{'common.names.MedRep' | translate}}</th>
        <th scope="col">{{'common.names.Flm' | translate}}</th>
        <th scope="col">{{'common.names.CoachingDate' | translate}}</th>
        <th scope="col">{{'common.names.Scoretotal' | translate}}</th>
        <th scope="col">{{'common.names.Developmentplan' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let jointVisitPlan of jointvisitplanRecords">
        <td>{{jointVisitPlan?.status}}</td>
        <td>{{jointVisitPlan?.medrepName}}</td>
        <td>{{jointVisitPlan?.flmName}}</td>
        <td>{{jointVisitPlan?.coachingdate}}</td>
        <td>{{jointVisitPlan?.scoretotal}}</td>
        <td>{{jointVisitPlan?.developmentPlanName}}</td>
      </tr>
    </tbody>
  </table>

</ion-content>