page-data-change-requests-segmentation-list {
  background: white;

  .main-content {
    .fixed-content{
      width: 100%;
    }

    table-header table-header-item,
    table-row .cell {
      &:first-of-type {
        width: 40%;
      }
      &:nth-of-type(2) {
        width: 30%;
      }
      &:nth-of-type(3) {
        width: 30%;
      }
    }
  }
}
ion-modal.show-page.reference-list-modal-popup{
  .modal-wrapper{
    width: 80%;
    height: 80% !important;
    min-height: 340px;
    background: white;
  }

  ion-backdrop {
    opacity: 0.4;
  }
}
