<div class="form-wrap">
  <ion-item class="name">
    <ion-label>{{ 'common.names.Name' | translate }}:</ion-label>
    <ion-input type="text" [ngModel]="scenarioDetailsService.scenario.name" (ngModelChange)="scenarioDetailsService.updateName($event)"></ion-input>
  </ion-item>

  <ion-item>
    <ion-select #presentationSelect class="select select-picklist-button" multiple="false"
                [(ngModel)]="selectedPresentationId"
                [selectOptions]="presentationsSelectOptions"
                placeholder="{{'common.defaultSelectValue' | translate}}">
      <ion-option [value]="''"
                  [selected]="!selectedPresentationId"
                  (ionSelect)="onPresentationSelectHandler()">
        {{'common.defaultSelectValue' | translate}}
      </ion-option>
      <ion-option *ngFor="let presentation of scenarioDetailsService.availablePresentations"
                  [value]="presentation.id"
                  [selected]="presentation.id === selectedPresentationId"
                  (ionSelect)="onPresentationSelectHandler(presentation.id)">
        {{presentation.name}}
      </ion-option>
    </ion-select>
  </ion-item>

</div>

<div class="list-wrap">
  <ng-container *ngFor="let chapter of scenarioDetailsService.presentationStructure" >
    <div class="chapter-wrap" *ngIf="!chapter.removed">
      <div class="chapter-name">{{chapter.name}}</div>
      <div class="slides-wrap">
        <ng-container *ngFor="let slide of chapter.content; trackBy: slide?.id">
          <div class="slide" (click)="onSlideClickHandler(slide)" *ngIf="!slide.removed">
            <div class="slide-thumb" [ngStyle]="{'background-image': 'url(' + scenarioDetailsService.buildTSlideThumbnailPath(slide) + ')'}"></div>
            <div class="slide-name">{{slide.name}}</div>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>

</div>
