scenarios-side-view {
  background: #f8f7f7;
  border-right: 1px solid #c1c1c1;
  display: flex;
  flex-direction: column;

  .form-wrap{
    .item .item-inner{
      border-bottom: none;
    }
    .name{
      ion-label {
        color: #87878c;
        font-size: 0.9em;
      }
      input{
        box-sizing: border-box;
        padding: 3px 10px;
        min-height: 30px;
        border: 1px solid #b7b7bb;
        border-radius: 5px;
        color: #87878c;
      }
    }
  }

  .list-wrap{
    flex: 1;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .chapter-name{
    background: #949498;
    color: #fff;
    padding: 0.3em 0.8em;
    word-break: break-all;
  }

  .slide{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 0.8em;
  }
  .slide:nth-of-type(even){
    background: #fff;
  }

  .slide-thumb{
    width: 85px;
    height: 63px;
    background-color: #fff;
    background-size: 100% 100%;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
  }
  .slide-name{
    color: #87878c;
    flex: 1;
    padding: 0 0.8em;
    line-height: 1em;
    word-break: break-all;
  }
}
