<filter-panel [content]="[mainContent, contentHeader]" (filtersChangeEvent)="onFilterChangeHandler($event)">

    <filter-panel-picklist label="{{'common.names.Patch'|translate}}"
    [field]="collection.scheme.fields.patchName"
    [picklistDatasource]="patchPicklistDatasource">
    </filter-panel-picklist>
    
    <ion-item>
        <ion-select #filterType class="select select-picklist-button" [(ngModel)]="activityType" [selectOptions]="filterOptions" multiple="false">
          <ion-option value="fw" (ionSelect)="onChangeContactTypeHandler('fw')">{{ 'activityType.FilterPopup.FieldWork' | translate }}</ion-option>
          <ion-option value="nfw" (ionSelect)="onChangeContactTypeHandler('nfw')">{{ 'activityType.FilterPopup.NonFieldWork' | translate }}</ion-option>
        </ion-select>
    </ion-item>

		  <ngx-datatable [sortType]="'multi'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="auto" [rows]="externalEvents" [scrollbarH]="true"  [columnMode]="'force'">
				<ngx-datatable-column name="{{ 'Customer'}}" prop="title">
					<ng-template let-row="row"   ngx-datatable-cell-template >            
						<div  mwlDraggable
						[dropData]="{event: row}"
						dragActiveClass="drag-active"><div>{{row?.title}}</div>
						 <div>{{row?.contactName}}</div></div>
					</ng-template>
				</ngx-datatable-column>
	
			</ngx-datatable>



</filter-panel> 
<ion-header  #contentHeader class="page-header">
  <ion-navbar color="light">
    <div class="row text-center">
      <div class="col-md-4">
        <div class="btn-group">
        <div
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Previous
        </div>
        <div
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
          Today
        </div>
        <div
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Next
        </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
      </div>
      <div class="col-md-4">
        <div class="btn-group">
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Month)"
          [class.active]="view === CalendarView.Month"
        >
          Month
        </div>
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Week)"
          [class.active]="view === CalendarView.Week"
        >
          Week
        </div>
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Day)"
          [class.active]="view === CalendarView.Day"
        >
          Day
        </div>
        </div>
      </div>
      </div>
  </ion-navbar>
  
  </ion-header>

  <ion-content #mainContent class="main-content">
    <button *ngIf="zarUser" type="button" (click)="missedAppointments()" class="button" ion-button>MCs <span>({{missedCount}})</span></button>
		<button *ngIf="zarUser" type="button" (click)="unSyncronisedCalls()" class="button" ion-button>MSs <span>({{unSyncronisedCallsCount}})</span></button>
		<ng-template #loading>
			<div class="text-center">
				<i class="fa fa-spin fa-spinner fa-5x"></i> <br />
				Loading events...
			</div>
		</ng-template>
		
		<ng-template #customCellTemplate let-day="day" let-locale="locale">
			
			<div class="cal-cell-top">
				
				<span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
				<span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
			</div>
			<div (click)="handleEvent('Clicked', e)" *ngFor="let e of day.events | unique"  style="border-top:0.5px solid black;margin-bottom: 1px;border-bottom:0.5px solid black;" >
					<span *ngIf="e?.meta?.appointment?.type=='1:1'"><img src="assets/imgs/call.png" style="width:25px;height: 20px;">1:1</span>
					<span *ngIf="e?.meta?.appointment?.type=='Appointment'"><img src="assets/imgs/appt-bw.png" style="width:25px;height: 20px;">Appt.</span>
					<span *ngIf="e?.meta?.tot?.type=='TOT'"><img src="assets/imgs/tot.png" style="width:25px;height: 20px;">TOT</span>
					<span *ngIf="e?.meta?.pe?.type=='PE'"><img src="assets/imgs/pe.png" style="width:25px;height: 20px;">PE</span>
				<small style="font-size: 8px;">{{e.start | date:'h:mm a'}}</small>
			</div>
    </ng-template>	
    <div *ngIf="events; else loading; let events">
			<div [ngSwitch]="view">
				<!-- <pre>{{events | json}}</pre> -->
				<mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventTimesChanged)="eventDropped($event)" [cellTemplate]="customCellTemplate" [excludeDays]="excludeDays" (eventClicked)="handleEvent('Clicked', $event.event)">
				</mwl-calendar-month-view>
				<mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [snapDraggedEvents]="false" (eventTimesChanged)="eventDropped($event)" [excludeDays]="excludeDays" (eventClicked)="handleEvent('Clicked', $event.event)">
		
				</mwl-calendar-week-view>
				<mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [snapDraggedEvents]="false" (eventTimesChanged)="eventDropped($event)" (eventClicked)="handleEvent('Clicked', $event.event)">
				</mwl-calendar-day-view>
			</div>
		</div>
      
  </ion-content>


  <ng-template #modalContent let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">{{modalTitle}} Details</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="popup-body">
        <div *ngIf="modalData?.event?.title=='Appt'">
          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>Customer:</b> <a class="pull-right">{{modalData?.event?.meta?.appointment?.appointment?.contactFirstName}}</a>
            </li>
            <li class="list-group-item">
              <b>BU Speciality:</b> <a class="pull-right">{{modalData?.event?.meta?.appointment?.appointment?.contactSpecialty}}</a>
            </li>
            <li class="list-group-item">
              <b>Organisation:</b> <a class="pull-right">{{modalData?.event?.meta?.appointment?.appointment?.organizationName}}</a>
            </li>
            <li class="list-group-item">
              <b>User:</b> <a class="pull-right">{{modalData?.event?.meta?.appointment?.appointment?.userFirstName}}</a>
            </li>
            <li class="list-group-item">
              <b>Coaching Visit:</b> <a class="pull-right">{{modalData?.event?.meta?.appointment?.appointment?.coachingVisit}}</a>
            </li>
            <!-- <li class="list-group-item">
              <b>Coaching Visit User:</b> <a class="pull-right">{{modalData?.event?.meta?.appointment?.Joint_Visit__c}}</a>
            </li> -->
            <li class="list-group-item">
              <b>Joint Visit Participants:</b> <a class="pull-right">{{modalData?.event?.meta?.appointment?.appointment?.jointVisitParticipants}}</a>
            </li>
            <li class="list-group-item">
              <b>Date/Time:</b> <a class="pull-right">{{modalData?.event?.meta?.appointment?.appointment?.dateTimePlanned | date : "dd.LL.yyyy HH:mm" }}</a>
            </li>
            <li class="list-group-item">
              <b>Duration:</b> <a class="pull-right">{{modalData?.event?.meta?.appointment?.appointment?.duration}}</a>
            </li>
            <li class="list-group-item">
              <b>Call Objectives:</b> <a class="pull-right">{{modalData?.event?.meta?.appointment?.appointment?.callObjective}}</a>
            </li>
          </ul>
        </div>
  
        <div *ngIf="modalData?.event?.title=='1:1'">
          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>Customer:</b> <a class="pull-right">{{modalData?.event?.meta?.appointment?.appointment?.contactFirstName}}</a>
            </li>
            <li class="list-group-item">
              <b>BU Speciality:</b> <a class="pull-right">{{modalData?.event?.meta?.appointment?.appointment?.contactSpecialty}}</a>
            </li>
            <li class="list-group-item">
              <b>Organisation:</b> <a class="pull-right">{{modalData?.event?.meta?.appointment?.appointment?.organizationName}}</a>
            </li>
            <li class="list-group-item">
              <b>User:</b> <a class="pull-right">{{modalData?.event?.meta?.appointment?.appointment?.userFirstName}}</a>
            </li>
            <li class="list-group-item">
              <b>Coaching Visit:</b> <a class="pull-right">{{modalData?.event?.meta?.appointment?.appointment?.coachingVisit}}</a>
            </li>
            <!-- <li class="list-group-item">
              <b>Coaching Visit User:</b> <a class="pull-right">{{modalData?.event?.meta?.appointment?.Joint_Visit__c}}</a>
            </li> -->
            <li class="list-group-item">
              <b>Joint Visit Participants:</b> <a class="pull-right">{{modalData?.event?.meta?.appointment?.appointment?.jointVisitParticipants}}</a>
            </li>
            <li class="list-group-item">
              <b>Date/Time:</b> <a class="pull-right">{{modalData?.event?.meta?.appointment?.appointment?.dateTimePlanned | date : "dd.LL.yyyy HH:mm" }}</a>
            </li>
            <li class="list-group-item">
              <b>Duration:</b> <a class="pull-right">{{modalData?.event?.meta?.appointment?.appointment?.duration}}</a>
            </li>
            <li class="list-group-item">
              <b>Call Objectives:</b> <a class="pull-right">{{modalData?.event?.meta?.appointment?.appointment?.callObjective}}</a>
            </li>
          </ul>
        </div>
  
        <div *ngIf="modalData?.event?.title=='TOT'">
          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>Type:</b> <p class="pull-right">{{modalData?.event?.meta?.tot?.tot?.type}}</p>
            </li>
            <li class="list-group-item">
              <b>User:</b> <p class="pull-right">{{modalData?.event?.meta?.tot?.tot?.userFirstName}}&nbsp;{{modalData?.event?.meta?.tot?.tot?.userLastName}}</p>
            </li>
            <li class="list-group-item">
              <b>All Day:</b> <p class="pull-right" *ngIf="modalData?.event?.meta?.tot?.tot?.allDay"><img src="assets/imgs/checkmarkcircle.png" style="width:25px;height: 20px;"></p>
            </li>
            <li class="list-group-item">
              <b>Full Day:</b> <p class="pull-right">{{modalData?.event?.meta?.tot?.tot?.firstQuarterEvent}}</p>
            </li>
            <li class="list-group-item">
              <b>Half Day:</b> <p class="pull-right">{{modalData?.event?.meta?.tot?.tot?.secondQuarterEvent}} </p>
            </li>
            <li class="list-group-item">
              <b>6 Hours:</b> <p class="pull-right">{{modalData?.event?.meta?.tot?.tot?.thirdQuarterEvent}}</p>
            </li>
            <li class="list-group-item">
              <b>2 Hours:</b> <p class="pull-right">{{modalData?.event?.meta?.tot?.tot?.fourthQuarterEvent}}</p>
            </li>
            <li class="list-group-item">
              <b>Start Date:</b> <p class="pull-right">{{modalData?.event?.meta?.tot?.tot?.startDate}}</p>
            </li>
            <li class="list-group-item">
              <b>End Date:</b> <p class="pull-right">{{modalData?.event?.meta?.tot?.tot?.endDate}}</p>
            </li>
            <li class="list-group-item">
              <b>Description:</b> <p class="pull-right">{{modalData?.event?.meta?.tot?.tot?.description}}</p>
            </li>
          </ul>
        </div>
  
        <div *ngIf="modalData?.event?.title=='PE'">
          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>Event Name:</b> <p class="pull-right">{{modalData?.event?.meta?.pe?.pe?.eventName}}</p>
            </li>
            <li class="list-group-item">
              <b>Type of Event:</b> <p class="pull-right">{{modalData?.event?.meta?.pe?.pe?.eventType}}</p>
            </li>
            <li class="list-group-item">
              <b>Status:</b> <p class="pull-right">{{modalData?.event?.meta?.pe?.pe?.status}}</p>
            </li>
            <li class="list-group-item">
              <b>Business Unit:</b> <p class="pull-right">{{modalData?.event?.meta?.pe?.pe?.businessUnit}}</p>
            </li>
            <li class="list-group-item">
              <b>Owner:</b> <p class="pull-right">{{modalData?.event?.meta?.pe?.pe?.remoteOwnerFirstName}}&nbsp;{{modalData?.event?.meta?.pe?.remoteOwnerLastName}}</p>
            </li>
            <li class="list-group-item">
              <b>Stage:</b> <p class="pull-right">{{modalData?.event?.meta?.pe?.pe?.stage}}</p>
            </li>
            <li class="list-group-item">
              <b>Location:</b> <p class="pull-right">{{modalData?.event?.meta?.pe?.pe?.location}}</p>
            </li>
            <li class="list-group-item">
              <b>Start Date:</b> <p class="pull-right">{{modalData?.event?.meta?.pe?.pe?.startDate | date : "dd.LL.yyyy HH:mm"}}</p>
            </li>
            <li class="list-group-item">
              <b>End Date:</b> <p class="pull-right">{{modalData?.event?.meta?.pe?.pe?.endDate | date : "dd.LL.yyyy HH:mm"}}</p>
            </li>
            <li class="list-group-item">
              <b>Products:</b> <p class="pull-right"></p>
            </li>
            <li class="list-group-item">
              <b>Agenda:</b> <p class="pull-right">{{modalData?.event?.meta?.pe?.pe?.agenda}}</p>
            </li>
            <li class="list-group-item">
              <b>Speakers:</b> <p class="pull-right"></p>
            </li>
            <li class="list-group-item">
              <b>Objectives:</b> <p class="pull-right">{{modalData?.event?.meta?.pe?.pe?.objectives}}</p>
            </li>
            <li class="list-group-item">
              <b>Evaluation:</b> <p class="pull-right">{{modalData?.event?.meta?.pe?.pe?.evaluation}}</p>
            </li>
            <li class="list-group-item">
              <b>Attendees:</b> <p class="pull-right"></p>
            </li>
          </ul>
        </div>
  
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="pull-center btn btn-success" (click)="close(); gotoDetailsPage(modalData?.event)">Details</button>
      <button *ngIf="modalData?.event?.meta?.appointment?.type=='Appointment'" type="button" class="pull-center btn btn-info" (click)="close(); gotoStartPage(modalData?.event)">Start Call</button>
      <button *ngIf="modalData?.event?.meta?.appointment?.type=='Appointment'" type="button" class="pull-center btn btn-danger" (click)="close(); deleteAppointment(modalData?.event)">Delete Appointment</button>
      <button *ngIf="modalData?.event?.meta?.tot?.type=='TOT'" type="button" class="pull-center btn btn-danger" (click)="close(); deleteTOT(modalData?.event)">Delete TOT</button>
    </div>
  </ng-template>

