page-tour-plan {
  .datatable-header {
    background: rgba(164, 192, 214,1); 
    padding: 1em 0 0 1em;
 }
 .datatable-header-cell {
    font-size: 1.2em;
    font-weight: bold;
 }

 .datatable-body-row {
    padding: 0;
 }

 .datatable-row-even {
    background: rgba(240, 240, 240, 1);
 }

 .datatable-row-odd {
    background: rgba(255, 255, 255,1);
 }

 .datatable-body-cell {
    font-size:1em;
    padding: 1em;
    
    overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: normal !important;
  text-align: center !important;
  vertical-align: middle !important;
 }
 
 .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: normal !important;
  text-align: center !important;
  vertical-align: middle !important;
}
 .datatable-footer {
    background: rgba(218, 226, 234,1); 
    padding: 0 1em 0 1em;

    .pager {
       li {
            padding: 0 1em !important;

            a {
               color: rgba(68, 68, 68, 1);
               text-decoration: none;
            }
         }
    }
 }

 .drag-active {
   position: relative;
   z-index: 1;
   pointer-events: none;
 }
 .drag-over {
   background-color: #eee;
 }

 .checkbox-md{
 @extend.checkbox-ios;
 }

 table-header table-header-item,
 table-row .cell {
   &:first-of-type{
     width: 100%;
   }
 }
}
