.popuporderBackground ion-backdrop{
  opacity: 0.5 !important;
  background-color: black;   
}

.popover-md.popuporderBackground .popover-content{
  height: 300px !important;
  width: 80% !important;
  color: #FFFFFF;
  top: 10% !important;
  //left: 22% !important;
  border-radius: 0;
  padding: 0;
  overflow: hidden;
  position: initial !important;
  //display: contents;
}
