<div class="open-handler" (click)="onTapOpenBtnHandler()">
  <div class="arrow"></div>
</div>
<div *ngIf="showBollean">
  
  <ion-list style="background: transparent;width: 80%">
      <ion-list-header style="background: transparent;">
          Customers
        </ion-list-header>
    
  <ion-item style="background: transparent;width: 80%" *ngFor="let item of items" (click)="itemSelected(item)">
     <span>{{item}}</span>
   </ion-item>
  </ion-list>
</div>
