page-pharmadetails {

    .psevdo-text-area {
        background: white;
        border: 1px solid #b7b7bb;
        border-radius: 5px;
        padding: 1em;
        margin-top: 1.5%;
        width: 100%;
        box-sizing: border-box;
        min-height: 1.5em;
        font-size: 1.2em;
        font-weight: 400;
        color: #87878c;
        display: block;
      }
      
    .info-row{
        width:100%;
        background-color: '#foo';
        font-family: "Roboto";
    }
    .setHeaderHeight {
        margin-top:-15px;
    }
   // .col {
        //border-bottom: 1px solid #c1c1c1;
   // }
    .info-row:nth-of-type(odd)
    {
        background: #efeff4;
    }
    h5{
        font-size: 1.0em;
        font-family: "Roboto";
        font-weight: "Bold";
    }
    .info-row-blue
    {
        background-color:  #21b4f3;
        color: #fff;
        
        width: 100%;
        height:54px;
    }
    .button-md, .button-ios {
    font-size: 1.0rem;
    }
    .info-text-box{
        height:54px;
    }
    ion-col.col {
        padding-top: 1.0em;
    }
    ion-col.col h3{
        padding-top:1.5em;
    }
    .item-md {
        padding-left: 0px;
        border-radius: 12px;
        height: 20px;
     }
     .item-md.item-block .item-inner {
        padding-right: 0px;
        border: 1px solid #21b4f3;
        height:20px;
        border-radius: 12px;
     }
     .col-example {
        padding: 1rem;
        background-color: #33b5e5;
        border: 2px solid #fff;
        }
}
