
<ion-header>

  <ion-navbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-title class="setHeaderHeight" text-center>Pharma Event</ion-title>
        </ion-col>
        <button *ngIf="pharmaEventRecord?.status == 'Draft'" ion-button (click)="submitApproval()">Submit for Approval</button>
        <button *ngIf="pharmaEventRecord?.status == 'Submitted Offline'" ion-button (click)="recallApproval()">Recall from Approval</button>
        <button *ngIf="pharmaEventRecord?.status == 'Draft'" ion-button color="danger" (click)="deletePharmaEventdetails()">Delete</button>
        <button end ion-button (click)="savePharmaEvent()">Save</button>

      </ion-row>
    </ion-grid>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="container-fluid">
    <div class="row" style="margin-bottom:12px">
      <div class="col-sm-6">

        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-6">
                <h5>Owner:</h5>
              </div>
              <div class="col-sm-6">
                {{activeUser?.name}}
              </div>
            </div>


          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <h5>Type of Event:</h5>

              </div>
              <div class="col-sm-6">
                <ion-item> 
                  <ion-select interface="popover" placeholder="None" [(ngModel)]="eventType">
                    <ion-option *ngFor="let picklist of picklistDataSource" [value]="picklist.id">{{picklist.description}}</ion-option>
                  </ion-select>

                <!-- <ion-select class="select" [(ngModel)]="PharmaEvent.Type_of_Event__c"  multiple="false">
                  <ion-option>None</ion-option>
                  <ion-option class="option" *ngFor="let typeOfEventPicklistOption of typeOfEventPicklistOptions" [value]="typeOfEventPicklistOption.value">{{typeOfEventPicklistOption?.label}}
                  </ion-option>
                </ion-select> -->
              </ion-item>
              </div>
            </div>

          </div> 
          <div class="card-footer">
            <div class="row">
              <div class="col-sm-6">
                <h5>Start Date:</h5>

              </div>
              <div class="col-sm-6">
                <ion-datetime  displayFormat="DD.MM.YYYY HH:mm" [(ngModel)]="startDate"></ion-datetime>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <h5>Status:</h5>
              </div>
              <div class="col-sm-6">
                Draft
              </div>
            </div>

          </div> 


        </div>

      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-6">
                <h5>Business Unit:</h5>
              </div>
              <div class="col-sm-6">
                {{activeUser?.businessUnit}}
              </div>
            </div>


          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <h5>Stage:</h5>

              </div>
              <div class="col-sm-6">
                <ion-item>
                  <ion-select interface="popover" placeholder="None" [(ngModel)]="stage">
                      <ion-option *ngFor="let picklist of picklistStageSource" [value]="picklist.id">{{picklist.description}}</ion-option>
                    </ion-select>

                <!-- <ion-select class="select" [(ngModel)]="PharmaEvent.Stage__c"  multiple="false">
                  <ion-option>None</ion-option>
                  <ion-option class="option" *ngFor="let stagePicklistOption of stagePicklistOptions" [value]="stagePicklistOption.value">{{stagePicklistOption?.label}}
                  </ion-option>
                </ion-select> -->
              </ion-item>
              </div>
            </div>

          </div> 
          <div class="card-footer">
            <div class="row">
              <div class="col-sm-6">
                <h5>End Date:</h5>

              </div>
              <div class="col-sm-6">
                <ion-datetime displayFormat="DD.MM.YYYY HH:mm" [(ngModel)]="endDate"></ion-datetime>
              </div>
            </div>
          </div>




        </div>
      </div>

    </div>

  </div>
  <div class="container">

    <div class="row">
      <div class="col col-example">
        <h4>Event Name:</h4>
      </div>
      <div class="col col-example">
        <h4>Location:</h4>
      </div>
    </div>

    <div class="row">
      <div class="col col-example">
        <ion-item>
          <ion-textarea  [(ngModel)]="eventName"  placeholder="Type name"></ion-textarea>
        </ion-item>
      </div>
      <div class="col col-example">
        <ion-item>
          <ion-textarea [(ngModel)]="location" placeholder="Type location"></ion-textarea>
        </ion-item>
      </div>
    </div>

    <div class="row">
      <div class="col col-example">
        <h4>Products:</h4>
      </div>
      <div class="col col-example">
        <h4>Speakers:</h4>
      </div>
    </div>


    <div class="row">
        <div class="col col-example" (click)="onTapProductHandler()">
            <ion-item>
                <span [innerHtml]="selectedProductStringList"></span>
                <span *ngIf="!selectedProductStringList.length">{{ 'card.PharmaEvent.Placeholders.AddProducts' | translate }}</span>
            </ion-item>
          </div>
      <!-- <div class="col col-example">
        <ion-item> 
          <ion-select class="select" [(ngModel)]="selectedProductsData"  multiple="true">
            <ion-option class="option" *ngFor="let product of productList" [value]="product.id">{{product.name}}</ion-option>
          </ion-select>
        </ion-item>
      </div> -->
      <div class="col col-example">
        <ion-item>
          <ion-textarea [(ngModel)]="speakers" placeholder="Enter Speakers"></ion-textarea> 
        </ion-item>
      </div>
    </div>

    <div class="row">
      <div class="col col-example">
        <h4>Agenda:</h4>
      </div>
      <div class="col col-example">
        <h4>Objectives:</h4>
      </div>
    </div>

    <div class="row">
      <div class="col col-example">
        <ion-item>
          <ion-textarea [(ngModel)]="agenda" placeholder="Type Agenda"></ion-textarea>
        </ion-item>
      </div>
      <div class="col col-example">
        <ion-item>
          <ion-textarea [(ngModel)]="objectives" placeholder="Type Objectives"></ion-textarea>
        </ion-item>
      </div>
    </div>
    <div class="row">
      <div class="col col-example">
        <h4>Evaluation:</h4>
      </div>
      <div class="col col-example">
        <h4>Attendees:</h4>
      </div>
    </div>
    <div class="row">
      <div class="col col-example">
        <ion-item>
          <ion-textarea [(ngModel)]="evaluation" placeholder="Type Evaluation"></ion-textarea>
        </ion-item>
      </div>
      <div class="col col-example" (click)="onTapAttendeeHandler()">
          <div class="psevdo-text-area">
            <span [innerHtml]="selectedAttendeesStringList"></span>
            <span *ngIf="!selectedAttendeesStringList.length">{{ 'card.PharmaEvent.Placeholders.AddAttendees' | translate }}</span>
          </div>
      </div>

      <!-- <div class="col col-example">
        <ion-item>
          <ion-select class="select" [(ngModel)]="selectedAttendeesData"  multiple="true">
            <ion-option class="option" *ngFor="let attendee of attendeesList" [value]="attendee.contactSfId">{{attendee.name}}</ion-option>
          </ion-select> 
        </ion-item>
      </div> -->
    </div>
  </div>

</ion-content>
