<ion-header>
  <!-- <ion-navbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-title class="setHeader" text-center>{{'common.names.MedicalQuery' | translate}}</ion-title>
        </ion-col>
        <button ion-button color="danger" *ngIf="medicalQueryRecord?.status == 'Draft'" (click)="deleteMedicalquerydetails()">{{'common.buttons.DeleteBtn' | translate}}</button>
        <button *ngIf="medicalQueryRecord?.status == 'Draft'" ion-button (click)="submitMedicalQuery()">{{'common.buttons.SubmitBtn' | translate}}</button>
      </ion-row>
    </ion-grid>
  </ion-navbar> -->
  <ion-navbar>
    <div class="row text-center">
      <div class="col-md-8 setHeader">
        <div class="title">{{'common.names.MedicalQuery' | translate}}</div>
      </div>
      <div class="col-md-4">
          <button ion-button color="danger" *ngIf="medicalQueryRecord?.status == 'Draft'" (click)="deleteMedicalquerydetails()">{{ 'common.buttons.DeleteBtn' | translate }}</button>
          <button ion-button color="primary" *ngIf="medicalQueryRecord?.status == 'Draft' || medicalQueryRecord?.status == 'Submitted to rep' " (click)="submitMedicalQuery()">{{ 'common.buttons.SubmitBtn' | translate }}</button>
      </div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-row class="colBsackground borders-0">
          <ion-col>
            {{'common.names.Customer' | translate}}
          </ion-col>
          <ion-col>
            <a href="#" (click)="onTapCustomerClickHandler()"> {{medicalQueryRecord?.remoteCustomerName}} </a>
            <!-- <a href="#" (click)="onTapCustomerClickHandler()" >{{medicalQueryRecord?.remoteCustomerName}}</a> -->
          </ion-col>
        </ion-row>
        <ion-row class="borders-0">
          <ion-col>
            {{'common.names.NonContactName' | translate}}
          </ion-col>
          <ion-col>
            {{medicalQueryRecord?.noncustomer}}
            <!-- <ion-input [(ngModel)]="medicalQueryRecord.noncustomer" class="inpoutDesign" type="text" placeholder="{{'card.GeneralInfoFields.NonCustomerPlaceholder' | translate}}"></ion-input> -->
          </ion-col>
        </ion-row>
        <ion-row class="colBsackground borders-0">
          <ion-col>
            {{'card.GeneralInfoFields.Organization' | translate}}
          </ion-col>
          <ion-col>
            <a href="#" (click)="onTapOrganizationClickHandler()" >
            {{medicalQueryRecord?.remoteOrganizationName}}
          </a>
            <!-- <ion-select  [(ngModel)]="organization"  multiple="false" placeholder="{{'card.GeneralInfoFields.SelectOrganization' | translate}}">
              <ion-option selected="true">{{'card.GeneralInfoFields.SelectOrganization' | translate}}</ion-option>
              <ion-option *ngFor="let organization of organizationlist" [value]="organization?.id">{{organization?.name}}</ion-option>
            </ion-select> -->
            <!-- <ion-input  [(ngModel)]="organization" class="inpoutDesign" type="text" placeholder="Organization"></ion-input> -->
          </ion-col>
        </ion-row>
        <ion-row class="borders-0">
          <ion-col>
            {{'common.names.Email' | translate}}
          </ion-col>
          <ion-col>
            <!-- <ion-input [(ngModel)]="email" class="inpoutDesign" value="" type="email" placeholder="Email"></ion-input> -->
            {{medicalQueryRecord?.email}}
          </ion-col>
        </ion-row>
        <ion-row class="colBsackground borders-0">
          <ion-col>
            {{'common.names.MobilePhone' | translate}}
          </ion-col>
          <ion-col>
            {{medicalQueryRecord?.mobile}}
            <!-- <ion-input [(ngModel)]="mobileNumber" class="inpoutDesign" type="translate" placeholder="Mobile"></ion-input> -->
          </ion-col>
        </ion-row>
        <ion-row class="borders-0">
          <ion-col>
            {{'card.GeneralInfoFields.Status' | translate}}
          </ion-col>
          <ion-col>
            {{medicalQueryRecord?.status}}
            <!-- {{MedicalQueryScheme.APPROVAL_STATUS_DRAFT}} -->
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col>

        <ion-row class="borders-0">
          <ion-col>
            {{'common.names.User' | translate}}
          </ion-col>
          <ion-col>
            {{loggedInUserDetails?.name}}
          </ion-col>
        </ion-row>
        <ion-row class="colBsackground borders-0">
          <ion-col>
            {{'common.names.CreatedDateTime' | translate}}
          </ion-col>
          <ion-col>
            {{medicalQueryRecord?.createdDateTime | date : "d-MM-y HH:mm" }}
            <!-- <ion-datetime [(ngModel)]="createdDate" displayFormat="DD.MM.YYYY HH:mm" placeholder="Select Date"></ion-datetime> -->
          </ion-col>
        </ion-row>
        <ion-row class="borders-0">
          <ion-col>
            {{'card.GeneralInfoFields.Product' | translate}}
          </ion-col>
          <ion-col>

            {{medicalQueryRecord?.pharmaProductName}}
            <!-- <ion-select  [(ngModel)]="product"  multiple="false" placeholder="{{'card.GeneralInfoFields.SelectProductItem' | translate}}">
              <ion-option>{{'card.GeneralInfoFields.SelectProductItem' | translate}}</ion-option>
              <ion-option *ngFor="let product of productlist" [value]="product?.id">{{product?.name}}</ion-option>
            </ion-select> -->
          </ion-col>
        </ion-row>
        <ion-row class="borders-0">
          <ion-col>
            {{'card.GeneralInfoFields.TypeOfQuery' | translate}} 
          </ion-col>
          <ion-col>
            {{medicalQueryRecord?.typeofquery}}
            <!-- <ion-select  [(ngModel)]="typeOfQuery" (ionChange)="filterMedicalContactPersons(typeOfQuery)" multiple="false" placeholder="{{'card.GeneralInfoFields.SelectTypeOfQuery' | translate}}">
              <ion-option>{{'card.GeneralInfoFields.SelectTypeOfQuery' | translate}}</ion-option>
              <ion-option *ngFor="let row of pickListValues" [value]="row?.id">{{row?.description}}</ion-option>
            </ion-select> -->
          </ion-col>
        </ion-row>
        <ion-row class="colBsackground borders-0">
          <ion-col>
            {{'common.names.MylanMedicalContact' | translate}}
          </ion-col>
          <ion-col>
            {{medicalQueryRecord?.mylanMedicalContactPersons}}
            
            <!-- <ion-select  [(ngModel)]="medicalContact" multiple="false" placeholder="{{'card.GeneralInfoFields.SelectMedicalContact' | translate}}">
              <ion-option>{{'card.GeneralInfoFields.SelectMedicalContact' | translate}}</ion-option>
              <ion-option *ngFor="let row of MedicalContactPersons" [value]="row?.id">{{row?.name}}</ion-option>
            </ion-select> -->

          </ion-col>
        </ion-row>
        <ion-row class="borders-0">
          <ion-col>
            {{'common.names.Specialty' | translate}} 
          </ion-col>
          <ion-col>
            {{medicalQueryRecord?.specialty}}
            <!-- <ion-input [(ngModel)]="speciality" class="inpoutDesign" type="translate" placeholder="{{'common.names.Specialty' | translate}}"></ion-input> -->
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <br><br>
    <ion-row class="questionBackground">
      <ion-col class="margin-0">{{'common.names.MedicalQuery' | translate}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-textarea [disabled]="true" class="textAreaDesign" [(ngModel)]="medicalQueryRecord.queryDescription" type="text" placeholder="{{'common.names.QueryDescription' | translate}}"></ion-textarea>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="card text-white" style="background-color:#00B5E6">
    <div class="card-body"  style="font-size:17px">{{'common.names.QueryAnswers' | translate}}</div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th style="width: 40%">{{'common.names.CommentDescription' | translate}}</th>
        <th style="width: 20%">{{'common.names.User' | translate}}</th>
        <th style="width: 20%">{{'common.names.CreatedDateTime' | translate}}</th>
        <th style="width: 10%"></th>
        <th style="width: 10%"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let comment of medicalCommentData;let i=index;">
        <td>{{comment?.commentDescription}}</td>
        <td>{{comment?.createdUserName}}</td>
        <td>{{comment?.commentCreatedDateTime | date : "d-MM-y HH:mm "}}</td>
        <td><button *ngIf="comment?.createdBy!=loggedInUserDetails?.id && medicalQueryRecord?.status==querySubmittedToRep && (i+1)==medicalCommentData.length" ion-button color="success"  (click)="onTapAgreeHandler()">{{'common.names.Agree' | translate}}</button></td>
        <td><button *ngIf="comment?.createdBy!=loggedInUserDetails?.id && medicalQueryRecord?.status==querySubmittedToRep && (i+1)==medicalCommentData.length"  color="danger" ion-button (click)="onTapDisAgreeHandler()">{{'common.names.Needinfo' | translate}}</button></td>
      </tr>
    </tbody>
  </table>

  <ng-template #addComment let-close="close">
      <div class="modal-header">
        <h5 class="modal-title">Add Comment</h5>
        <button type="button" class="close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="popup-body">
          <ion-item>
            <ion-label>Comment</ion-label>
            <ion-textarea class="textAreaDesign" [(ngModel)]="commentText" type="text" placeholder="Add comment here"></ion-textarea>
          </ion-item>
          
          <button ion-button color="primary"  (click)="submitComment()">Save</button>
          <button ion-button color="primary"  (click)="closePopup()">Cancel</button>
        </div>
      </div>
    </ng-template>

</ion-content>