page-contact-china-edit-card {

  .content-page-detail{
    .page-row {
      margin-bottom: 0;
      border: none;

      &.general-page-row{
        margin-bottom: 1.5em;
      }

      .info-row.one-column-row {
        background: white;
        display: block;

        .value {
          width: 100%;
        }
      }
    }
    .check-box {
      pointer-events: auto;
    }
  }


  .blue-header {
    margin: 0;
  }

  .text-area {
    margin: 0;
    background: white;
    min-height: 3em;
    height: auto;

    textarea {
      margin: 0;
      min-height: 1.5em;
      height: 1.5em;
      line-height: 1.1;
      overflow: hidden;
    }
  }

  .input-page-field {
    height: 2.2em;

    input {
      padding-left: 10px;
    }
  }

  .select-picklist-button {
    max-width: 90%;
    min-height: 2.2em;
    font-size: 1em;
    line-height: 1.2;
    display: flex;
    align-items: center;

    .select-text {
      max-width: initial;
      width: auto;
    }
  }

  .psevdo-text-area {
    background: white;
    -webkit-appearance: none;
    resize: none;
    border: 1px solid #b7b7bb;
    border-radius: 5px;
    padding: 1em;
    margin-top: 1.5%;
    width: 100%;
    box-sizing: border-box;
    min-height: 1.5em;
    font: inherit;
    font-weight: 400;
    color: #87878c;
    display: block;
  }
}
