<ion-header class="page-header">
  <ion-navbar #navbar>
    <div class="row text-center">
      <div class="col-md-10">
        <div class="title">
          <span *ngIf="!this.contactStartBackup.id">{{ 'card.Contact.CreateHeaderTitle' | translate }}</span>
          <span *ngIf="this.contactStartBackup.id">{{ 'card.Contact.HeaderTitle' | translate }} {{ contact.fullName() }}</span>
        </div>
      </div>
      <div class="col-md-2">
        <button class="ctrl-btn" (click)="onTapSaveBtnHandler()">{{ 'common.buttons.SaveBtn' | translate }}</button>
      </div>
    </div>
  </ion-navbar>
</ion-header>


<ion-content class="content-page-detail">
  <div class="wrapper">
    <div class="page-row general-page-row">
      <div class="page-col">

        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.hcpStatus' | translate}}</div>
          <div class="info-cell value">
            <ion-select #hcpStatusSelect placeholder="{{ 'common.defaultSelectValue' | translate }}"
                        class="select select-picklist-button" [(ngModel)]="contact.hcpStatus"
                        [selectOptions]="filterOptions">
              <ion-option *ngFor="let status of hcpStatusPicklistValues" [value]="status.id"
                          (ionSelect)="setDataAndCloseSelect(ContactScheme.fields.hcpStatus.local, status.id, hcpStatusSelect)" multiple="false">{{ status.description }}
              </ion-option>
            </ion-select>
          </div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.StatusDescription' | translate}}</div>
          <div class="info-cell value">
            <ion-select #statusDescrSelect placeholder="{{ 'common.defaultSelectValue' | translate }}"
                        class="select select-picklist-button" [(ngModel)]="contact.statusDescription"
                        [selectOptions]="filterOptions">
              <ion-option *ngFor="let status of statusDescriptionPicklistValues" [value]="status.id"
                          (ionSelect)="setDataAndCloseSelect(ContactScheme.fields.statusDescription.local, status.id, statusDescrSelect)" multiple="false">{{ status.description }}
              </ion-option>
            </ion-select>
          </div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.PhysicianFirstName' | translate}}</div>
          <div class="info-cell value">
            <ion-input class="input-page-field" type="text" [(ngModel)]="contact.firstName"
                       placeholder="{{ 'common.names.PhysicianFirstName' | translate }}"></ion-input>
          </div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.PhysicianLastName' | translate}}</div>
          <div class="info-cell value">
            <ion-input class="input-page-field" type="text" [(ngModel)]="contact.lastName"
                       placeholder="{{ 'common.names.PhysicianLastName' | translate }}"></ion-input>
          </div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.PhysicianMiddleName' | translate}}</div>
          <div class="info-cell value">
            <ion-input class="input-page-field" type="text" [(ngModel)]="contact.middleName"
                       placeholder="{{ 'common.names.PhysicianMiddleName' | translate }}"></ion-input>
          </div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.Gender' | translate}}</div>
          <div class="info-cell value">
            <ion-select #genderSelect placeholder="{{ 'common.defaultSelectValue' | translate }}"
                        class="select select-picklist-button" [(ngModel)]="contact.gender"
                        [selectOptions]="filterOptions">
              <ion-option *ngFor="let gender of genderPicklistValues" [value]="gender.id"
                          (ionSelect)="setDataAndCloseSelect(ContactScheme.fields.gender.local, gender.id, genderSelect)" multiple="false">{{ gender.description }}
              </ion-option>
            </ion-select>
          </div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.NamedDepartment' | translate}}</div>
          <div class="info-cell value">
            <ion-input class="input-page-field" type="text" [(ngModel)]="contact.namedDepartment"
                       placeholder="{{ 'common.names.NamedDepartment' | translate }}"></ion-input>
          </div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.StandardDepartment' | translate}}</div>
          <div class="info-cell value">
            <ion-input class="input-page-field" type="text" [(ngModel)]="contact.standardDepartment"
                       placeholder="{{ 'common.names.StandardDepartment' | translate }}"></ion-input>
          </div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.Administrative' | translate}}</div>
          <div class="info-cell value">
            <ion-input class="input-page-field" type="text" [(ngModel)]="contact.administrative"
                       placeholder="{{ 'common.names.Administrative' | translate }}"></ion-input>
          </div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.ProfessionalTitle' | translate}}</div>
          <div class="info-cell value">
            <ion-input class="input-page-field" type="text" [(ngModel)]="contact.professionalTitle"
                       placeholder="{{ 'common.names.ProfessionalTitle' | translate }}"></ion-input>
          </div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.AcademicTitle' | translate}}</div>
          <div class="info-cell value">
            <ion-input class="input-page-field" type="text" [(ngModel)]="contact.academicTitle"
                       placeholder="{{ 'common.names.AcademicTitle' | translate }}"></ion-input>
          </div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.hcpType' | translate}}</div>
          <div class="info-cell value">
            <ion-input class="input-page-field" type="text" [(ngModel)]="contact.hcpType"
                       placeholder="{{ 'common.names.hcpType' | translate }}"></ion-input>
          </div>
        </div>
      </div>
      <div class="page-col">
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.LicenseNumber' | translate}}</div>
          <div class="info-cell value">
            <ion-input class="input-page-field" type="text" [(ngModel)]="contact.legalMedicalLicence"
                       placeholder="{{ 'common.names.LicenseNumber' | translate }}"></ion-input>
          </div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.WorkingTime' | translate}}</div>
          <div class="info-cell value">
            <ion-input class="input-page-field" type="text" [(ngModel)]="contact.workingTime"
                       placeholder="{{ 'common.names.WorkingTime' | translate }}"></ion-input>
          </div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.TargetDoctor' | translate}}</div>
          <div class="info-cell value">
            <input type="checkbox" class="check-box" [(ngModel)]="contact.targetDoctor">
          </div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.KOL' | translate}}</div>
          <div class="info-cell value">
            <input type="checkbox" class="check-box" [(ngModel)]="contact.cnKol">
          </div>
        </div>

        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.KOLProduct1' | translate}}</div>
          <div class="info-cell value">
            <ion-select #prod1Select placeholder="{{ 'common.defaultSelectValue' | translate }}"
                        class="select select-picklist-button" [(ngModel)]="contact.kolProduct1"
                        [selectOptions]="filterOptions">
              <ion-option *ngFor="let product of productPicklistValues" [value]="product.id"
                          (ionSelect)="setDataAndCloseSelect(ContactScheme.fields.kolProduct1.local, product.id, prod1Select)" multiple="false">{{ product.description }}
              </ion-option>
            </ion-select>
          </div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.KOLProduct2' | translate}}</div>
          <div class="info-cell value">
            <ion-select #prod2Select placeholder="{{ 'common.defaultSelectValue' | translate }}"
                        class="select select-picklist-button" [(ngModel)]="contact.kolProduct2"
                        [selectOptions]="filterOptions">
              <ion-option *ngFor="let product of productPicklistValues" [value]="product.id"
                          (ionSelect)="setDataAndCloseSelect(ContactScheme.fields.kolProduct2.local, product.id, prod2Select)" multiple="false">{{ product.description }}
              </ion-option>
            </ion-select>
          </div>
        </div>



        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.Speaker' | translate}}</div>
          <div class="info-cell value">
            <input type="checkbox" class="check-box" [(ngModel)]="contact.speaker">
          </div>
        </div>

        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.SpeakerProduct1' | translate}}</div>
          <div class="info-cell value">
            <ion-select #speaker1Select placeholder="{{ 'common.defaultSelectValue' | translate }}"
                        class="select select-picklist-button" [(ngModel)]="contact.speakerProduct1"
                        [selectOptions]="filterOptions">
              <ion-option *ngFor="let product of productPicklistValues" [value]="product.id"
                          (ionSelect)="setDataAndCloseSelect(ContactScheme.fields.speakerProduct1.local, product.id, speaker1Select)" multiple="false">{{ product.description }}
              </ion-option>
            </ion-select>
          </div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.SpeakerProduct2' | translate}}</div>
          <div class="info-cell value">
            <ion-select #speaker2Select placeholder="{{ 'common.defaultSelectValue' | translate }}"
                        class="select select-picklist-button" [(ngModel)]="contact.speakerProduct2"
                        [selectOptions]="filterOptions">
              <ion-option *ngFor="let product of productPicklistValues" [value]="product.id"
                          (ionSelect)="setDataAndCloseSelect(ContactScheme.fields.speakerProduct2.local, product.id, speaker2Select)" multiple="false">{{ product.description }}
              </ion-option>
            </ion-select>
          </div>
        </div>

        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.TerritoryCode' | translate}}</div>
          <div class="info-cell value">
            <ion-input class="input-page-field" type="text" [(ngModel)]="contact.territoryCode"
                       placeholder="{{ 'common.names.TerritoryCode' | translate }}"></ion-input>
          </div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.MylanProductList' | translate}}</div>
          <div class="info-cell value">
            <ion-input class="input-page-field" type="text" [(ngModel)]="contact.mylanProductList"
                       placeholder="{{ 'common.names.MylanProductList' | translate }}"></ion-input>
          </div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.NonMylanProductList' | translate}}</div>
          <div class="info-cell value">
            <ion-input class="input-page-field" type="text" [(ngModel)]="contact.nonMylanProductList"
                       placeholder="{{ 'common.names.NonMylanProductList' | translate }}"></ion-input>
          </div>
        </div>
      </div>
    </div>

    <div class="page-row">
      <div class="info-row one-column-row">
        <div class="info-cell label">{{'card.GeneralInfoFields.SocialOrganizationAndTitle' | translate}}</div>
        <div class="info-cell value">
          <ion-textarea autoresize class="text-area" #description [(ngModel)]="contact.socialOrganizationAndTitle" placeholder="{{ 'common.names.SocialOrganizationAndTitle' | translate }}">
          </ion-textarea>
        </div>
      </div>
    </div>

    <div class="page-row">
      <div class="info-row one-column-row">
        <div class="info-cell label">{{'card.GeneralInfoFields.SpecialtyDescription' | translate}}</div>
        <div class="info-cell value">
          <ion-textarea autoresize class="text-area" #description [(ngModel)]="contact.specialtyDescription" placeholder="{{ 'common.names.SpecialtyDescription' | translate }}">
          </ion-textarea>
        </div>
      </div>
    </div>

    <div class="page-row">
      <div class="info-row one-column-row">
        <div class="info-cell label">{{'card.GeneralInfoFields.HCPDescriptionIntroduction' | translate}}</div>
        <div class="info-cell value">
          <ion-textarea autoresize class="text-area" #description [(ngModel)]="contact.hcpDescriptionIntroduction" placeholder="{{ 'common.names.HCPDescriptionIntroduction' | translate }}">
          </ion-textarea>
        </div>
      </div>
    </div>

    <h2 class="blue-header">{{'card.GeneralInfoFields.Workplace' | translate}}</h2>

    <div class="page-row">
      <div class="page-col">
        <div class="info-row organization-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.Organization' | translate}}</div>
          <div class="info-cell value" (tap)="onTapAccountBtnHandler()">
            <div class="psevdo-text-area" >
              <span [innerHtml]="organization.name"></span>
              <span *ngIf="!organization.name">{{ 'common.names.Organization' | translate }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="page-col">
        <div class="info-row read-only address-row">
          <div class="info-cell label">{{'card.GeneralInfoFields.Address' | translate}}</div>
          <div class="info-cell value">
            <div class="psevdo-text-area" >
              <span [innerHtml]="organization.fullAddress()"></span>
              <span *ngIf="!organization.fullAddress()">{{ 'common.names.Address' | translate }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
