<!--
  Generated template for the AddRedFlagPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-title text-center>
            Red Flag
          </ion-title>
          <ion-buttons right>
          	<button ion-button (click)="validateInputData()">Save</button>
          	<button ion-button *ngIf="deleteButton" color="danger" (click)="deleteRedFlag()">Delete</button>
          </ion-buttons>
        </ion-col>
        	
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<div class="container">
		<div class="row info-row">
			<div class="col">
				<ion-row>
					<ion-col class="col-example">
						<h5>Photo</h5>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<ion-item>
							<button ion-button color="secondary" (click)="getImage()">Get Image</button>
						</ion-item>

						<ion-item>
							<h4>Image Preview</h4>
							<img src="{{imageURI}}" *ngIf="imageURI" alt="Ionic File" width="300" />
						</ion-item>


					</ion-col>
					
				</ion-row>
			</div>
			<div class="col">
				<ion-item>
					<ion-label>Contact Name:</ion-label>
					<ion-input type="text" [(ngModel)]="contactName"></ion-input>
				</ion-item>

				<ion-item>
					<ion-label>Type:</ion-label>
					<ion-input type="text" [(ngModel)]="redFlagType"></ion-input>
				</ion-item>

				<ion-item>
					<ion-label>Contact Number:</ion-label>
					<ion-input type="number" [(ngModel)]="contactNumber"></ion-input>
				</ion-item>

				<ion-item>
					<ion-label>Contact Email:</ion-label>
					<ion-input type="email" [(ngModel)]="contactEmail"></ion-input>
				</ion-item>

				<ion-item>
					<ion-label>Description:</ion-label>
					<ion-textarea type="text" [(ngModel)]="description"></ion-textarea>
				</ion-item>
			</div>
		</div>

	</div>
</ion-content>
