filter-panel-picklist {
  width: 100%;
  font-size: 1.2em;
  display: block;

  .item {
    padding: 0;
    .item-inner{
      padding: 0;
      border: none !important;

      .input-wrapper {
        display: block;

        .picklist-input {
          position: relative;
          margin: 0;
          padding: 3px 10px;
          width: 100%;
          height: 2.4em;
          min-height: 30px;
          border: 1px solid #21b4f3;
          border-radius: 5px;
          font: 95% 'Roboto';
          font-weight: 400;
          color: #21b4f3;
          background: #fff;
          box-sizing: border-box;
          display: -webkit-box;
          -webkit-box-align: center;

          &:after {
            content: '';
            position: absolute;
            right: 10px;
            top: 50%;
            margin-top: -9px;
            display: block;
            width: 10px;
            height: 10px;
            border-right: 2px solid #21b4f3;
            border-bottom: 2px solid #21b4f3;
            -webkit-transform: rotate(45deg);
          }
        }
      }
    }
  }
}
