<ion-item>
  <ion-label [innerHtml]="label"></ion-label>
  <div item-content class="picklist-input">
    {{value.description}}
    <span *ngIf="!value.description">{{'common.defaultSelectValue' | translate }}</span>
  </div>
</ion-item>
