<ion-content class="pin-page-content">
  <form #f="ngForm" (ngSubmit)="onTapSubmitButton()">
    <ion-grid>
      <ion-row>
        <ion-col text-center>
          <ion-input class="pin new-pin" type="password" name="pin" placeholder="{{'pin.Placeholder.Pin' | translate}}" [(ngModel)]='pin' ></ion-input>
        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col text-center>
          <ion-input class="pin confirm-pin" type="password" name="pin-confirm" placeholder="{{'pin.Placeholder.ConfirmPin' | translate}}" [(ngModel)]='confirmPin' ></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col text-center>
          <button ion-button class="confirm" color="primary" type="submit">{{'common.buttons.OkBtn' | translate}}</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
