<ion-header class="page-header">
  <ion-navbar #navbar>
    <div class="row text-center">
      <div class="col-md-10">
        <div class="title">{{ 'card.DCR.Title' | translate }}</div>
      </div>
      <div class="col-md-2">
        <button class="ctrl-btn" *ngIf="isDeleteBtnEnable" (click)="onTapDeleteBtnHandler()">{{ 'common.buttons.DeleteBtn' | translate }}</button>
      </div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content class="content-page-detail">
  <div class="wrapper">

    <div class="page-row">
      <div class="page-col">
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrStatus' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrStatus"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrType' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dcrType"></div>
        </div>
      </div>
      <div class="page-col">
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrDateOfRequest' | translate}}</div>
          <div class="info-cell value" [innerHtml]="dcr.dateOfRequestStr()"></div>
        </div>
      </div>
    </div>

    <h2 class="blue-header">{{'card.ReferencesTableTitle' | translate}}</h2>

    <div class="page-row">
      <div class="page-col">
        <div class="info-row">
          <div class="info-cell label">{{'common.names.PharmaProduct' | translate}}</div>
          <div class="info-cell value" [innerHtml]="productValues[dcr.dcrProductSegmentationPhProduct]"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'common.names.Segmentation1' | translate}}</div>
          <div class="info-cell value" [innerHtml]="segmentationFirstValues[dcr.dcrProductSegmentationSegmentation1]"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'common.names.Segmentation2' | translate}}</div>
          <div class="info-cell value" [innerHtml]="segmentationSecondValues[dcr.dcrProductSegmentationSegmentation2]"></div>
        </div>
      </div>
      <div class="page-col">
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrReferenceCustomer' | translate}}</div>
          <div class="info-cell value hyperlink" (tap)="onTapContactLinkHandler()" [innerHtml]="contact.fullName()"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrCustomerType' | translate}}</div>
          <div class="info-cell value" [innerHtml]="contact.recordType"></div>
        </div>
        <div class="info-row">
          <div class="info-cell label">{{'card.DCR.DcrContactSpecialty' | translate}}</div>
          <div class="info-cell value" [innerHtml]="contact.specialty"></div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
