<ion-header>

  <ion-navbar color="myforce-light" #navbar>

    <ion-title>
      <span *ngIf="isFocusedBrands">{{'BRAND_MATRIX.Page.FocusedBrands.Title' | translate }}</span>
      <span *ngIf="!isFocusedBrands">{{'BRAND_MATRIX.Page.eDetailing.Title' | translate }}</span>
    </ion-title>

    <ion-buttons right>
      <button ion-button solid color="myforce-primary" (click)="onClickStartCall()">{{'common.buttons.StartCall' | translate}}</button>
    </ion-buttons>

  </ion-navbar>

</ion-header>



<ion-content>
  <div class="page-wrapper" ion-fixed>

    <div class="side-wrapper">

      <div class="filter-item">
        <div (click)="applyProductPresentationFilter()"
             [class.selected]="!selectedProductId">{{'BRAND_MATRIX.Page.allFilter' | translate}}</div>

        <div *ngFor="let pp of productPresentationList"
             (click)="applyProductPresentationFilter(pp.product)"
             [class.selected]="pp.product === selectedProductId">
          {{pp.productName}}
        </div>
      </div>

    </div>

    <div class="content-wrapper">
      <div class="presentation-items">
        <presentation-item *ngFor="let item of presentationList" [presentation]="item"></presentation-item>
      </div>
    </div>

  </div>
</ion-content>
