page-brand-matrix {
  .toolbar-ios-myforce-light .back-button{
    color: #21b4f3;
  }

  ion-header {
    ion-buttons{
      button {
        min-width: 8em;

        &:not(:last-of-type) {
          margin-right: 16px;
        }
      }
    }
  }

  .page-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .side-wrapper{
    width: 30%;
    height: 100%;
    background: #f8f7f7;
    border-right: 1px solid #c1c1c1;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    .filter-item > div{
      font-size: 1.3em;
      color: #87878c;
      padding: 1em;
      box-sizing: border-box;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:nth-of-type(even){
        background: white;
      }

      &.selected{
        color: #21b4f3;
        background-color: rgb(200,200,200)
      }
    }
  }

  .content-wrapper{
    width: 70%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;


    .presentation-items{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: 1em;
      justify-content: flex-start;

      presentation-item{
        width: 20%;
        margin: 0.5em;
      }
    }
  }
}
