<div class="presentation-item-wrapper" (click)="onClickOpen($event)">

  <div class="presentation-icon empty" *ngIf="!icon"></div>

  <div class="presentation-icon" *ngIf="icon" [ngStyle]="{'background-image': 'url(' + icon + ')'}"></div>

  <div class="info" [ngClass]="{'loading': loader}">
    <div class="name">
      {{presentation.name}}
    </div>

    <button class="update-btn" ion-button icon-only clear
            *ngIf="isDownloadAvailable || isUpdateAvailable"
            (click)="onClickDownload($event)" >
      <ion-icon name="md-download" color="myforce-primary"></ion-icon>
    </button>
  </div>

  <div class="download-progress" [ngClass]="{'visible': loader}">
    <div class="progress-bar-wrap">
      <div class="custom-progress-bar" [ngStyle]="{'width': (loader && loader.progress || 0 | async)  + '%'}"></div>
    </div>
  </div>

</div>
