presentation-item {

  .presentation-icon {
    &.empty {
      background-image: url('../assets/media/icon.png');
    }

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }

  .info {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2em;

    &.loading {
      pointer-events: none;
      opacity: 0.8;

      .name,
      .update-btn {
        ion-icon {
          color: gray
        }
      }
    }

    .name {
      font-size: 1em;
      font-weight: bold;
      color: #333;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      flex: 1;
      text-align: center;
    }

    .update-btn {
      height: 2em;
      margin: 0 0.2em;
      ion-icon {
        padding: 0;
        font-size: 1.3em;
        line-height: 1;
      }
    }
  }

  .download-progress {
    margin-top: 0.5em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    visibility: hidden;

    &.visible {
      visibility: visible;
    }

    .progress-bar-wrap {
      flex: 1;
      display: flex;
      align-items: center;
      position: relative;
      height: 10px;
      overflow: hidden;
      border-top: 1px solid #c2c2c2;
      background-color: #f7f7f7;
      border-radius: 5px;

      .custom-progress-bar {
        width: 0;
        height: 100%;
        border-radius: 5px;
        background-color: #21b4f3;
        -webkit-transition: 100ms width linear;
      }
    }
  }
}
