page-single-user-list {
  .user-single-table {

    table-header table-header-item,
    table-row .cell {
      &:nth-of-type(1) {
        width: 30%;
      }
      &:last-of-type {
        width: 70%;
      }
    }

    table-row {
      .cell:first-of-type > span {
        position: relative;
        width: 26px;
        height: 26px;

        .check-box{
          position: absolute;
          top: 0;
          left: 0;
          width: 26px;
          height: 26px;
          display: -webkit-box;
          padding: 0;

          .arrow {
            content: '';
            display: none;
            width: 80%;
            height: 60%;
            background: #fff;
            -webkit-mask: url("../../assets//imgs/checkbox.png") center center no-repeat;
            -webkit-mask-size: 100% 100%;
          }

          &.active {
            background: #21b4f3;
            border-color: #21b4f3;

            .arrow {
              display: block;
            }
          }
        }
        .contact-id{
          display: none;
        }
      }
    }
  }
}
