<ion-header>

  <ion-navbar color="myforce-light">

    <ion-title>
      {{'Media.HeaderTitle' | translate }}
    </ion-title>

    <ion-buttons right>
      <button ion-button solid color="myforce-primary" (click)="onClickDownloadAll()">{{'common.buttons.DownloadAll' | translate}}</button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content>
  <div *ngFor="let item of list;">
    <app-presentation-list-item [presentation]="item"></app-presentation-list-item>
  </div>
</ion-content>
